
@import "../util/util.scss";

.search-for-others {
	min-width: 330px;
	
	.custom-container {
		padding: 0 20px;
	}

	// .nav-item-text-6 {
	// 	background-color: rgba(255, 255, 255, 0.19);

	// 	@media (min-width: $screen-lg-min) {
	// 		border-bottom: solid 1px #1c6897; 
	// 	}
	// }

	.search-for-others-top-sec {
		position: relative;
		min-height: 205px;
		background-color: $main-white;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

		@media (min-width: $screen-lg-min) {
			background-image: url('../common/images/search-results-header-visuals.png');
			height: 308px;
			background-size: auto;
			background-repeat: no-repeat;
			background-position: left;
			//padding: 120px 0 0 0;
		}

		@media (min-width: $screen-lg-min) {
			background-image: url('../common/images/search-results-header-visuals.png');
			height: 260px;
			background-size: auto;
			background-repeat: no-repeat;
			background-position: left;
			background-size: 30%;
		}

		@media (min-width: $screen-xl-min) {
			height: 308px;
		}

		@media (max-width: 340px) {
			height: 240px;
			box-shadow: none;
		}

		.right-line {
			position: absolute;
			right: 0;
			left: auto;
			width: 5px;
			height: 100%;
			border-radius: 4px 0 0 4px;
			background-color: #1c6897;

			@media (min-width: $screen-lg-min) {
				width: 11px;
			}
		}

		.search-results-container {
			width: 100%;
			margin: 0 auto;
			padding-top: 73px;

			@media (min-width: $screen-lg-min) {
				padding-top: 96px;
			}

			@media (min-width: $screen-xl-min) {
				padding-top: 120px;
			}

			h1 {

				font-size: 2.5rem;
				font-weight: 500;
				line-height: 1;
				color: $cobalt;

				@media (min-width: $screen-lg-min) {
					font-size: 6.2rem;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					text-align: center;
				}
			}

			p {
				font-size: 3rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #4e5665;
				max-width: 640px;
			}
		}
	}

	.search-for-others-body {
		position: relative;

		@media (min-width: $screen-lg-min) {
			padding: 67px 20px 0;
			margin: 0 auto 91px;
		} 

		.options-wrapper {
		    position: sticky;
		    top: 70px;
		    display: inline-table;

			@media (min-width: $screen-lg-min) {
				width: 293px;
			} 

			h3 {
				font-size: 3rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: $text-dark-grey;
			}

			.filter-option-wrapper {
				min-height: 89px;
				display: flex;
				//flex-direction: row;
				align-items: center;
				border-bottom: $bottom-border-question 1px solid;

				@media (min-width: $screen-lg-min) {
				}

				&:last-of-type {
					margin: 0;
				}


				.filter-option-btn {
					font-size: 3.2rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.72;
					letter-spacing: 0.6px;
					white-space: nowrap;
					color: $cobalt;
					background-color: transparent;
					border: none;
					box-shadow: none;
					padding: 0;
				}
			}
		}

		.results-wrapper {
			padding: 13px 0 0 0;
			max-width: 870px;
    		width: 100%;


			.details-main-wrapper {
				font-size: 1.6rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.5;
				letter-spacing: normal;
				color: #505050;

				@media (min-width: $screen-lg-min) {
					margin: 0 0 24px 0;
					font-size: 2rem;
				}

				span {
					font-weight: 500;
				}

				// .font-weight-normal {
				// 	font-weight: normal;
				// }

				.number {
					font-size: 1.7rem;
				}
			}

			.search-results-content-head {
		
  				@media (min-width: $screen-lg-min) {
					font-size: 3.2rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.78;
					letter-spacing: normal;
					text-align: right;
					color: $header-blue;
				}

			}

			.search-result-sub-head {
				font-size: 1.6rem;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				max-width: 250px;
				color: $bids-dark-blue;

				@media (min-width: $screen-lg-min) {
					font-size: 3.2rem;
					text-align: center;
					max-width: 120px;
				}
			}

			.logo-container {
				position: absolute;
				top: 10px;
				left: 10px;
				right: auto;

				@media (min-width: $screen-lg-min) {
					position: static;
					margin-top: 13px;
				}
			}

			.bid-result-right-logo {
				width: 57px;
  				height: 71px;
  				position: absolute;
  				bottom: 0;
  				left: 10px;
  				right: auto;

				@media (min-width: $screen-lg-min) {
					width: 71px;
					height: 89px;
					margin: 0 0 18px 0;
					position: static;
				}
			}	

			.result-container {
				margin: 0 0 30px 0;
				height: auto;
				border-radius: 4px;
				background-color: #ffffff;
				box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
				position: relative;
				width: 100%;

				@media (min-width: $screen-lg-min) {
					min-height: 265px;
					margin: 0 0 50px 0;
				}

				&:last-child {
					margin: 0;
				}

				.right-line {
					width: 7px;
					height: 100%;
					border-radius: 4px 0 0 4px;
					position: absolute;
					right: 0;
					left: auto;
				}

				.content-wrapper {

					padding: 28px 23px 21px;	

					@media (min-width: $screen-lg-min) {
						padding: 7px 39px 5px 20px; 
					}
				}

				.details-wrapper {
					max-width: 695px;
				}

				h2 {
					max-width: 255px;
					color: $header-blue;

					@media (min-width: $screen-lg-min) {
						max-width: 520px;
					}
				}
				
				h3 {
					color: $bids-dark-blue;
				}

				.right-line {
					background-color: $bids-dark-blue;
				}

				.tender-icon, .central-tender-icon {
					height: 52px;
					width: 52px;

					@media (min-width: $screen-lg-min) {
						height: 92px;
						width: 92px;
					}
				}

				.exemption-card-icon {
					height: 52px;
					width: 52px;

					@media (min-width: $screen-lg-min) {
						height: 92px;
				    	width: 83px;
					}
				}

				.last-date {
					color: $bids-dark-blue;
				}

				&:last-child {
					@media (min-width: $screen-lg-min) {
						margin: 0;
					}
				}
			}

			.exemption-search-result {
    			.right-line {
					background-color: $exemption-orange !important;
				}

				.search-result-sub-head, .last-date {
					color: $exemption-orange !important;
				}
    		}
		}

		.results-divider {
			width: 100%;
			height: 1px;
			display: block;
			margin: 50px 0;
			background-color: #505050;
		}
	}
}

*:focus {
	//outline: none;

	@media (min-width: $screen-lg-min) {
		//outline: inherit;
		outline-color: #80bdff;
		outline-width: 2px;
		outline-style: solid;
	}
}