@import "../common/common.scss";

.green-r {

	.custom-container {
		padding: 0 20px;
	}

	.nav-item-text-6 {
      background-color: rgba(255, 255, 255, 0.19);
      border-bottom: solid 1px #1c6897; 
	}

	.green-r-top-sec {
		position: relative;
		height: 205px;
		background-color: $main-white;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
		background-image: url('../common/img/background-pic-green-r.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position-y: -4px;
		background-position-x: 7px;

		@media (min-width: $screen-lg-min) {
			height: fit-content;
			background-size: contain;
		}

		.right-line {
			position: absolute;
			right: 0;
			top: -4px;
			width: 5px;
			height: 104%;
			border-radius: 4px;
			background-color: $rechesh-green;

			@media (min-width: $screen-lg-min) {
				width: 11px;
				top: -7px;
			}
		}

		.top-sec-container {
			max-width: 1282px; 
			width: 100%;
			padding: 0;
			height: fit-content;

			@media (min-width: $screen-lg-min) {
				height: 297px;
				padding: 29px 30px 0;
			}

			.green-r-breadcrumb-wrapper {
				//margin:0 34px 0 0;	

				@media (min-width: $screen-lg-min) {
					margin:0 127px 35px 0;
				}

				.breadcrumb {
					margin: 0;	
				}

				.breadcrumb-item  {
					color: $rechesh-green;
					font-size: 1.6rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.75;
					letter-spacing: normal;
				}
			}

			.green-r-p-sec {
				margin: 73px 25px 15px;

				@media (min-width: $screen-lg-min) {
					margin: 0;
				}	

				.green-r-p-container {

					@media (min-width: $screen-lg-min) {
						//margin:29px 20px 116px 0;
					}	
				}

				.green-r-p-wrapper {
					order: 2;
					margin: 0;

					@media (min-width: $screen-lg-min) {
						margin: 0 35px 0 0;
					}
				}

				.green-top-icon {
					order: 1;
					width: 88px;
					height: 116px;
					object-fit: contain;
				}	

				.green-r-head {
					font-size: 3rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.83;
					letter-spacing: normal;
					color: $rechesh-green;

					@media (min-width: $screen-lg-min) {
						font-size: 6.2rem;
						font-weight: 500;
						line-height: normal;
						margin: 0 0 3px 0;
					}	
				}

				.green-r-top-p {
					font-size: 1.6rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.25;
					letter-spacing: normal;
					color: #4e5665;
					margin: 0 0 0 40px;

					@media (min-width: $screen-md-min) {
						max-width: 600px;
					}	

					@media (min-width: $screen-lg-min) {
						max-width: 1222px;
						font-size: 3rem;
						line-height: normal;
						letter-spacing: normal;
					}	
				}
			}
		}
	}

	.green-r-body {
		//height: 567px;

		.green-r-body-wrapper {
			width: 100%;
			margin:0 0 77px 0;

			@media (min-width: $screen-lg-min) {
				margin:0 0 81px 0;
			}

			.green-r-body-p-wrapper {
				margin: 21px 0 30px;

				@media (min-width: $screen-lg-min) {
					max-width: 1222px;
					padding: 0;
				}	
			}

			.green-r-body-first-p {
				margin-bottom: 0;
				font-size: 1.6rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.25;
				letter-spacing: normal;
				text-align: right;
				color: #4e5665;
			}

			.green-r-accordion-wrapper {

				.card-1, .card-2, .card-3 {
					border-right: 5px solid $rechesh-green;
					border-radius: 2px;
					background-color: $main-white;
					box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
					min-height: 140px;
					margin-bottom: 32px;
					position: relative;

					@media (min-width: $screen-lg-min) {
						min-height: 264px;
						padding: 0;
					}

					.collapsed-p {
						padding: 0 0 37px 0;

						@media (min-width: $screen-lg-min) {
							padding: 88px 0 60px 0;
						}
					}

					.card-header {
						border-radius: 0;
					    padding: 0;
					    margin-bottom: 0;
					    background-color: $main-white;
					    border-bottom: none;
					    width: fit-content;
					}

					.top-sec-card-header {
						padding: 0 14px 10px 0;

						@media (min-width: $screen-lg-min) {
							padding: 0 91.5px 20px 0;
						}	
					}

					h2 {
						font-size: 2rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.25;
						letter-spacing: normal;
						color: $rechesh-green;
						font-family: $main-font;
						padding-top: 17px;
						height: fit-content;
						margin: 0;

						@media (min-width: $screen-lg-min) {
							padding: 0;
							font-size: 3.2rem;
							line-height: 0.78;
						}	
					}

					p, .card-block {
						font-size: 1.5rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.33;
						letter-spacing: normal;
						color: #505050;
						font-family: $main-font;
						margin: 0 14px 0 30px; 

						@media (min-width: $screen-lg-min) {
							max-width: 785px;
							margin:0 91.5px 0 60px;
							font-size: 1.6rem;
							line-height: 1.75;
						}	
					}
				}

				.card-3 {
					margin: 0;
				}

				.collapse-arrow {
			 		//margin: 0 0 7px 10px;
			 		width: 15px;
					height: 13px; 
					position: absolute;
					left: 10px;
					bottom: 9px;

					@media (min-width: $screen-lg-min) {
						width: 30;
    					height: 26px;
    					margin: 0;
    					left: 25px;
    					bottom: 23px;
					}	 
				}

				.show + .collapse-arrow {
					transform: rotate(90deg);
				}	
			}
		}
	}

	.green-r-footer {
		padding: 69px 0 0 0;
		margin: 0 46px 0;
		border-top: solid 2px rgba(224,224,224,.3);

		@media (min-width: $screen-lg-min) {
			margin: 0 165px 0;
			padding: 58px 0 0 0;
		}	
	}
}	