
@import "../util/util.scss";

.search-results, .search-results-exemption {
	min-width: 330px;
	
	.custom-container {
		padding: 0 20px;
	}

	// .nav-item-text-6 {
	// 	background-color: rgba(255, 255, 255, 0.19);

	// 	@media (min-width: $screen-lg-min) {
	// 		border-bottom: solid 1px #1c6897; 
	// 	}
	// }

	.search-results-top-sec, .search-results-exemption-top-sec {
		position: relative;
		min-height: 205px;
		background-color: $main-white;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

		@media (min-width: $screen-lg-min) {
			background-image: url('../common/img/search-results-header-visuals.png');
			height: 308px;
			background-size: auto;
			background-repeat: no-repeat;
			//padding: 120px 0 0 0;
		}

		@media (max-width: 340px) {
			height: 240px;
			box-shadow: none;
		}

		.right-line {
			position: absolute;
			right: 0;
			left: auto;
			width: 5px;
			height: 100%;
			border-radius: 4px 0 0 4px;
			background-color: #1c6897;

			@media (min-width: $screen-lg-min) {
				width: 11px;
			}
		}

		.search-results-container {
			width: 100%;
			margin: 0 auto;
			padding-top: 73px;

			@media (min-width: $screen-lg-min) {
				padding-top: 120px;
			}

			h1 {

				font-size: 2.5rem;
				font-weight: 500;
				line-height: 1;
				color: $cobalt;

				@media (min-width: $screen-lg-min) {
					font-size: 6.2rem;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					text-align: center;
				}
			}

			p {
				font-size: 3rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #4e5665;
			}
		}
	}

	.search-results-body {
		margin: 0 0 97px 0;

		@media (min-width: $screen-lg-min) {
			margin: 0;
			padding: 50px 20px 198px;
		}

		.search-results-body-wrapper {
			width: 100%;
			padding: 0;

			@media (min-width: $screen-lg-min) {
				padding: 0 20px;
			}

			.filter-mobile-container {
				height: 101px;
				width: 100%;
				background-color: $main-white;

				.filter-mobile-wrapper {
					width: 100px;

					h3 {
						margin: 0;
					}
				}

				span {
					width: 8px;
					height: 8px;
					border: solid #4e5665;
					border-width: 0 2px 2px 0;	
				    display: inline-block;
				    transform: rotate(45deg);
				    pointer-events: none;
				}
				

				.filter-icon {
					width: 23px;
					height: 22px;
					margin: 0 0 3px 0;
				}

				.mobile-filter-head {
					font-size: 1.6rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.38;
					letter-spacing: normal;
					color: $cobalt;
				}
			}

			.status-filter-wrapper, .office-filter-wrapper {
				padding: 0 20px 0 0;

				@media (min-width: $screen-lg-min) {
					padding: 0 0 23px 0;
				}
			}

			.search-results-filter-container {
				min-height: 500px;
				min-width: 274px;
				height: 100%;
				width: 100%;
				flex: 1;

				@media (min-width: $screen-lg-min) {
					margin: 0 0 0 25px;
				}

				.search-results-filter-wrapper {

					@media (min-width: $screen-lg-min) {
						max-width: 270px;
					}
				}

				.close-filter-container {
					height: 93px;
					// border-bottom: solid 1px #dddddd;
					border: solid #dddddd;
					border-width: 1px 0 0 0;
					padding: 0 0 0 24px;
					margin: 0 20px 0 0;

					@media (min-width: $screen-lg-min) {
						border: solid #dddddd;
						border-width: 1px 0 0 0;
						// border: solid #dddddd;
						// border-width: 0 0 1px 0;
						height: 90px;
						padding: 0;
						margin: 0;
						
						cursor: pointer;
					}

					&:first-child {
						border: 0;
					}

					h3 {

						font-size: 3.2rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.72;
						letter-spacing: 0.6px;
						color: $cobalt;
						margin: 0;

						@media (min-width: $screen-lg-min) {
							
						}
					}

					.filter-arrow {
						width: 15px;
						height: 15px;
						border: solid $cobalt;
					    border-width: 0 2px 2px 0;
					    display: inline-block;
					    transform: rotate(135deg);
					    pointer-events: none;
					    margin: 0 0 0 -8px;
					}

					.rotate {
						transform: rotate(45deg);
						margin-top: -10px;
					}
				}

				.tags-filter-close {
					border: solid #dddddd;
					border-width: 1px 0;
				}

				.tags-wrapper {
					padding-bottom: 25px;

					@media (min-width: $screen-lg-min) {
						padding-bottom: 0;
					}
				}

				.tag-wrapper {
					opacity: 0.8;
					width: 190px;
					height: 57px;
					border-radius: 2px;
					background-color: rgba(233, 235, 240, 0.5);
					margin: 0 0 10px 0;
					

					@media (min-width: $screen-lg-min) {
						width: 190px;
						height: 57px;
					}

					span {
						font-size: 2rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 2.7;
						letter-spacing: normal;
						color: $text-dark-grey!important;
					}
				}

				.tags-filter-wrapper {
					@media (min-width: $screen-lg-min) {
						padding-bottom: 35px;
					}
				}

				.border-none {
					
					border-bottom: 0;

					@media (min-width: $screen-lg-min) {
						
					}
				}

				.border-b {
					border-bottom: 1px solid #dddddd;;
				}


				.date-filter-close.border-none {
					
					@media (min-width: $screen-lg-min) {
						margin: 0 0 -5px 0;
					}
				}

				.type-filter-wrapper {

					padding: 0 22px 0 0;
					margin: 0 0 39px 0;

					@media (min-width: $screen-lg-min) {
						 padding: 0 0 39px 0;
						 margin: 0;
					}
				}

				.checkbox {

					label {
						margin: 0;
					}

					span {
						font-size: 2rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						letter-spacing: 0.3px;
						color: $text-dark-grey;
					}
				

					.main-label {
						font-weight: 500;
						line-height: 2.75;
						margin: 0;
					}

					input {
						-webkit-appearance: none;
						width: 15px;
						height: 14px;
						border-radius: 2px;
						background-color: $main-white;
						border: solid 1px #bcbcba;
						margin: 0 0 -1px 15px;
					}

					input[type="checkbox"]:checked {
						 display:inline-block;
  
						&:after{
							content: '';
							display: block;
							margin: 0 auto;
							width: 6px;
							height: 10px;
							border: solid $cobalt;
							border-width: 0 2px 2px 0;
							transform: rotate(45deg);
						}
					}
				}

				.date-filter-wrapper, .last-date-filter-wrapper, .amount-filter-wrapper {

					padding: 0 20px 21px 24px;

					@media (min-width: $screen-lg-min) {
						margin: 0 0 44px 0;
						padding: 0;
					}

					input {
						width: 203px;
						height: 32px;
						border-radius: 1.5px;
						background-color: #ffffff;
						border: solid 0.5px #d4d4d4;
						-webkit-appearance: none;
						flex: none;
						padding: 0 8px;
					}

					

					.input-wrapper {
						position: relative;

						img {
							position: absolute;
							width: 20px;
							height: 20px;
							left: 6px; 
							right: auto;
							top: 50%;
							margin: -10px 0 0 0;
							z-index: 100;
							pointer-events: none;
						}
					}

					.input-group-1 {
						margin: 0 0 15px 0;
					}
				}

				.input-wrapper .amount-1 {
					margin: 0 0 15px 0;
				}
			}

			.search-results-content {
				width: 100%;
				max-width: 870px;
				padding: 0 10px;

				@media (min-width: $screen-lg-min) {
					padding: 26px 0 0 0; 
 				}

				h2 {
					font-size: 2rem;
					line-height: 1;
					font-weight: normal;
					margin: 0 0 20px 0;

					@media (min-width: $screen-lg-min) {
						font-size: 3.2rem;
						font-style: normal;
						font-stretch: normal;
						line-height: 0.78;
						letter-spacing: normal;
						color: $text-dark-grey;
						margin: 0 0 14px 0;
						max-width: none;
					}
				}
			}

			.details-main-wrapper {
				font-size: 1.6rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.44;
				letter-spacing: normal;
				color: #505050;

				@media (min-width: $screen-lg-min) {
					margin: 0 0 24px 0;
					font-size: 2rem;
					line-height: 1.5;
				}

				span {
					font-weight: 500;
				}

				// .font-weight-normal {
				// 	font-weight: normal;
				// }

				.number {
					font-size: 1.7rem;
				}
			}

			.search-result-sub-head {
				font-size: 1.6rem;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;

				@media (min-width: $screen-lg-min) {
					font-size: 3.2rem;
					text-align: center;
				}
			}

			.logo-container {
				position: absolute;
				top: 10px;
				left: 10px;
				right: auto;

				@media (min-width: $screen-lg-min) {
					position: static;
					margin-top: 13px;
				}
			}

			.health-department-logo {
				width: 57px;
  				height: 71px;
  				position: absolute;
  				bottom: 0;
  				left: 10px;
  				right: auto;

				@media (min-width: $screen-lg-min) {
					width: 71px;
					height: 89px;
					margin: 0 0 18px 0;
					position: static;
				}
			}	

			.result-a-wrapper {
				margin: 0 0 30px 0;
				display: block;

				@media (min-width: $screen-lg-min) {
					margin: 0 0 50px 0;
				}

				&:last-child {
					margin: 0;
				}
			}

			.result-container {
				height: auto;
				border-radius: 4px;
				background-color: #ffffff;
				box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
				position: relative;
				width: 100%;

				@media (min-width: $screen-lg-min) {
					min-height: 265px;
				}

				.right-line {
					width: 7px;
					height: 100%;
					border-radius: 4px 0 0 4px;
					position: absolute;
					right: 0;
					left: auto;
				}

				.content-wrapper {

					padding: 28px 23px 21px;	

					@media (min-width: $screen-lg-min) {
						padding: 7px 39px 5px 20px; 
					}
				}

				.details-wrapper {
					max-width: 695px;
				}

				h2 {
					max-width: 210px;
					color: $header-blue;

					@media (min-width: $screen-lg-min) {
						max-width: 520px;
					}
				}
				
				h3 {
					color: $bids-dark-blue;
				}

				.right-line {
					background-color: $bids-dark-blue;
				}

				.tender-icon, .central-tender-icon {
					height: 52px;
					width: 52px;

					@media (min-width: $screen-lg-min) {
						height: 92px;
						width: 92px;
					}
				}

				.last-date {
					color: $bids-dark-blue;
				}

				&:last-child {
					@media (min-width: $screen-lg-min) {
						margin: 0;
					}
				}
			}

			p {
				@media (min-width: $screen-lg-min) {
					max-width: 687px;
				}
			}
		}
	}

	// .search-results-footer {
	// 	padding: 69px 0 0 0;
	// 	margin: 0 46px 0;
	// 	border-top: solid 2px $footer-border;

	// 	@media (min-width: $screen-lg-min) {
	// 		margin: 0 auto;
	// 		max-width: 1271px;
	// 		padding: 50px 0 0 0;
	// 	}	
	// }

	// .calender-block {
	//   padding-left: 0;
	//   padding-right: 0;

	//   @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
	//     overflow-x: scroll;
	//   }
	// }

	// .user-calendar-activities {
	//   .str-truncated {
	//     max-width: 70%;
	//   }

	//   .user-calendar-activities-loading {
	//     font-size: 24px;
	//   }
	// }

	// .user-calendar {
	//   text-align: center;

	//   .calendar {
	//     display: inline-block;
	//   }
	// }

	// .user-contrib-cell {
	//   &:hover {
	//     cursor: pointer;
	//     stroke: $black;
	//   }
	// }

	// .user-contrib-text {
	//   font-size: 12px;
	//   //fill: $calendar-user-contrib-text;
	// }

	// .calendar-hint {
	//   margin-top: -23px;
	//   float: right;
	//   font-size: 12px;
	// }

	// .pika-single.gitlab-theme {
	//   .pika-label {
	//     //color: $gl-gray;
	//     font-size: 14px;
	//     font-weight: normal;
	//   }

	//   th {
	//     padding: 2px 0;
	//     //color: $note-disabled-comment-color;
	//     font-weight: normal;
	//     text-transform: lowercase;
	//     //border-top: 1px solid $calendar-border-color;
	//   }

	//   abbr {
	//     cursor: default;
	//   }

	//   td {
	//     //border: 1px solid $calendar-border-color;

	//     &:first-child {
	//       border-left: 0;
	//     }

	//     &:last-child {
	//       border-right: 0;
	//     }
	//   }

	//   .pika-day {
	//     border-radius: 0;
	//     //background-color: $white-light;
	//     text-align: center;
	//   }

	//   .is-today {
	//     .pika-day {
	//       color: inherit;
	//       font-weight: normal;
	//     }
	//   }

	//   .is-selected .pika-day,
	//   .pika-day:hover,
	//   .is-today .pika-day:hover {
	//     //background: $gl-primary;
	//     //color: $white-light;
	//     box-shadow: none;
	//   }
	// }
}