$main-white: #fff;
$ent-bnt-font-color: #0a7bb6;
$swiper-bullet: rgba(255, 255, 255, 0.6);
$header-blue: #0a7bb6;
$input-toggle-text: #666666;
$main-input-text:  rgb(142,147,158);
$background-p-img: rgba(0, 0, 0, 0.4);
$ent-btn-background: #f5891b;
$cobalt: #1c6897;
$rechesh-green: #33a38d;
$main-purple: #6266a6;
$bottom-border-question: rgba(78,86,101,0.2);
$background-answer-mobile: #f6f6f6; 
$contact-us-input-text: #6a768a;
$modal-background-color:  rgba(10, 123, 182, 0.4);
$text-dark-grey: #4e5665;
$td-background: rgba(233, 235, 240, 0.5);
$footer-border: rgba(224,224,224,.3);
$bids-dark-blue: #02448e;
$status-green: #33a38d;
$bids-border: rgba(106,118,138,.2);
$bids-mobile-border: #6a768a;
$bids-purple: rgba(98, 102, 166, 0.15);
$bids-links: #1f86bc;
$transparent: rgba(255,255,255,.2);
$mepharsemim-blue-arrow: #0077bf;
$mepharsemim-grey-background: rgba(233, 235, 240, 0.5);
$fully-transparent: rgba(0, 0, 0, 0);
$main-text-grey: #505050;
$main-orange: #df6e11;
$exemption-orange: #df7b11;


// tender status colors
$new: #33a35d;
$updated: #338ca3;
$closed: #a33333;
$pre-committees-decision: #7b33a3;
$cancelled: #a3a3a3;
