<section>
	<div class="top-sec-wrapper d-flex flex-column align-items-center flex-xl-row">
		<div class="main-gallery d-flex flex-column">
			<div class="swiper-container">
			    <div class="swiper-wrapper">
			        <div class="swiper-slide swiper-slide-1">
			        	<div class="main-gallery-wrapper-s-1 d-flex flex-column justify-content-end">
				        	<div class="main-gallery-container-p-s-1 d-flex flex-column">
				        		<div class="main-gallery-wrapper-p-s-1">
						        	<p class="main-gallery-sp-1">
									פיתוח יחידות תוכן דיגיטליות 
									חינוכיות בנושאי סביבה
									</p>
									<p class="main-gallery-sp-2">
										המשרד להגנת הסביבה
									</p>
									<p class="main-gallery-sp-3">
										מועד אחרון להגשה |  11.12.2017
									</p>
								</div>
							</div>
			    		</div>
			    	</div>
			        <div class="swiper-slide swiper-slide-2 d-flex justify-content-end flex-column">
			        	<div class="main-gallery-wrapper-s-2 d-flex flex-column justify-content-lg-start justify-content-end">
				        	<div class="main-gallery-container-p-s-2 d-flex flex-column justify-content-end">
				        		<div class="main-gallery-wrapper-p-s-2">
						        	<p class="main-gallery-sp-1">
										פיתוח יחידות תוכן דיגיטליות 
										חינוכיות בנושאי סביבה
									</p>
									<p class="main-gallery-sp-2">
										המשרד להגנת הסביבה
									</p>
									<p class="main-gallery-sp-3">
										מועד אחרון להגשה |  11.12.2017
									</p>
								</div>
							</div>
			    		</div>
			        </div>
			        <div class="swiper-slide swiper-slide-3 d-lg-flex flex-column justify-content-end">
			        	<div class="main-gallery-wrapper-s-3 d-flex flex-column justify-content-lg-start justify-content-end">
				        	<div class="main-gallery-container-p-s-3 d-flex flex-column justify-content-end">
				        		<div class="main-gallery-wrapper-p-s-3">
						        	<p class="main-gallery-sp-1">
										פיתוח יחידות תוכן דיגיטליות 
										חינוכיות בנושאי סביבה
									</p>
									<p class="main-gallery-sp-2">
										המשרד להגנת הסביבה
									</p>
									<p class="main-gallery-sp-3">
										מועד אחרון להגשה |  11.12.2017
									</p>
								</div>
							</div>
			    		</div>
			        </div>
			        <div class="swiper-slide swiper-slide-4 d-lg-flex flex-column justify-content-end">
			        	<div class="main-gallery-wrapper-s-4 d-flex flex-column justify-content-lg-start justify-content-end">
				        	<div class="main-gallery-container-p-s-4 d-flex flex-column justify-content-end">
				        		<div class="main-gallery-wrapper-p-s-4">
						        	<p class="main-gallery-sp-1">
										פיתוח יחידות תוכן דיגיטליות 
										חינוכיות בנושאי סביבה
									</p>
									<p class="main-gallery-sp-2">
										המשרד להגנת הסביבה
									</p>
									<p class="main-gallery-sp-3">
										מועד אחרון להגשה |  11.12.2017
									</p>
								</div>
							</div>
			    		</div>
			        </div>
			        <div class="swiper-slide swiper-slide-5 d-lg-flex flex-column justify-content-end">
			        	<div class="main-gallery-wrapper-s-5 d-flex flex-column justify-content-lg-start justify-content-end">
				        	<div class="main-gallery-container-p-s-5 d-flex flex-column justify-content-end">
				        		<div class="main-gallery-wrapper-p-s-5">
						        	<p class="main-gallery-sp-1">
										פיתוח יחידות תוכן דיגיטליות 
										חינוכיות בנושאי סביבה
									</p>
									<p class="main-gallery-sp-2">
										המשרד להגנת הסביבה
									</p>
									<p class="main-gallery-sp-3">
										מועד אחרון להגשה |  11.12.2017
									</p>
								</div>
							</div>
			    		</div>
			        </div>
			    </div>
			    <!-- <div class="swiper-p-background">
				    
			    </div> -->
			    <div class="swiper-pagination">
				    	
				</div>
			</div>
		</div>
		<div class="top-sec-left">
			<div class="top-sec-left-img d-flex flex-column justify-content-end">
				<div class="topSecP-container">
					<div class="topSecP-wrapper">
						<p class="topSecP-1">
							פיתוח יחידות תוכן דיגיטליות 
							חינוכיות בנושאי סביבה
						</p>
						<p class="topSecP-2">
							המשרד להגנת הסביבה
						</p>
						<p class="topSecP-3">
							מועד אחרון להגשה |  11.12.2017
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="top-sec-bottom-wrapper d-flex flex-column flex-xl-row align-items-center justify-content-lg-center">
		<div class="sign-up-wrapper d-flex flex-column flex-xl-row align-items-center">
			<div class="sign-up-container d-flex">
				<div class="sign-up d-xl-flex align-items-xl-end">
					<div class="sign-up-p-sec">
						<div class="sign-up-p-wrapper d-flex flex-column justify-content-start">	
							<p class="sign-up-p-1">הרשמה למרכז ההתראות</p>
							<p class="sign-up-p-2 d-md-none d-xl-block">את או ממשלה באלה הציבור את בידיו 
							והיא ומכהנת סמכויות, מורכבת של כלל האחראית הקיים הביצועיות.
							</p>
							<button class="sign-up-button">
								הרשמה 
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="second-img-container">
				<div class="second-img-wrapper d-flex flex-column justify-content-end">
					<div class="second-img-p-wrapper d-flex flex-column justify-content-start">
						<p class="second-img-p-1">הרשמה למרכז ההתראות</p>
						<p class="second-img-p-2">את או ממשלה באלה הציבור את בידיו 
							והיא ומכהנת סמכויות, מורכבת של כלל האחראית הקיים הביצועיות.
						</p>
					</div>
				</div>
			</div>
			<div  class="third-img-container">
				<div class="third-img-wrapper d-flex flex-column justify-content-end">
					<div class="third-img-p-wrapper d-flex flex-column justify-content-start">	
						<p class="third-img-p-1">הרשמה למרכז ההתראות</p>
						<p class="third-img-p-2">את או ממשלה באלה הציבור את בידיו 
							והיא ומכהנת סמכויות, מורכבת של כלל האחראית הקיים הביצועיות.
						</p>
					</div>
				</div>	
			</div>	
		</div>
	</div>
	<div class="bottom-sec-p">
		<p>
			את או ממשלה באלה הציבור את בידיו והיא ומכהנת סמכויות, מורכבת של כלל האחראית הקיים הביצועיות על היא משפטית הממשלה. החוק היא שמקבל ומקיים גביית ובעלת שלום מכוח של בזמן
		</p>
	</div>
	<div class="bottom-sec d-flex flex-column flex-xl-row">
		<div class="bottom-sec-wrapper-1">
			<div class="bottom-sec-img-1">
				
			</div>
			<div class="bottom-sec-p-wrapper-1">
				<p class="p-head-1">כותרת נושא</p>
				<p class="bottom-sec-p-1">את או ממשלה באלה הציבור את בידיו והיא ומכהנת סמכויות, מורכבת של כלל האחראית הקיים הביצועיות על היא.</p>
			</div>
		</div>
		<div class="bottom-sec-wrapper-2">
			<div class="bottom-sec-img-2">
				
			</div>
			<div class="bottom-sec-p-wrapper-2">
				<p class="p-head-2">כותרת נושא</p>
				<p class="bottom-sec-p-2">את או ממשלה באלה הציבור את בידיו והיא ומכהנת סמכויות, מורכבת של כלל האחראית הקיים הביצועיות על היא.</p>
			</div>
		</div>
		<div  class="bottom-sec-wrapper-3">
			<div  class="bottom-sec-img-3">
				
			</div>	
			<div class="bottom-sec-p-wrapper-3">
				<p class="p-head-3">כותרת נושא</p>
				<p class="bottom-sec-p-3">את או ממשלה באלה הציבור את בידיו והיא ומכהנת סמכויות, מורכבת של כלל האחראית הקיים הביצועיות על היא.</p>
			</div>
		</div>	
	</div>
</section>
