<footer class="d-flex justify-content-center flex-column align-items-center">
	<div class="logo-merkava-warpper d-md-flex d-xl-none justify-content-center">
		<img src="../img/logo-merkava.png"
		     srcset="../img/logo-merkava@2x.png 2x,
		             ../img/logo-merkava@3x.png 3x"
		     class="LogoMerkava">
	</div>
	<div class="footer-nav-wrapper d-flex justify-content-center align-items-center">
		<ul class="footer-nav d-flex flex-wrap justify-content-center"> 
			<a href="">
				<li class="first">
					חוק חופש המידע
				</li>
			</a>
			<a href="">
				<li class="second">
					תנאי שימוש באתר
				</li>
			</a>
			<a href="">
				<li class="third">
					מפת אתר
				</li>
			</a>
			<a href="">
				<li class="last">
					צור קשר
				</li>
			</a>
			<a href="">
				<li class="d-none d-xl-block lastXl">
					מופעל ע"י מרכב"ה
				</li>
			</a>
		</ul>
		<img src="../img/logo-merkava.svg"
     		class="LogoMerkavaXl d-none d-xl-block">
	</div>
</footer>