@import "../styles/color-palette.scss";

$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$main-font: FbReforma;


@font-face {
  font-family: "FbReforma";
  src: url("../fonts/FbReforma-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "FbReforma";
  src: url("../fonts/FbReforma-Medium.otf") format("opentype");
  font-weight: 500;
}


html {
  direction: rtl;
  font-family: $main-font;
  font-size: 10px;
  text-align: right;
}

body {
  text-align: right;
}

ul {  
  text-decoration: none;
  list-style: none;
  font-family: $main-font;
}

a {
  text-decoration: none;
  font-family: $main-font;
}

p {
  font-family: $main-font;
  text-align: right;
}

.custom-container {
  padding: 0 23px;

  @media (min-width: $screen-md-min) {
		padding: 0 18px;
	}

  @media (min-width: $screen-lg-min) {
    max-width: 1222px;
    padding: 0 20px;
  }
}

.signin {

	/* --header-- */

	header {
		object-fit: contain;
		background-color: $header-blue;
		padding-bottom: 37px;
		position: relative;
		font-family: $main-font;

		@media (min-width: $screen-lg-min) {
			padding-bottom: 0;
		}



		.gery-line { 
			position: absolute;
			top: 75px;
			height: 2px;
			width: 100%;
			object-fit: contain;
			border: solid 1px #1c6897;
		}

		.main-container {
			margin-bottom: 43px;


			@media (min-width: $screen-lg-min) {
				margin: 0 auto 22px;
				padding: 0 20px;
			}

			.top-sec {
				margin: 19px 0;

				@media (min-width: $screen-lg-min) {
					margin: 22px 0 0 0;
				}

				.top-sec-container {
					width: 100%;

					.logo {

						img {
							height: 44px;

							@media (min-width: $screen-lg-min) {
								height: 32px;
							}	
						}

						.logo-head-container {
							margin-right: 8px;

							.first-head {
								font-size: 1.2em;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: 1.33;
								letter-spacing: 1.3px;
								color: $main-white;

								@media (min-width: $screen-lg-min) {
									font-size: 1.6em;
									line-height: 1;
									letter-spacing: 1.5px;
								}

							}

							.second-head {
								font-family: OpenSans;
								font-size: 1em;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: 1.6;
								letter-spacing: 1.3px;
								color: $main-white;

								@media (min-width: $screen-lg-min) {
									font-size: 1.4em;
									line-height: 1.14;
									letter-spacing: 1.5px;
								}
							}
						}
					}

					/* --main nav mobile-- */

					.nav-button {
						padding: 0;
						margin: 0;
						border: 0;
						background-color: transparent;
					}

					.dropdown-menu {
						background-color: $header-blue;
						font-size: 1em;
						width: 205px;
						white-space: nowrap;

						.main-nav {
							margin: 0px 20px;
							padding: 0;

							li {
								margin: 10px 0;
							}

							.first {

							}

							.last {

							}
						}
					}
				}
			}
		}

		/* --middle section header-- */

		.middle-sec {
			padding: 18px 0 0;


			@media (min-width: $screen-lg-min) {
				margin-left: 0;
				width: fit-content;
			}

			.font-size-container {
				margin: 0px 5px 7px auto;
				height: fit-content;
				text-decoration: none;

				@media (min-width: $screen-lg-min) {
					margin: 0 0 3px 38px;
					height: fit-content;
				}


				.Abig {
					object-fit: contain;
					font-size: 2.6em;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.62;
					letter-spacing: normal;
					color: $main-white;
					margin-left: 8px;
					margin-bottom: 0;
				}

				.Asmall{
					object-fit: contain;
					font-size: 2em;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.7;
					letter-spacing: normal;
					color: $main-white;
				}
			}

			.middle-sec-container {
				width: 100%;

				 @media (min-width: $screen-lg-min) {
					margin: 0;
				 }


				.lng-dropdown {
					width: fit-content;

					@media (min-width: $screen-lg-min) {
						margin-bottom: 0;
					}

					.lng-btn {
						padding: 0;
					    padding-bottom: 4px;
					    height: fit-content;
					    width: fit-content;
						background-color: transparent;
						border: none;
						margin-left: 24px;
						object-fit: contain;
						font-size: 2em;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 0.8;
						letter-spacing: normal;
						color: $main-white;
						

						@media (min-width: $screen-lg-min) {
							width: fit-content;
							height: fit-content;
							padding-bottom: 0;
						}
					}

					.lng-btn::after {
						margin: 2px 18px 4px 0;
						border-top: .5em solid;
						border-right: .25em solid transparent;
						border-bottom: 0;
						border-left: .25em solid transparent;

						@media (min-width: $screen-lg-min) {
							border: solid $main-white;
						    border-width: 0 1.5px 1.5px 0;
						    display: inline-block;
						    transform: rotate(45deg);
	   						-webkit-transform: rotate(45deg);
	   						margin: 0;
	   						margin: 0px 13px 8px 0;
						    height: 10px;
						    width: 10px;
						}
					}

					.lng-dropdown-menu {
						background-color: $header-blue;

						.lng-dropdown-item-1 {
							font-size: 2em;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 0.8;
							letter-spacing: normal;
							color: $main-white;
							text-align: right;
						}

						.lng-dropdown-item-1:hover {
							background-color: $main-white;
							color: $header-blue;	
						}
					}
				}

				.ent-btn {
					width: 107px;
					height: 40px;
					object-fit: contain;
					border-radius: 4px;
					border: solid 1px #ecba88;
					box-sizing: border-box;
					padding: 0;
					object-fit: contain;
					font-size: 2em;
					text-align: center;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.8;
					letter-spacing: normal;
					background-color: $main-white;
					box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
					color: $ent-bnt-font-color;

					@media (min-width: $screen-xl-min) {
						order: 1;
					}
				}
			}
		}

		/* --input section-- */

		.input-sec {
			height: 60px;
	   		width: 100%;

	   		@media (min-width: $screen-lg-min) {
				margin: 42px auto 0;
			}


			.input-container {
				background-color: $main-white;
				width: 100%;

				.input-dropdown {

					.input-toggle {
						object-fit: contain;
						font-size: 2em;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 0.8;
						letter-spacing: normal;
						color: $input-toggle-text;
						background-color: $main-white;
						border: none;
						border-left: rgba(102,102,102,0.3) solid 1px; 
						border-radius: 0;
						padding: 1px 26px 0  20px;
					    height: 32px;
					    

						@media (min-width: $screen-lg-min) {
							font-size: 2.4em;
							line-height: 0.67;
							padding-top: 0;
						}
					}	

					.input-toggle::after {
						margin: 0px 17px 0 1px; 
						color: $header-blue;
						border-top: .5em solid;
						border-right: .25em solid transparent;
						border-bottom: 0;
						border-left: .25em solid transparent;
						padding-bottom: 2px;

						@media (min-width: $screen-lg-min) {
							margin: 0 50px 7px 0;
							border: solid $header-blue;
						    border-width: 0 1.5px 1.5px 0;
						    display: inline-block;
						    transform: rotate(45deg);
	   						-webkit-transform: rotate(45deg);
	   						height: 10px;
	    					width: 10px;
						}
					}

					.input-dropdown-menu {
						width: 105px;
						text-align: right;

						.input-dropdown-item-1 {
							font-size: 2em;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 0.8;
							letter-spacing: normal;
							color: $input-toggle-text;
							background-color: $main-white;
							border: none;
							margin-bottom: 15px;
							margin-top: 10px;

							@media (min-width: $screen-xl-min) {
								
							}
						}

						.input-dropdown-item-2 {
							font-size: 2em;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 0.8;
							letter-spacing: normal;
							color: $input-toggle-text;
							background-color: $main-white;
							border: none;
							margin-bottom: 10px;
						}
					}
				}

				.main-input {
					font-size: 2em;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.8;
					letter-spacing: normal;
					color: $main-input-text;
					border: 0;
					padding-right: 20px;
					padding-bottom: 5px;
					padding: 5px 20px;
					flex: 1;
					width: 139px;

					@media (min-width: $screen-lg-min) {
						object-fit: contain;
						font-size: 2.4em;
						line-height: 0.67;
						//padding-bottom: 0;
					}
				}

				.search-input {
					height: 100%;
					background-color: transparent;
					padding: 0;
					border: 0;
					padding: 0 22px;

					@media (min-width: $screen-lg-min) {
						padding: 0 22px;
					}

					img {
						
					}
				}
			} 
		}

		/* --main navigation-- */

		.main-nav {
			margin: 0 auto;
			padding: 30px 20px;

			ul {
				width: 100%;
				padding: 0;

				li {
					
					#navLink {
	      				font-size: 2em;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 0.8;
						letter-spacing: normal;
						color: $main-white;
						text-decoration: none;
						padding: 0;
						font-family: $main-font;
					}
				}

				.dropdown {

					.dropdown-menu {
					background-color: $header-blue;

						.nav-dropdown-item-1 {
							font-size: 2em;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 0.8;
							letter-spacing: normal;
							color: $main-white;
							text-align: center;
							border-bottom: solid 1px #1c6897;
							height: 100%;
							height: 50px;
						}

						.nav-dropdown-item-1:hover {
							background-color: $main-white;
							color: $header-blue;	
						}
					}

					.nav-dropdown-item-2 {
							font-size: 2em;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 0.8;
							letter-spacing: normal;
							color: $main-white;
							text-align: center;
							border-bottom: solid 1px #1c6897;
							height: 100%;
							height: 50px;
						}

						.nav-dropdown-item-2:hover {
							background-color: $main-white;
							color: $header-blue;	
						}

					.nav-toggle::after {
						display: none;
					}
				}
			}
		}
	}

	/* --body-- */

	section {
		background-image: url('/src/img/sign-up.png');
		background-color: rgba(1, 46, 92, 0.6);
		margin-bottom: 40px;

		.signin-container {
			max-width: 1222px;
			width: 100%;
			margin: 54px 0;

			.signin-sec-wrapper {
				height: 601px;
				border-radius:0 8px 8px 0;
				background-color: #f6f6f6;
				width: 50%;

				.signin-p-wrapper {
					margin: 53px 90px 0 0;
					.signin-sec-head {
						font-size: 6.2em;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						text-align: right;
						color: #4e5665;
					}

					.signin-sec-p {
						max-width: 396px;
						font-size: 1.6em;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.75;
						letter-spacing: normal;
						text-align: right;
						color: #4e5665;
					}
				}

				form {
					margin:19px 90px 0 0;
					width: 365px;

					.signin-bottom-sec {
						margin-top: 25px;
					}

					.signin-form-check {
						margin: 0;
					}

					.password-input {
						margin: 25px 0;
					}

					.email-input, .password-input, .re-captcha-input {
						width: 100%;
						height: 50px;
						border-radius: 3px;
						background-color: #main-white;
						border: solid 1px #d4d4d4;
						font-size: 1.5em;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: 0.5px;
						color: #6a768a;
					}

					.form-check-input {
						width: 29px;
						height: 28px;
						-webkit-appearance: none;
						border-radius: 2px;
						background-color: $main-white;
						border: solid 1px #d4d4d4;
						margin-top: 0;
					}

					.form-check-label {
						margin-right: 43px;
						font-size: 1.6em;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.75;
						letter-spacing: normal;
						color: #4e5665;
						font-family: $main-font;
					}

					.forgot-password {
						font-size: 1.6em;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.75;
						letter-spacing: normal;
						color: #0a7bb6;
					}
				}

				.signin-submit {
					margin-top: 31px;
					
					button {
						width: 180px;
						height: 50px;
						border-radius: 3px;
						background-color: #0a7bb6;
						box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
						font-size: 2em;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: 0.5px;
						text-align: center;
						color: $main-white;
					}
				}
			}

			.reg-sec-wrapper {
				height: 601px;
				border-radius:8px 0 0 8px ;
				background-color: #fff;
				width: 50%;

				.reg-p-wrapper {
					margin: 53px 90px 0 0;

					.reg-sec-head {
						font-size: 6.2em;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						text-align: right;
						color: #4e5665;
					}

					.reg-sec-p {
						max-width: 396px;
						font-size: 1.6em;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.75;
						letter-spacing: normal;
						text-align: right;
						color: #4e5665;
					}
				}

				.reg-button {
					margin-right: 90px;
					margin-top: 29px;

					button {
						width: 180px;
						height: 50px;
						border-radius: 3px;
						background-color: #0a7bb6;
						box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
						font-size: 2em;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: 0.5px;
						text-align: center;
						color: $main-white;
					}
				}
			}
		}
	}
	
	/* --footer-- */

	footer {
		.logo-merkava-warpper {
			margin-bottom: 11px;

			.LogoMerkava {
				height: 63px;
				object-fit: contain;
			}
		}

		.footer-nav-wrapper {

			max-width: 285px;
			margin-bottom: 75px;


			@media (min-width: $screen-lg-min) {
				margin-bottom: 45px;
				max-width: 100%;
			}	

			.merkava-p {
				object-fit: contain;
				font-size: 1.6em;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				//line-height: 1.38;
				letter-spacing: normal;
				text-align: center;
				color: #0477af;
				line-height: 0.8;
			}	

			/* --footer navigation-- */

			.footer-nav {
				margin: 0;
				padding: 0;


				a {
					height: fit-content;
					text-decoration: none;

					li {
						object-fit: contain;
						font-size: 1.6em;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						//line-height: 1.38;
						letter-spacing: normal;
						text-align: center;
						color: #0477af;
						line-height: 0.8;
					}
				}

				.first {
					border-left: 1px solid #0477af;
					padding-left: 10px;
					margin:0 0 10px 10px;

					@media (min-width: $screen-lg-min) {
						margin: 0 0 0 10px;
					}		
				}

				.second {
					margin-bottom: 10px;

					@media (min-width: $screen-lg-min) {
						margin: 0 0 0 10px;
						border-left: 1px solid #0477af;
						padding-left: 10px;
					}			
				}

				.third {
					padding-left: 10px;

				}

				.last {
					border-right: 1px solid #0477af;
					padding-right: 10px;

					@media (min-width: $screen-lg-min) {
						border-left: 1px solid #0477af;
						padding-left: 10px;
						margin-left: 10px;
					}		
				}

				.last-xl {
					color: #4e5665;
					opacity: 0.8;
				}
			}
		}

			.logo-merkava-lg {
				opacity: 0.8;
				height: 44px;
				margin-right: 8px;
			}
	}
}


