@import "../common/common.scss";

.signin {

	section {
		background-image: url('../common/img/sign-up.png');
		background-color: rgba(1, 46, 92, 0.6);
		margin-bottom: 40px;
		background-size: cover;
		box-shadow: inset 0 0 0 1000px rgba(1, 46, 92, 0.6);

		.signin-container {
			max-width: 1222px;
			width: 100%;
			margin: 54px 0;

			.signin-sec-wrapper {
				height: 601px;
				border-radius:0 8px 8px 0;
				background-color: #f6f6f6;
				width: 50%;

				.signin-p-wrapper {
					margin: 53px 90px 0 0;
					.signin-sec-head {
						font-size: 6.2em;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						text-align: right;
						color: #4e5665;
					}

					.signin-sec-p {
						max-width: 396px;
						font-size: 1.6em;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.75;
						letter-spacing: normal;
						text-align: right;
						color: #4e5665;
					}
				}

				form {
					margin:19px 90px 0 0;
					width: 365px;

					.signin-bottom-sec {
						margin-top: 25px;
					}

					.signin-form-check {
						margin: 0;
					}

					.password-input {
						margin: 25px 0;
					}

					.email-input, .password-input, .re-captcha-input {
						width: 100%;
						height: 50px;
						border-radius: 3px;
						background-color: #main-white;
						border: solid 1px #d4d4d4;
						font-size: 1.5em;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: 0.5px;
						color: #6a768a;
					}

					.form-check-input {
						width: 29px;
						height: 28px;
						-webkit-appearance: none;
						border-radius: 2px;
						background-color: $main-white;
						border: solid 1px #d4d4d4;
						margin-top: 0;
					}

					.form-check-label {
						margin-right: 43px;
						font-size: 1.6em;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.75;
						letter-spacing: normal;
						color: #4e5665;
						font-family: $main-font;
					}

					.forgot-password {
						font-size: 1.6em;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.75;
						letter-spacing: normal;
						color: #0a7bb6;
					}
				}

				.signin-submit {
					margin-top: 31px;
					
					button {
						width: 180px;
						height: 50px;
						border-radius: 3px;
						background-color: #0a7bb6;
						box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
						font-size: 2em;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: 0.5px;
						text-align: center;
						color: $main-white;
					}
				}
			}

			.reg-sec-wrapper {
				height: 601px;
				border-radius:8px 0 0 8px ;
				background-color: #fff;
				width: 50%;

				.reg-p-wrapper {
					margin: 53px 90px 0 0;

					.reg-sec-head {
						font-size: 6.2em;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						text-align: right;
						color: #4e5665;
					}

					.reg-sec-p {
						max-width: 396px;
						font-size: 1.6em;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.75;
						letter-spacing: normal;
						text-align: right;
						color: #4e5665;
					}
				}

				.reg-button {
					margin-right: 90px;
					margin-top: 29px;

					button {
						width: 180px;
						height: 50px;
						border-radius: 3px;
						background-color: #0a7bb6;
						box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
						font-size: 2em;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: 0.5px;
						text-align: center;
						color: $main-white;
					}
				}
			}
		}
	}
}


