@import "../util/util.scss";

.news-1 {
	min-width: 330px;

	#searchInput {
		 padding: 0 0 0 22px;
	}

	.custom-container {
		padding: 0 20px;
	}

	.nav-item-text-6 {
		background-color: rgba(255, 255, 255, 0.19);

		@media (min-width: $screen-lg-min) {
			border-bottom: solid 1px #1c6897; 
		 }
	}

	.news-1-top-sec {
		position: relative;
		height: 205px;
		background-color: $main-white;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
		background-image: url('../common/img/news-background-img.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: left;
		background-position-y: 30px;

		@media (min-width: $screen-lg-min) {
			height: auto;
			background-size: initial;
			min-height: 308px;
		}

		.right-line {
			position: absolute;
			right: 0;
			top: 0;
			width: 5px;
			height: 100%;
			border-radius: 4px;
			background-color: $cobalt;

			@media (min-width: $screen-lg-min) {
				width: 11px;
			}
		}

		.top-sec-container {
			max-width: 1262px;
			width: 100%;
			padding: 0;
			height: auto;
			margin: 20px 0 0 0;

			@media (min-width: $screen-lg-min) {
				padding: 87px 20px 0;
				margin: 0;
			}

			.news-1-p-sec {
				margin: 0 20px;

				@media (min-width: $screen-lg-min) {
					margin: 0;
				}	

				.news-1-p-container {

					@media (min-width: $screen-lg-min) {
						//margin:29px 20px 116px 0;
					}	
				}

				.news-1-p-wrapper {
					order: 2;
					margin: 0;

					@media (min-width: $screen-lg-min) {
						margin: 0;
					}
				}

				.news-1-head {
					font-size: 3rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.83;
					letter-spacing: normal;
					color: $cobalt;

					@media (min-width: $screen-lg-min) {
						font-size: 6.2rem;
						font-weight: 500;
						line-height: normal;
						margin: 0 0 3px 0;
					}	
				}

				.news-1-top-p {
					font-size: 1.6rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.25;
					letter-spacing: normal;
					color: #4e5665;
					margin: 0 0 0 40px;

					@media (min-width: $screen-md-min) {
						max-width: 600px;
					}	

					@media (min-width: $screen-lg-min) {
						max-width: 1222px;
						font-size: 3.2rem;
						line-height: normal;
						letter-spacing: normal;
					}	
				}
			}
		}
	}

	.news-1-body {
		//height: 567px;

		.news-1-body-wrapper {
			width: 100%;
			margin:0 0 77px 0;

			@media (min-width: $screen-lg-min) {
				margin: 0;
				padding: 96px 20px 0;
			}

			.relevant-links-head {
				font-size: 3.2rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 0.88;
				letter-spacing: normal;
				color: #4e5665;
				margin: 90px 0 20px 0;
			}

			.body-top-sec {

				@media (min-width: $screen-lg-min) {
					border: solid #dddddd;
					border-width: 0 0 1px 0;
					padding: 0 0 90px 0;
				}

				h2 {
					font-size: 3.2rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.78;
					letter-spacing: normal;
					color: $cobalt;
					margin: 0 0 16px 0;
				}

				.body-top-sec-p {
					font-size: 1.6rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.75;
					letter-spacing: normal;
					color: #505050;
					max-width: 1017px;
					margin: 0 0 30px 0;

					&:last-child {
						margin: 0 0 10px 0;
					}
				}

				.bold-p {
					font-weight: 500;
					line-height: 1.4;
				}
			}

			.relevant-links-wrapper {

				margin: 0 0 200px 0;
				
				.relevant-link-wrapper {
					border-radius: 2.1px;
					background-color: #fff;
					box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
					text-align: right;
					width: 293px;
					height: 160px;
					padding: 20px 14px 0 0;
					margin: 0 0 0 10px;

					&:last-child {
						margin: 0;
					}

					.relevant-link-date {
						font-size: 1.6rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.25;
						letter-spacing: normal;
						color: #4e5665;

						@media (min-width: $screen-lg-min) {
							margin: 0 0 3px 0;
						}	
					}

					.relevant-link-contant {
						font-size: 20px;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.15;
						letter-spacing: normal;
						color: $cobalt;

						span {
							font-family: FbAgolEng;
							font-size: 17px;
							line-height: 1.35;
						}
					}
				}

				.download-print-wrapper {
					height: 20px;
					margin: auto 0 10px 10px;

					img {
						height: 20px;
						width: auto;
					}

					.print-icon-wrapper {
						margin: 0 15px 0 0;
					}
				}
			}
		}
	}

	.news-1-footer {
		
	}
}	