@import "../util/util.scss";

.sitemap {
	min-width: 330px;

	#searchInput {
		 padding: 0 0 0 22px;
	}

	.custom-container {
		padding: 0 20px;
	}

	.nav-item-text-2 {
		background-color: rgba(255, 255, 255, 0.19);

		@media (min-width: $screen-lg-min) {
			border-bottom: solid 1px #1c6897; 
		 }
	}

	.sitemap-top-sec {
		position: relative;
		height: 205px;
		background-color: $main-white;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
		background-image: url('../common/img/sitemap.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: left;
		background-position-y: 55px;
		background-position-x: 11px;

		@media (min-width: $screen-lg-min) {
			height: auto;
			background-size: initial;
			min-height: 308px;
		}

		.right-line {
			position: absolute;
			right: 0;
			top: 0;
			width: 5px;
			height: 100%;
			border-radius: 4px;
			background-color: $cobalt;

			@media (min-width: $screen-lg-min) {
				width: 11px;
			}
		}

		.top-sec-container {
			max-width: 1262px;
			width: 100%;
			padding: 0;
			height: auto;
			margin: 20px 0 0 0;

			@media (min-width: $screen-lg-min) {
				padding: 29px 20px 0;
				margin: 0;
			}

			.sitemap-breadcrumb-wrapper {	

				@media (min-width: $screen-lg-min) {
					margin: 0 0 35px 0;
				}

				.breadcrumb {
					margin: 0;	
				}

				.breadcrumb-item  {
					color: $header-blue;
					font-size: 1.6rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.75;
					letter-spacing: normal;
				}
			}

			.sitemap-p-sec {
				margin: 0 20px;

				@media (min-width: $screen-lg-min) {
					margin: 0;
				}	

				.sitemap-p-container {

					@media (min-width: $screen-lg-min) {
						//margin:29px 20px 116px 0;
					}	
				}

				.sitemap-p-wrapper {
					order: 2;
					margin: 0;

					@media (min-width: $screen-lg-min) {
						margin: 0;
					}
				}

				.sitemap-head {
					font-size: 3rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.83;
					letter-spacing: normal;
					color: $cobalt;

					@media (min-width: $screen-lg-min) {
						font-size: 6.2rem;
						font-weight: 500;
						line-height: normal;
						margin: 0 0 3px 0;
					}	
				}

				.sitemap-top-p {
					font-size: 1.6rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.25;
					letter-spacing: normal;
					color: #4e5665;
					margin: 0 0 0 40px;

					@media (min-width: $screen-md-min) {
						max-width: 600px;
					}	

					@media (min-width: $screen-lg-min) {
						max-width: 1222px;
						font-size: 3.2rem;
						line-height: normal;
						letter-spacing: normal;
					}	
				}
			}
		}
	}

	.sitemap-body {

		@media (min-width: $screen-lg-min) {
			margin: 96px auto 200px;
		}

		.sitemap-item {

			font-size: 3.2rem;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 0.78;
			letter-spacing: normal;
			color: $cobalt;
			background-color: rgba(233, 235, 240, 0.5);
			
			@media (min-width: $screen-lg-min) {
				width: 591px;
				height: 67px;
				object-fit: contain;
				padding: 0 10px 0 0;
			}
		}

		.sitemap-sub-items-wrapper {
			padding: 0 10px 0 0;
			margin: 10px 0 30px 0;

			a {
				font-size: 1.6rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.75;
				letter-spacing: normal;
				color: $cobalt;
				text-decoration: underline;
			}
		}
	}

	.sitemap-footer {
		
	}
}	