$main-white: #fff;
$ent-bnt-font-color: #0a7bb6;
$swiper-bullet: rgba(255, 255, 255, 0.6);
$header-blue: #0a7bb6;
$input-toggle-text: #666666;
$main-input-text:  rgb(142,147,158);
$background-p-img: rgba(0, 0, 0, 0.4);
$ent-btn-background: #f5891b;
$cobalt: #1c6897;
$rechesh-green: #33a38d;
$main-purple: #6266a6;
$bottom-border-question: rgba(78,86,101,0.2);
$background-answer-mobile: #f6f6f6; 
$contact-us-input-text: #6a768a;
$modal-background-color:  rgba(10, 123, 182, 0.4);
$text-dark-grey: #4e5665;
$td-background: rgba(233, 235, 240, 0.5);
$management-table-head-background: rgba(51,163,141,0.3);
$bid-editors-table-head-background: rgba(31,134,188,0.3);
$purchase-department-table-head-background: rgba(98,102,166,0.3);

