@import "../common/common.scss";

.mepharsemim-container {
	min-width: 330px;

	.main-content-wrapper {
		height: 100%;
		overflow: auto;
		padding: 0 0 250px 0;
		min-height: 1050px;
	}

	#searchInput {
		padding: 0 0 0 22px;
	}

	.custom-container {
		padding: 0 20px;
	}

	.nav-item-text-8 {
      background-color: rgba(255, 255, 255, 0.19);

		@media (min-width: $screen-lg-min) {
			border-bottom: solid 1px #1c6897; 
		 } 
	}

	.mepharsemim-top-sec {
		

		@media (min-width: $screen-lg-min) {
			
		}

		.top-sec-container {
			padding: 16px 20px 12px 0;
			position: relative;

			@media (min-width: $screen-lg-min) {
				
			}

			.mepharsemim-breadcrumb-wrapper {
				position: absolute;
				left: 20px;
				top: 17px;

				@media (min-width: $screen-lg-min) {
					margin: 0 0 35px 0;
				}

				.breadcrumb {
					margin: 0;	
				}

				.breadcrumb-item  {
					color: $cobalt;
					font-size: 1.6rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.75;
					letter-spacing: normal;
				}
			}

			.mepharsemim-p-sec {

				@media (min-width: $screen-lg-min) {
					
				}	

				.mepharsemim-p-wrapper {
					order: 2;
					margin: 10px 0 0 0;


					@media (min-width: $screen-lg-min) {
						
					}
				}

				.mepharsemim-top-icon {
					order: 1;
					width: 41px;
  					height: 47px;
  					margin: 0 -7px 0 0;
 
					@media (min-width: $screen-lg-min) {
						width: 136px;
						height: 116px;
						margin: 0;
						position: absolute;
						top: 0;  
					    right: -168px;
					    top: 10px;
					}
				}	

				.mepharsemim-head {
					font-size: 3rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.83;
					letter-spacing: normal;
					color: $cobalt;
					margin: 0 0 13px 0;

					@media (min-width: $screen-lg-min) {
						font-size: 6.2rem;
						font-weight: 500;
						line-height: normal;
						margin: 0 0 3px 0;
					}	
				}

				.mepharsemim-top-p {
					font-size: 1.6rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.25;
					letter-spacing: normal;
					color: $cobalt;
					padding: 0 0 0 12px;

					@media (min-width: $screen-lg-min) {
						font-size: 3rem;
						line-height: normal;
						letter-spacing: normal;
						padding: 0 0 0 30px;
						margin: 0;
					}	

					@media (min-width: $screen-xl-min) {
						padding: 0 0 0 165px;
						max-width: 1262px;
					}	
				}
			}
		}
	}

	.mepharsemim-body {
		
		@media (min-width: $screen-lg-min) {
			margin: 0px auto 0;
			max-width: 1262px;
		}	

		.mepharsemim-body-top {
			background-color: $cobalt;
			height: 144px;
			width: 100%;


			.list-drop-wrapper {
				background-image: url('../common/img/mephrsemim-mobile-drop-background.svg');
				height: 89px;
				width: 100%;
				position: relative;
				padding: 28px 0 0 0;
				background-repeat: no-repeat;
    			background-size: cover;
    			z-index: 10;

    			 @media (max-width: $screen-sm-min) {
			      background-size: contain;
			    }

				.count-checkboxes-wrapper {
					font-size: 2rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: $main-white;
					position: relative;

					.list-drop-arrows {
						position: absolute;
						right: 50%;
						bottom: 12px;
						margin: 0 -4.5px 0 0;
						z-index: 10;

						.first {
							margin: 0 0 -12px 0;
						}

						span {
							transform: rotate(-90deg);
							border: solid $main-white;
							border-width: 0 3px 3px 0;
							display: inline-block;
							transform: rotate(45deg);
							height: 9px;
							width: 9px;
							display: inline-block;
						}
					}
				}
			}
		}

		.my-list-wrapper {
			position: relative;

			.my-list {
				position: absolute;
				z-index: 1;
				background-color: white;
				font-size: 1.6rem;
				width: 100%;
				top: 0;
				display: none;
				z-index: 9;
				top: 58px;
				padding: 10px 5px 187px;

				.my-list-mepharsemim-container, .my-list-subjects-container {
					background-color: rgba(233, 235, 240, 0.5);
					//margin: 0 0 0 0;
				}

				.my-list-mepharsemim-wrapper, .my-list-subjects-wrapper {
					height: 67px;
					object-fit: contain;
					margin: 0 0 6px 0;
					padding: 0 15px;
				}

				.change-background-color {
					background-color: $main-white;
					margin: 0;
				}

				.my-list-subject-wrapper, .my-list-mepharsem-wrapper {
					order: 1;
					height: 67px;
					object-fit: contain;
					background-color: rgba(233, 235, 240, 0.5);
				}

				.my-list-subjects-list {
					display: none;

					.my-list-subject-wrapper,  {
						padding: 0 21px;
						margin: 0 0 5px 0; 

						.my-list-subject-delete {
							margin: 0 0 0 19px;
							font-size: 0;
						}

						.delete-img {
							width: 13px;
							height: 13px;
						}
					}


					.my-list-subject-name {
						font-size: 1.5rem;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: 0.5px;
						color: $text-dark-grey;
					}

					.my-list-option-name {
						font-size: 1.5rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: 0.5px;
						color: $text-dark-grey;
					}

					.my-list-option-wrapper {
						height: 67px;
						object-fit: contain;
						background-color: #e6f1f7;
						margin: 5px 0;
						padding: 0 21px;

						.my-list-option-delete {
							margin: 0 0 0 19px;
							font-size: 0;
						}

						.delete-img {
							width: 13px;
							height: 13px;
						}
					}

					&:first-child {
						margin: 0;
					}
				}

				.my-list-mepharsemim-list {
					display: none;

					.my-list-mepharsem-wrapper {
						padding: 0 21px;
						margin:  0 0 5px 0;

						.my-list-mepharsem-delete {
							margin: 0 0 0 19px;
							//font-size: 0;
						}

						.delete-img {
							width: 13px;
							height: 13px;
						}

						.my-list-mepharsem-name {
							font-size: 1.5rem;
							font-weight: 500;
							font-style: normal;
							font-stretch: normal;
							line-height: normal;
							letter-spacing: 0.5px;
							color: $text-dark-grey;
						}
					}
				}

				.my-list-mepharsemim-title, .my-list-subjects-title {
					font-size: 3.2rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: $text-dark-grey;
				}

				.rotate {
					transform: rotate(-90deg);
					background-color: $main-white;
				}

				.my-list-subjects-list {
					//position: absolute;
				}
			}

			.close-list-button-wrapper {
				width: 100%;
				padding: 0 20px;
				height: 108px;
				background-color: $main-white;
				display: none;

				@media (min-width: $screen-lg-min) {
					width: fit-content;
				}

				.close-list-button {
					width: 100%;
					height: 50px;
					border-radius: 3px;
					background-color: #0a7bb6;
					box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
					font-size: 2rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: 0.5px;
					text-align: center;
					color: $main-white;
					position: relative; 

					&:active, &:focus {
			          background-color: #1c6897;
			          color: $header-blue;
			          border: 0;
			        }

			        .white-x-wrapper {
			        	position: absolute;
			        	top: 50%;
			        	left: 19px;
			        	line-height: 0;
			        	margin: -7px 0 0 0;

			        	.white-x {
			        		height: 14px;
			        		width: 14px;
			        	}
			        }

					@media (min-width: $screen-lg-min) {
						width: 330px;
					}
				}
			}
		
		}

		

		.main-checkboxes-wrapper {
			position: relative;
			width: 100%;

			.nav-tabs {
				position: absolute;
				border: 0;
				top: -30px;
				right: 20px;
				height: 42px;	
			}

			.subject-tab a, .mepharsemim-tab a {
				width: 90px;
				border-radius: 2.4px;
				font-size: 1.6rem;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 0.4px;
				text-align: center;
				color: rgba(78,86,101,0.25);
				background-color: $main-white;
				text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
				display: inline-block;
				height: 100%;
				margin: 4px 0 0 0;
				padding: 4px 0 0 0;
				//border-top: solid 7px $cobalt;
			}

			.first-tab-a.active, .second-tab-a.active {
				height: 100%;
				background-color: $main-white;
				color: $text-dark-grey;
				display: inline-block;
				border-top: 0;
				border-radius: 2.4px;
				margin: 0;
				padding: 8px 0 0 0;
			}

			.mepharsemim-tab {
				margin: 0 0 0 5px;
			}

			.checkboxes-wrapper {
				width: 100%;
				padding: 0 5px;

				.form-checkbox {
					margin: 0 0 0 20px;
					-webkit-appearance: none;
					background-color: $main-white;
					display: inline-block;
					position: relative;
					width: 20px;
					height: 20px;
					border-radius: 2px;
					border: solid 1px #bcbcba;
				}

				.form-checkbox:active, .form-checkbox:checked:active {
					box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
				}

				.form-checkbox:checked {
					border-radius: 2px;
					background-color: #1f86bc;
					box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
				}

				.form-checkbox:checked:after {
					content: '';
					display: inline-block;
					width: 6px;
					height: 10px;
					border: solid #fff;
					border-width: 0 2px 2px 0;
					transform: rotate(45deg);
					align-self: center;
					margin: -3px 0 0 0;
				}

				label {
					margin: 0;
				}

				.subject-options {
					display: none;

					.subject-option-wrapper {
						height: 67px;
						object-fit: contain;
						background-color: rgba(10, 123, 182, 0.1);
						margin: 0 0 5px 0;
						font-size: 1.5rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: 0.5px;
						color: $text-dark-grey;
						padding: 0 20px;
					}
					.form-checkbox {
						margin: 0 0 0 20px;
						-webkit-appearance: none;
						background-color: $main-white;
						display: inline-block;
						position: relative;
						width: 15px;
						height: 15px;
						border-radius: 2px;
						border: solid 1px #bcbcba;
					}

					.form-checkbox:active, .form-checkbox:checked:active {
						box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
					}

					.form-checkbox:checked {
						border-radius: 2px;
						background-color: #1f86bc;
						box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
					}

					.form-checkbox:checked:after {
						content: '';
						display: inline-block;
						width: 5px;
						height: 9px;
						border: solid #fff;
						border-width: 0 2px 2px 0;
						transform: rotate(45deg);
						align-self: center;
						margin: -2px -1px 0 0;
					}
				}


				.select-all-wrapper {
					height: 67px;
					font-size: 1.5rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: 0.5px;
					color: $text-dark-grey;
					padding: 0 12px 0 0;
				}

				.form-item {
					height: 67px;
					object-fit: contain;
					background-color: rgba(233, 235, 240, 0.5);
					margin: 0 0 5px 0;
					font-size: 1.5rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: 0.5px;
					color: $text-dark-grey;
					padding: 0 12px 0 10px;
				}

				.btn {
					width: 335px;
					height: 50px;
					border-radius: 3px;
					background-color: #9ca0a6;
					box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
					border: 0;
				}
			}

			.blue-arrow {
				width: 8px;
				height: 8px;
				border: solid $header-blue;
			    border-width: 0 2px 2px 0;
			    display: inline-block;
			    transform: rotate(135deg);
			    -webkit-transform: rotate(135deg);
			    pointer-events: none;
			    margin: 0 auto 0 0; 
			}

			.rotate {
				transform: rotate(45deg);
			}
		}
	}

	.save-list-button-wrapper {
		width: 100%;
		padding: 4px 20px 0;
		height: 108px;
		background-color: $main-white;
		display: none;

		.save-list-button {
			width: 100%;
			height: 50px;
			border-radius: 3px;
			//background-color: #0a7bb6;
			box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
			font-size: 2rem;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.5px;
			text-align: center;
			color: $main-white;
			position: relative;
			background-color: #9ca0a6; 

			&:not(.disabled) {
				background-color: $header-blue;

				&:active, &:focus {
		          background-color: $cobalt;
		          color: $header-blue;
		          border: 0;
		        }
			}
	    }
	}	
	

	.mepharsemim-footer {
		padding: 0;
		margin: 0 46px 0;
		border-top: 0;

		@media (min-width: $screen-lg-min) {
			margin: 0 auto 0;
			padding: 38px 0 0 0;
			border-top: solid 1px #dddddd;
			max-width: 1311px;
		}

		.footer-nav-wrapper	{
			margin:0 0 44px 0;
		}
	}

	

	.scroll-down-button-wrapper {
		width: 47px;
		height: 40px;
		border-radius: 4px;
		background-color: #ffffff;
		box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
		position: fixed;
		z-index: 10;
		bottom: 125px;
		right: 0;

		.blue-arrow {
			width: 12px;
			height: 12px;
			border: solid $header-blue;
		    border-width: 0 3px 3px 0;
		    display: inline-block;
		    transform: rotate(45deg);
		    -webkit-transform: rotate(45deg);
		    pointer-events: none; 
		    margin: -6px 0 0 0;
		}
	}
}