@import "../util/util.scss";

.forgot-password-a {
	min-width: 330px;

	.nav-item-text-8 {
      background-color: rgba(255, 255, 255, 0.19);

		@media (min-width: $screen-lg-min) {
			border-bottom: solid 1px #1c6897; 
		 } 
	}
	
	section {
		background-image: url('../common/images/forms-background.png');
		//margin-bottom: 73px;
		position: relative;
		background-size: cover;
		//box-shadow: inset 0 0 0 1000px rgba(1, 46, 92, 0.6);

		@media (min-width: $screen-lg-min) {
			margin: 0;
		}

		.forgot-password-a-container {
			width: 100%;
			margin: 38px 0 62px 0;

			@media (min-width: $screen-lg-min) {
				margin: 135px 0 206px 0;
			}

			.forgot-password-a-wrapper {
				height: auto;
				border-radius:3px;
				background-color: #fff;
				width: 100%;
				padding: 24px 18px 0; 


				@media (min-width: $screen-lg-min) {
					height: 601px;
					border-radius:8px;
					padding: 53px 18px 0;
				}

				.forgot-password-a-p-wrapper {
					//margin-top: 24px;
					width: auto;

					@media (min-width: $screen-lg-min) {
						margin: 0 0 80px 0;
					}

					.forgot-password-a-head {
						font-size: 3rem;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						color: #4e5665;
						text-align: center;

						@media (min-width: $screen-lg-min) {
							font-size: 6.2rem;
							margin: 0 0 3px 0;
						}
					}

					.forgot-password-a-p {
						font-size: 1.6rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.25;
						letter-spacing: normal;
						color: #4e5665;
						text-align: center;
						margin-bottom: 0;
						max-width: 300px;

						@media (min-width: $screen-lg-min) {
							line-height: 1.75;
							max-width: 100%;
						}
					}
				}

				.forgot-password-a-form-wrapper {
					width: 100%;
					margin-top: 24px;

					@media (min-width: $screen-lg-min) {
						max-width: 880px;
						margin: 0 0 32px 0;
					}

					.form-group {
						width: 100%;
						margin-bottom: 0;
					}


					input {
						width: 100%;
						height: 43px;
						font-size: 1.5rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: 0.5px;
						color: #6a768a;
						padding: 0px 25px 0 0;

						@media (min-width: $screen-lg-min) {
							height: 50px;
						}
					}

					input.parsley-error,.has-error input {
		              box-shadow: none;
		              border-bottom: solid 2px #d53b4a;
		            }

					.parsley-errors-list.filled {
						margin: 2px 0 0 0;
						background-color: $main-white;
						z-index: 100;

						~.help-block{
							display:none;
						}
					}

					.email {
						position: relative;
						margin-bottom: 40px;

						@media (min-width: $screen-lg-min) {
							margin-bottom: 0;
						}

						.input-bullet {
							position: absolute;
							width: 6px;
							height: 6px;
							background-color: $header-blue;
							border-radius: 50%;
							right: 11px;
							left: auto;
							top: 50%;
							margin: -3px 0 0 0;
						}	
					}

					.email-wrapper {
						width: 100%;

						@media (min-width: $screen-lg-min) {
							margin: 0 0 60px 0;
							max-width: 420px;
						}
					}

					.forgot-password-a-button {
						width: 100%;
						//margin: 15px 0 45px 0;
						margin-bottom: 40px;

						@media (min-width: $screen-lg-min) {
							margin-bottom: 0;
							width: auto;
						}

						button {
							width: 100%;
	  						height: 50px;
							border-radius: 3px;
							background-color: #0a7bb6;
							box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
							font-size: 2rem;
							font-weight: 500;
							font-style: normal;
							font-stretch: normal;
							line-height: normal;
							letter-spacing: 0.5px;
							text-align: center;
							color: $main-white;

							&:active, &:focus {
					          background-color: #1c6897;
					          color: $header-blue;
					          border: 0;
					        }

							@media (min-width: $screen-lg-min) {
								width: 330px;
							}
						}
					}
				}

				.back-to-registration-link {
					font-size: 1.6rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.75;
					letter-spacing: normal;
					color: #0a7bb6;
					display: block;
					margin-bottom: 25px;

					@media (min-width: $screen-lg-min) {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	footer {
		margin: 0;
		border: 0;

		.footer-nav-wrapper {
			margin: 70px 0;
			padding: 0;
			border: 0;

			@media (min-width: $screen-lg-min) {
				margin: 31px 0 81px 0;
				min-height: auto;
			}
		}
	}

	.modal.show {
		background-color: rgba(10, 123, 182, 0.9);;

		.modal-dialog {
			margin: 156px auto 0;
			max-width: 335px;

			@media (min-width: $screen-lg-min) {
				margin: 100px auto 0;
				max-width: 924px;
				min-height: 425px;
			}
		}

		.modal-content {
			width: 100%;
			height: auto;
			border-radius: 3px;
			background-color: #ffffff;
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
			margin: 0;
			position: relative;

			.close-btn {
				width: 235px;
				height: 50px;
				object-fit: contain;
				border-radius: 3px;
				background-color: $header-blue;
				box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
				font-size: 2rem;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 0.5px;
				text-align: center;
				color: $main-white;

				@media (min-width: $screen-lg-min) {
                    width: 180px;
               	}

				.close-img {
					width: 20px;
					height: 20px;

					@media (min-width: $screen-lg-min) {
						width: 25px;
						height: 25px;
					}
				}
			}

			.right-background-img {
				position: absolute;
				top: 50%;
				right: 0;
				left: auto;
				margin: -87px 0 0 0;
			}

			.left-background-img {
				position: absolute;
				top: 50%;
				left: 0;
				right: auto;
				margin: -95px 0 0 0;
			}
		}

		.modal-body {

			padding: 0 9px 47px;
			height: 333px;
			width: 100%;

			@media (min-width: $screen-lg-min) {
				height: auto;
				width: auto;
				padding: 0 22px 43px;
			}


			.dialog-icon {
				width: auto;
				height: 134px;
				margin: -37px 0 21px 0;

				@media (min-width: $screen-lg-min) {
					width: auto;
  					height: 192px;
  					margin: -61px 0 31px 0;
				}
			}

			h4 {
				font-size: 3rem;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
				color: $header-blue;

				@media (min-width: $screen-lg-min) {
					font-size: 6.2rem;
				}
			}

			p {
				font-size: 2rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: normal;
				text-align: center;
				color: #4e5665;
				max-width: 292px;
				margin: 0 0 72px 0;
				line-height: 1.25;
				font-size: 2rem;


				// @media (min-width: $screen-lg-min) {
				// 	max-width: 100%;
				// 	line-height: 0.78;
				// 	font-size: 3.2rem;
				// }
			}
		}
	}
}