@import "../util/util.scss";

.websites-links-2 {
	min-width: 330px;

	#searchInput {
		 padding: 0 0 0 22px;
	}

	.custom-container {
		padding: 0 20px;
	}

	.nav-item-text-6 {
      	background-color: rgba(255, 255, 255, 0.19);

		@media (min-width: $screen-lg-min) {
			border-bottom: solid 1px #1c6897; 
		 } 
	}

	.websites-links-2-top-sec {
		position: relative;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
		background-image: url('../common/img/header-visuals-milon.png');
		background-repeat: no-repeat;
		background-size: contain;
		margin: 0 0 5px 0;
		padding:0 ;
		min-height: 205px;
		background-position: left bottom;

		@media (min-width: $screen-lg-min) {
			margin: 0 0 66px 0;
			padding:0 0 18px 0;
			min-height: 308px;
			height: auto;
			background-position: 16px bottom;
		}

		.right-line {
			position: absolute;
			right: 0;
			left: auto;
			top: 0;
			width: 5px;
			height: 100%;
			border-radius: 4px;
			background-color: $main-purple;

			@media (min-width: $screen-lg-min) {
				width: 11px;
			}
		}

		.top-sec-container {
			max-width: 1262px; 
			width: 100%;
			padding: 0;
			height: auto;
			position: relative;

			@media (min-width: $screen-lg-min) {
				padding: 31px 24px 10px 30px;
			}

			.websites-links-2-breadcrumb-wrapper {

				@media (min-width: $screen-lg-min) {
					margin: 0 0 29px 0;
				}

				.breadcrumb {
					margin: 0;	
				}

				.breadcrumb-item  {
					color: $main-purple;
					font-size: 1.6rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.75;
					letter-spacing: normal;
				}
			}

			.websites-links-2-p-sec {

				@media (min-width: $screen-lg-min) {
					margin: 0 0 10px 0;
					padding: 0;
				}	

				.websites-links-2-p-container {

					@media (min-width: $screen-lg-min) {
						position: relative;
					}	
				}

				.websites-links-2-p-wrapper {
					order: 2;
					margin: 0;


					@media (min-width: $screen-lg-min) {
						
					}
				}


				.websites-links-2-head {
					font-size: 3rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.82;
					letter-spacing: normal;
					color: $main-purple;

					@media (min-width: $screen-lg-min) {
						font-size: 6.2rem;
						font-weight: 500;
						line-height: 0.82;
						margin: 0 0 3px 0;
						max-width: 600px;
					}	
				}

				.websites-links-2-top-p {
					font-size: 1.6rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.25;
					letter-spacing: normal;
					color: #4e5665;
					margin: 0 0 0 40px;

					@media (min-width: $screen-lg-min) {
						font-size: 3rem;
						line-height: normal;
						letter-spacing: normal;
						padding: 0 0 0 30px;
						margin: 0;
						max-width: 894px;
					}	
				}
			}
		}

		.websites-links-2-top-icon {
			order: -1;
			width: 47px;
			height: 47px;
			margin: 0 1px 6px 0;

			@media (min-width: $screen-lg-min) {
				width: 116px;
				height: 116px;
				margin: 0;
			}
		}	
	}

	.websites-links-2-body {
		margin: 0 0 70px 0;
		padding: 0;
		position: relative;

		@media (min-width: $screen-lg-min) {
			padding: 0 20px 0;
			margin: 0px auto 308px;
			max-width: 1262px;
			min-height: 100%;
		}
	}


	.websites-links-2-footer {
		padding: 0;
		//margin: 0 46px 0;
		border-top: 0;

		// @media (min-width: $screen-lg-min) {
		// 	margin: 0 auto 0;
		// 	padding: 38px 0 0 0;
		// 	border-top: solid 1px #dddddd;
		// 	max-width: 1311px;
		// }

		// .footer-nav-wrapper	{
		// 	margin:0 0 44px 0;
		// }
	}

	.active {
		color: #fff!important;
		font-weight: 500;
		background-color: $main-purple;
		background-position: center;
	}
}