$main-white: #fff;
$ent-bnt-font-color: #0a7bb6;
$swiper-bullet: rgba(255, 255, 255, 0.6);
$header-blue: #0a7bb6;
$input-toggle-text: #666666;
$main-input-text: #999;
$background-p-img: rgba(0, 0, 0, 0.4);
$ent-btn-background: #f5891b;