@import "../common/common.scss";

.home {
  min-width: 330px;
  
  .nav-item-text-1 {
    background-color: rgba(255, 255, 255, 0.19);

    @media (min-width: $screen-lg-min) {
      border-bottom: solid 1px #1c6897; 
     } 
  }

  section {
    margin: 37px 20px 52px;
    padding-bottom: 52px;
    object-fit: contain;
    border-bottom: solid 1px #e0e0e0;

    @media (min-width: $screen-lg-min) {
      max-width: 1280px;
      margin: 20px auto 38px;
      padding-bottom: 71px;
    }

    .top-sec-wrapper {

      @media (min-width: $screen-lg-min) {
        padding: 0;
        height: 340px;
        margin: 0 20px;
      }

      a {
        text-decoration: none;
      }

          /* --main gallery-- */

      .main-gallery {
        width: 100%;

        @media (min-width: $screen-lg-min) { 
          padding:0 0 0 10px;
          width: 50%;
          position: relative;
          height: 100%;
        }



        .swiper-container {
          width: 100%;
          height: 100%;

          a {
          height: 100%;
          z-index: 3;
          
            .swiper-slide-container {
               height: 100%;
            }

            img {
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: 0;
            }

            @media (min-width: $screen-lg-min) {
           
              &:hover, &:focus {
                img {
                  transform: scale(1.1);
                  transition: all .3s ease-in-out;
                }
              }
            }
          }

          .swiper-wrapper {
            height: 460px;

            @media (min-width: $screen-lg-min) {
              height: 100%;
            }

            .swiper-slide-1 {

               @media (min-width: $screen-lg-min) {
                  width: 100%;
              }

              .main-gallery-wrapper-s-1 {
                height: 100%;
                position: relative;
                overflow: hidden;

                @media (min-width: $screen-lg-min) {
                }

                
                
                .main-gallery-container-p-s-1 {
                  z-index: 1;

                    @media (min-width: $screen-lg-min) {
                      height: 161px;
                      max-width: 100%;
                      width: 100%;
                      margin: 0;
                  }

                  .main-gallery-wrapper-p-s-1 {
                    background-color: $background-p-img; 
                    height: 161px;
                    padding-right: 20px;
                    padding-top: 19px;

                    @media (min-width: $screen-lg-min) {
                      padding: 18px 48px 0px;
                        height: 170px;
                    }

                    .main-gallery-head {
                      object-fit: contain;
                      font-size: 2rem;
                      font-weight: 500;
                      font-style: normal;
                      font-stretch: normal;
                      line-height: 0.9;
                      letter-spacing: normal;
                      max-width: 241px;
                      color: $main-white;
                      margin-bottom: 12px;

                      @media (min-width: $screen-lg-min) {
                        width: 100%;
                        max-width: 400px;
                        font-size: 3rem;
                        line-height: 0.93;
                        color: $main-white;
                      }
                    }

                    .main-gallery-h2 {
                      margin-right: 2px;
                      object-fit: contain;
                      font-size: 1.8rem;
                      font-weight: normal;
                      font-style: normal;
                      font-stretch: normal;
                      line-height: 1;
                      letter-spacing: normal;
                      color: $main-white;
                      margin-bottom: 5px;
                    }

                    .main-gallery-sp-1 {
                      margin: 0;
                      margin-right: 2px;
                      object-fit: contain;
                      font-size: 1.4rem;
                      font-weight: normal;
                      font-style: normal;
                      font-stretch: normal;
                      line-height: 1.29;
                      letter-spacing: normal;
                      color: $main-white;
                    }
                  }
                }
              }
            }

            .swiper-a-wrapper {
              z-index: 2;
              position: relative;
              height: 100%;
              width: 100%;
              overflow: hidden;

              img {
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: 0;
            }

            @media (min-width: $screen-lg-min) {
              &:hover, &:focus {
                img {
                  transform: scale(1.1);
                  transition: all .3s ease-in-out;
                }
              }
            }

              .swiper-slide-wrapper {
                height: 100%;
              }
            }

            .swiper-slide-2, .swiper-slide-3, .swiper-slide-3, .swiper-slide-4, .swiper-slide-5 {
             height: 100%;

              @media (min-width: $screen-lg-min) {
                
              }

              .main-gallery-wrapper-s {
                height: 100%;
                z-index: 1;

                @media (min-width: $screen-lg-min) {
                  padding: 18px 48px 0px;
                  height: 161px;
                  background-color: $background-p-img; 
                }


                .main-gallery-container-p-s {
                  background-color: $background-p-img; 
                  height: 161px;
                  padding-right: 20px;
                  padding-top: 19px;
                  z-index: 4;

                    @media (min-width: $screen-lg-min) {
                    max-width: 100%;
                    height: fit-content;
                    margin: 0;
                    padding: 0;
                    background-color: transparent;
                  }


                }

              
                .main-gallery-sp-1 {
                  object-fit: contain;
                  font-size: 2rem;
                  font-weight: 500;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 0.9;
                  letter-spacing: normal;
                  max-width: 241px;
                  color: $main-white;
                  margin-bottom: 12px;

                  @media (min-width: $screen-lg-min) {
                    width: 100%;
                    max-width: 400px;
                    font-size: 3rem;
                    line-height: 0.93;
                    color: $main-white;
                  }
                }

                .main-gallery-sp-2 {
                  margin-right: 2px;
                  object-fit: contain;
                  font-size: 1.8rem;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1;
                  letter-spacing: normal;
                  color: $main-white;
                  margin-bottom: 5px;
                }

                .main-gallery-sp-3 {
                  margin: 0;
                  margin-right: 2px;
                  object-fit: contain;
                  font-size: 1.4rem;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.29;
                  letter-spacing: normal;
                  color: $main-white;
                }
              }
            }   
          }

          .swiper-pagination {
            position: absolute;
            right: 26px;
            bottom: 23px;
            width: fit-content;
            z-index: 10;

            @media (min-width: $screen-lg-min) { 
              right: 50px;
              bottom: 14px;
            }

            .swiper-pagination-bullet {
              width: 10px;
              height: 10px;
              object-fit: contain;
              background-color: $swiper-bullet;
              margin: 0;
              margin-left: 3px;
            }

            .swiper-pagination-bullet-active {
              background-color: $main-white;
            }
          } 
        }
      }

      .top-sec-left {
        width: 100%;

        @media (min-width: $screen-lg-min){
          padding:0 10px 0 0;
          width: 50%;
          height: 100%;
        }

        a {
          &:hover, &:focus {
            img {
              transform: scale(1.1);
              transition: all .3s ease-in-out;
            }
          }
        }

        .top-sec-left-img {
          width: 100%;
          height: 460px;
          margin: 31px 0 0;
          position: relative;
          z-index: 1;
          overflow: hidden;

          @media (min-width: $screen-lg-min) {
            margin: 0;
            height: 100%;
          }

          img {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 0;
          }



          .top-sec-p-container {
            z-index: 4;

            @media (min-width: $screen-lg-min) {
                background-color: $background-p-img;
                height: 161px;
                max-width: 100%;
                width: 100%;
                margin: 0;
            }

            .top-sec-p-wrapper {
              background-color: $background-p-img; 
              height: 161px;
              padding-right: 20px;
              padding-top: 19px;

              @media (min-width: $screen-lg-min) {
                padding: 18px 48px 0px;
              }

              .top-sec-h1 {
                object-fit: contain;
                font-size: 2rem;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 0.9;
                letter-spacing: normal;
                color: $main-white;
                margin-bottom: 12px;
                max-width: 240px;

                @media (min-width: $screen-lg-min) {
                  object-fit: contain;
                  font-size: 3rem;
                  line-height: 0.93;
                  max-width: 340px;
                } 
              }

              .top-sec-h2 {
                object-fit: contain;
                font-size: 1.8rem;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: normal;
                color: $main-white;
                margin-bottom: 5px;
                margin-right: 2px;
              }

              .top-sec-p {
                object-fit: contain;
                font-size: 1.4rem;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.29;
                letter-spacing: normal;
                color: $main-white;
                margin: 0;
                margin-right: 2px;
              }
            }
          }
        }
      }
    }

    .top-sec-bottom-wrapper {
      max-width: 1280px;

      @media (min-width: $screen-lg-min) {
        padding: 0 20px;
        margin: 20px 0;
      }

      a {
        text-decoration: none;
      }

      .sign-up-wrapper {
        width: 100%;

        .sign-up-container {
          width: 100%;
          margin: 29px 0;
          height: 212px;
          position: relative;
          overflow: hidden;

          @media (min-width: $screen-lg-min) {
            padding: 0;
            margin: 0 0 0 10px;
            height: fit-content;
          }

          a {
            width: 100%;
            overflow: hidden;

            img {
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: 0;
            }

            @media (min-width: $screen-lg-min) {
              &:hover, &:focus {
                img {
                  transform: scale(1.1);
                  transition: all .3s ease-in-out;
                }
              }
            }
          }

          .sign-up {
            width: 100%;

            @media (min-width: $screen-lg-min) {
              height: 280px;
            }

            .sign-up-p-sec {
              height: 161px;
              width: 100%;
              background-color: $background-p-img;
              z-index: 2;

              @media (min-width: $screen-lg-min) {
                margin: 0;
                height: 118px;
                background-color: $background-p-img;
                width: 100%;
              }

              .sign-up-p-wrapper {
                padding-right: 22px;
                padding-top: 8px;

                @media (min-width: $screen-lg-min) {
                  height: 100%;
                  padding: 3px 30px 0 22px;
                }

                .sign-up-head {
                  object-fit: contain;
                  font-size: 2rem;
                  font-weight: 500;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 2;
                  letter-spacing: normal;
                  color: $main-white;
                  margin-bottom: 0;

                  @media (min-width: $screen-lg-min) {
                    margin-bottom: 0;
                    font-size: 2rem;
                    font-weight: 500;
                  }
                }

                .sign-up-p {
                  object-fit: contain;
                  font-size: 1.8rem;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 0.89;
                  letter-spacing: normal;
                  color: $main-white;
                  margin-bottom: 18px;
                  max-width: 270px;

                  @media (min-width: $screen-lg-min) {
                    margin-bottom: 0;
                    max-width: 100%;
                  }
                }

                .sign-up-button {
                  object-fit: contain;
                  border-radius: 3px;
                  background-color: #f8a12e;
                  font-size: 2rem;
                  font-weight: 500;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 0.8;
                  letter-spacing: normal;
                  color: $main-white;
                  color: #d57b07;
                  background-color: transparent;
                  border: 0;
                  padding: 0;
                  margin: 0;
                  text-align: right;
                  font-family: $main-font;

                  @media (min-width: $screen-lg-min) {
                    width: 69px;
                    height: 40px;
                    font-size: 2rem;
                    font-weight: 500;
                    line-height: 1.2;
                    color: #d57b07;
                    background-color: transparent;
                    border: 0;
                    box-shadow: none;
                    padding: 0;
                    margin: 0;
                  }
                }
              }
            }
          }
        }

        .second-img-container {
          width: 100%;
          height: 212px;
          position: relative;
          overflow: hidden;
          z-index: 1;

          @media (min-width: $screen-lg-min) {
            padding: 0;
            margin: 0 10px;
            height: 280px;
          }

          a {
            width: 100%;
            overflow: hidden;

            img {
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: 0;
            }

            @media (min-width: $screen-lg-min) {
              &:hover, &:focus {
                img {
                  transform: scale(1.1);
                  transition: all .3s ease-in-out;
                }
              }
            }
          }

          .second-img-wrapper {
            width: 100%;
            height: 100%;
            margin: 0;

            @media (min-width: $screen-lg-min) {
              padding:0;
              height: 280px;
            }


            .second-img-p-wrapper {
              height: 161px;
              width: 100%;
              background-color: rgba(0, 0, 0, 0.4);
              padding-right: 25px;
              padding-top: 9px;
              z-index: 4;

              @media (min-width: $screen-lg-min) {
                margin: 0;
                height: 118px;
                background-color: $background-p-img;
                max-width: 100%;
                width: 100%;
                padding: 3px 30px 10px;
              }

              .second-img-head {
                object-fit: contain;
                font-size: 2rem;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 2;
                letter-spacing: normal;
                color: $main-white; 
                margin: 0;

              }

              .second-img-p {
                object-fit: contain;
                font-size: 1.8rem;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 0.89;
                letter-spacing: normal;
                max-width: 270px;
                color: $main-white;
                margin-bottom: 0;

                @media (min-width: $screen-lg-min) {
                  max-width: 305px;
                }
              }
            }
          }
        }

        .third-img-container {
          width: 100%;
          margin: 29px 0;
          position: relative;
          overflow: hidden;
          z-index: 1;

          @media (min-width: $screen-lg-min) {
            padding: 0;
            margin:0 10px 0 0;
          }

          a {
            width: 100%;

            img {
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: 0;
            }

            @media (min-width: $screen-lg-min) {
              &:hover, &:focus {
                img {
                  transform: scale(1.1);
                  transition: all .3s ease-in-out;
                }
              }
            }
          }

          .third-img-wrapper  {         
            width: 100%;          
            height: 212px;

            @media (min-width: $screen-lg-min) {
              padding: 0;
              height: 280px;
            }

            .third-img-p-wrapper {
              height: 161px;
              width: 100%;
              background-color: rgba(0, 0, 0, 0.4);
              padding-right: 22px;
              padding-top: 9px;
              z-index: 4;

              @media (min-width: $screen-lg-min) {
                height: 100%;
                margin: 0;
                height: 118px;
                background-color: $background-p-img;
                max-width: 100%;
                width: 100%;
                padding: 3px 30px 10px;
              }

              .third-img-head {
                object-fit: contain;
                font-size: 2rem;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 2;
                letter-spacing: normal;
                color: $main-white; 
                margin-bottom: 0;
              }

              .third-img-p {
                object-fit: contain;
                font-size: 1.8rem;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 0.89;
                letter-spacing: normal;
                max-width: 270px;
                color: $main-white;
                margin-bottom: 0;

                @media (min-width: $screen-lg-min) {
                  max-width: 305px;
                }
              }
            }
          }
        }
      }
    } 

    .bottom-sec-p {
      border-top: solid 1px #dddddd;
      border-bottom: solid 1px #dddddd;
      max-width: 1280px;

      @media (min-width: $screen-lg-min) {
        margin: 0 20px;
      }

      p {
        padding: 24px 0;
        margin: 0;
        object-fit: contain;
        font-size: 1.6rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: $input-toggle-text;

        @media (min-width: $screen-lg-min) {
          color: #4e5665;
          font-size: 1.8rem;
          line-height: 1.33;
        }
      }
    }

    .bottom-sec {
      margin-top: 29px;
      max-width: 1280px;

      @media (min-width: $screen-lg-min) {
        margin-top: 20px;
        padding: 0 20px;
      }

      a {
        text-decoration: none;
      }

      .p-head {
        object-fit: contain;
        font-size: 2rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #0477af;
        margin: 8px 0 2px;

        @media (min-width: $screen-lg-min) {
          margin: 11px 0 4px;
        }
      }

      .bottom-sec-p {
        object-fit: contain;
        font-size: 1.6rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: normal;
        color: #595959;
        margin: 0 0 20px;
      }

      .bottom-sec {
        a {
          @media (min-width: $screen-lg-min) {
            &:hover, &:focus {
              img {
                transform: scale(1.1);
                transition: all .3s ease-in-out;
              }
            }
          }
        }
        .bottom-sec-wrapper-1, .bottom-sec-wrapper-2, .bottom-sec-wrapper-3 {
          
          @media (min-width: $screen-lg-min) {
            margin-left: 10px;
          }

          .bottom-sec-img {
            width: 100%;
            height: 212px;
            position: relative;
            overflow: hidden;

            @media (min-width: $screen-lg-min) {
              height: 280px;
            }

            img {
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: 0;
            }
          }

          .bottom-sec-p-wrapper {
              height: fit-content;

          }
        }
      }
    }
  }
}  

