@import "../common/common.scss";
.about {

	.custom-container {
		padding: 0 20px;
	}

	.nav-item-text-2 {
      background-color: rgba(255, 255, 255, 0.19);
      border-bottom: solid 1px #1c6897; 
	}

	.about-top-sec {
		position: relative;
		height: 205px;
		background-color: $main-white;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
		background-image: url('../common/img/group-13.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position-y: -4px;
		background-position-x: 7px;

		@media (min-width: $screen-lg-min) {
			background-image: url('../common/img/back-top-lg.svg');
			height: fit-content;
		}

		.right-blue-line {
			position: absolute;
			right: 0;
			top: -4px;
			width: 5px;
			height: 104%;
			border-radius: 4px;
			background-color: #1c6897;

			@media (min-width: $screen-lg-min) {
				width: 11px;
				top: -7px;
			}
		}

		.top-sec-container {
			max-width: 1222px; 
			width: 100%;
			padding: 0;

			@media (min-width: $screen-lg-min) {
				padding: 0 20px;
			}

			.about-breadcrumb-wrapper {
				margin:0 34px 0 0;	

				@media (min-width: $screen-lg-min) {
					margin:31px 20px 0 0;
				}

				.breadcrumb {
					margin: 0;	
				}

				.breadcrumb-item  {
					color: $header-blue;
					font-size: 1.6rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.75;
					letter-spacing: normal;
				}
			}

			.about-p-sec {
				margin: 73px 25px 28px 0;

				@media (min-width: $screen-lg-min) {
					margin: 0;
				}	

				.about-p-wrapper {

					@media (min-width: $screen-lg-min) {
						margin:29px 20px 116px 0;
					}	
				}	

				.about-head {
					font-size: 3rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.83;
					letter-spacing: normal;
					color: #1c6897;

					@media (min-width: $screen-lg-min) {
						font-size: 6.2rem;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						color: #1c6897;
						margin: 0 0 3px 0;
					}	
				}

				.about-top-p {
					font-size: 1.6rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.25;
					letter-spacing: normal;
					color: #4e5665;
					margin: 0 0 0 40px;

					@media (min-width: $screen-md-min) {
						max-width: 600px;
					}	

					@media (min-width: $screen-lg-min) {
						max-width: 1222px;
						font-size: 3rem;
						line-height: normal;
						letter-spacing: normal;
					}	
				}
			}
		}
	}

	.about-body {
		//height: 567px;

		.about-body-wrapper {
			width: 100%;
			margin-bottom: 67px;

			.about-body-p-wrapper {
				margin: 21px 0 30px;

				@media (min-width: $screen-md-min) {
					max-width: 1222px;
					padding: 0 10px;
				}	
			}

			.about-body-first-p, .about-body-second-p{
				margin-bottom: 0;
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.25;
				letter-spacing: normal;
				text-align: right;
				color: #4e5665;
			}

			.about-body-second-p {
				font-weight: 500;
			}

			.about-accordion-wrapper {

				.card-one {
					border-right: 5px solid #1c6897;
					border-radius: 2px;
					background-color: $main-white;
					box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
					min-height: 140px;
					margin-bottom: 32px;
					position: relative;

					@media (min-width: $screen-lg-min) {
						min-height: 264px;
						padding: 0 10px;
					}

					a.collapsed {
						.collapse-arrow {
							transform: rotate(90deg);
						}
					}

					.collapsed-p {
						@media (min-width: $screen-lg-min) {
							margin-top: 88px;
						}
					}

					.card-header {
						border-radius: 0;
					    padding: 0;
					    margin-bottom: 0;
					    background-color: $main-white;
					    border-bottom: none;
					    width: fit-content;
					}

					.top-sec-card-header {
						padding: 0 14px 10px 0;

						@media (min-width: $screen-lg-min) {
							padding: 0 91.5px 10px 0;
						}	

						img.icon-first-collaps-p {
							width: 44px;
							height: 44px;
							position: absolute;
							left: 9px;
							top: 9px;

							@media (min-width: $screen-lg-min) {
								height: 170px;
								width: 170px;
								top: 46px;
								left: 98px;
							}	
						}
					}
				
					h2 {
						font-size: 2rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.25;
						letter-spacing: normal;
						color: #1c6897;
						font-family: $main-font;
						padding-top: 17px;
						height: fit-content;
						margin: 0;

						@media (min-width: $screen-lg-min) {
							padding: 0;
							font-size: 3.2rem;
							line-height: 0.78;
						}	
					}

					p, .card-block {
						font-size: 1.5rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.33;
						letter-spacing: normal;
						color: #505050;
						font-family: $main-font;
						margin:0 14px 0 60px; 

						@media (min-width: $screen-lg-min) {
							max-width: 609px;
							margin:0 91.5px 0 60px;
							font-size: 1.6rem;
							line-height: 1.75;
						}	
					}

					.spinEffect{
						transform: rotate(90deg);
					}

				}

				.card-two {
					border-right: 5px solid #1c6897;
					border-radius: 2px;
					background-color: $main-white;
					box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
					min-height: 140px;
					position: relative;

					@media (min-width: $screen-lg-min) {
						min-height: 264px;
						padding: 0 10px;
					}	

					a.collapsed {
						.collapse-arrow {
							transform: rotate(90deg);
						}
					}

					.collapsed-p {
						@media (min-width: $screen-lg-min) {
							margin-top: 88px;
						}
					}

					.card-header {
						border-radius: 0;
					    padding: 0;
					    margin-bottom: 0;
					    background-color: $main-white;
					    border-bottom: none;
					    width: fit-content;

					    .icon-second-collaps-p {
					    	width: 44px;
							height: 46px;
							position: absolute;
							left: 9px;
							top: 9px;

							@media (min-width: $screen-lg-min) {
								width: 169.4px;
								height: 176px;
								top: 46px;
								left: 98px;
							}	
					    }
					}

					.top-sec-card-header {
						padding: 9px 14px 10px 9px;
						white-space: nowrap;

						@media (min-width: $screen-lg-min) {
							padding: 0 91.5px 10px 0;
						}	
					}

					
			
					h2 {
						font-size: 2rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.25;
						letter-spacing: normal;
						color: #1c6897;
						padding-top: 17px;
						margin: 0;

						@media (min-width: $screen-lg-min) {
							padding: 0;
							font-size: 3.2rem;
							line-height: 0.78;
						}	
					}

					p, .card-block {
						font-size: 1.5rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.33;
						letter-spacing: normal;
						color: #505050;
						font-family: $main-font;
						margin:0 14px 0 60px; 

						@media (min-width: $screen-lg-min) {
							max-width: 609px;
							margin:0 91.5px 0 60px;
							font-size: 1.6rem;
							line-height: 1.75;
						}	 
					}
				}
				.collapse-arrow {
			 		margin: 0 0 7px 10px;
			 		width: 15px;
					height: 13px; 

					@media (min-width: $screen-lg-min) {
						width: 30;
    					height: 26px;
    					margin: 37px 0 20px 15px;
					}	 
				}

				.show .collapse-arrow {
						transform: rotate(90deg);
					}	
			}
		}
	}
}	
