@import "../common/common.scss";

.contact-us {
	min-width: 330px;

	.contact-us-top-sec {
		position: relative;
		background-image:  url('../common/img/q-and-a-background-pic.png');
		height: fit-content;
		padding: 0;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
		background-repeat: no-repeat;
		background-size: contain;

		@media (min-width: $screen-lg-min) {
            background-image: url('../common/img/q-and-a-background-pic.png');
       	}

       	.right-line {
			position: absolute;
			right: 0;
			top: -4px;
			width: 5px;
			height: 104%;
			border-radius: 4px;
			background-color: $cobalt;

			@media (min-width: $screen-lg-min) {
				width: 11px;
				top: -7px;
			}
		}

		.background-img-top-sec {
			background-image: url('../common/img/contact-us-background-pic.svg');
			position: absolute; 
			bottom: 0;
			width: 100%;
  			height: 100%;
			object-fit: contain;
			opacity: 0.3;
			mix-blend-mode: overlay;
			background-size: contain;
			background-repeat: no-repeat;
			bottom: 0;
			left: 0;
			z-index: 1;
			//background-position-y: 22px;

			@media (min-width: $screen-lg-min) {
                background-image: url('../common/img/contact-us-background-pic.svg');
           	}

			
		}

		.top-sec-container {
			width: 100%;
			height: 100%;
			z-index: 2;

			@media (min-width: $screen-lg-min) {
                padding: 80px 20px;
    			max-width: 1304px;
           	}


			.contact-us-breadcrumb-wrapper {
				margin: 0 8px 0 0;	
				font-size: 1.5rem;
				position: absolute;
				width: fit-content;
				left: 20px;
				top: 16px;

				@media (min-width: $screen-lg-min) {
                    margin: 25px 108px 21px 0;
                    font-size: 1.6rem;
                    position: static;
                    width: 100%;
               	}

               	.breadcrumb {
					margin: 0;
				}

               	.breadcrumb-item-1 {
               		display: none;

               		@media (min-width: $screen-lg-min) {
	                    display: block;
	               	}
               	}

               	.breadcrumb-item-2 {
               		display: none;

               		@media (min-width: $screen-lg-min) {
	                    display: block;
	               	}
               	}
			}

			.contact-us-p-sec {
				margin: 16px 8px 0 0;	

				@media (min-width: $screen-lg-min) {
                    margin: 0;
               	}

				.contact-us-icon-wrapper {
					margin: 0 0 2px 0;

					@media (min-width: $screen-lg-min) {
	                    margin: 16px 0 0 43px;
	               	}

					img {
						width: 49px;
  						height: 51px;

						@media (min-width: $screen-lg-min) {
		                    width: 110px;
							height: 115px;
							object-fit: contain;
		               	}
					}
				}

				.contact-us-head {
					font-size: 3rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: $cobalt;
					text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

					@media (min-width: $screen-lg-min) {
						margin: 0 0 11px 0;
	                    font-size: 6.2rem;
	               	}
				}

				.contact-us-p {
					max-width: 1070px;
					font-size: 1.8rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: #4e5665;
					text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
					padding: 0;
					margin:0 0 20px 0;

					@media (min-width: $screen-lg-min) {
	                    font-size: 3rem;
	                    margin:0 0 10px 0;
	                    color: $cobalt;
	               	}
				}
			}
		}
	}

	.contact-us-body {
		height: fit-content;
		padding: 0 0 20px 0;

		@media (min-width: $screen-lg-min) {
    		height: 567px;
    		padding: 0;
    		margin: 0 0 235px 0;
       	}

		.contact-us-body-wrapper {
			width: 100%;
		}

		.contact-us-form-wrapper {
			margin: 25px 0 0 0;

			@media (min-width: $screen-lg-min) {
                max-width: 705px;
				width: 100%;
				margin: 44px 0 0 0;
           	}
			

			.form-group {
				width: 100%;
				margin-bottom: 0;
			}


			input {
				width: 100%;
				height: 50px;
				font-size: 1.5rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 0.5px;
				color: #6a768a;
				padding:0 23px 0 0;
			}

			.subject {
				position: relative;

				@media (min-width: $screen-lg-min) {
                    
               	}

				.blue-arrow {
					width: 12px;
					height: 12px;
					position: absolute;
					border: solid $header-blue;
				    border-width: 0 1.5px 1.5px 0;
				    display: inline-block;
				    transform: rotate(45deg);
				    -webkit-transform: rotate(45deg);
				    pointer-events: none;
				    top: 17px;
				    left: 17px;
				}

				#subjectSelect {
					width: 100%;
					height: 50px;
					font-size: 1.5rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: 0.5px;
					color: rgba(106,118,138,0.8);
					-webkit-appearance: none;
					-moz-appearance: none;
					padding:0 23px 0 0;
				}
			}

			.subject-phone-wrapper, .name-email-wrapper {

				@media (min-width: $screen-lg-min) {
                    margin:0 0 25px 0;
                    height: 50px;
               	}
			}

			.name, .subject {
				margin: 0 0 25px 0;

				@media (min-width: $screen-lg-min) {
                    margin: 0 0 0 25px;
               	}
			}

			.email, .phone-number {
				 margin: 0 0 25px 0;

				 @media (min-width: $screen-lg-min) {
                    margin: 0;
               	}
			}

			.save-details-button {
				max-width: 882px;

				button {
					width: 100%;
					height: 50px;
					object-fit: contain;
					border-radius: 3px;
					background-color: $header-blue;
					box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
					font-size: 2rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: 0.5px;
					text-align: center;
					color: $main-white;

					@media (min-width: $screen-lg-min) {
	                    width: 180px;
	               	}

					&:active {
			          background-color: #1c6897;
			          color: $header-blue;
			          border: 0;
			        }
				}
			}

			.subject-textarea {
				height: 87px;
				margin: 0 0 25px 0;

				textarea {
					height: 100%;
					font-size: 1.5rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: 0.5px;
					color: #6a768a;
					padding: 17px 23px 0 0;
				}
			}

			.upload-file-wrapper {
				height: 102px;
				width: 100%;
				border-radius: 3px;
				background-color: #ffffff;
				border: dashed 1px #d4d4d4;
				margin: 0 0 25px 0;

				.form-control-file {
					&::before {
						background-color: red;
					}
					&::after {
						background-color: red;
					}
				}

				.file-input-wrapper {
					padding: 12px 23px 0 0;

					small {
						opacity: 0.6;
						font-size: 1.5rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: 0.5px;
						color: #4e5665;
						margin: 0 0 13.5px 0;
						display: block;
					}
				}

				.file-button-wrapper {
					height: 30px;
					opacity: 0.6;
					border-radius: 4px;
					box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
					border: solid 1px rgb(78, 86 ,101);
					width: 100px;
					position: relative;
					
					.file-button-text {
						position: absolute;
						opacity: 0.6;
						font-size: 1.5rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.07;
						letter-spacing: normal;
						text-align: right;
						color: #4e5665;
						z-index: 0;
					}

					.custom-file-input {
						cursor: pointer;
						height: 30px;
						width: 100%;
						order: 2;
						background-color: transparent;
						padding: 0;
						min-width: fit-content;
					}

					.custom-file-control {
						
					}
				}	
			}

			.recaptcha-container {
				margin: 0 0 48px 0;

				@media (min-width: $screen-lg-min) {
					margin: 0;
				}
			}
		}

		.info-container {
			width: 100%;
			height: 242px;
			border-radius: 3px;
			background-color: $main-white;
			box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
			margin: 35px 0 0 0;
			position: relative;
			padding: 30px 30px 0 0;

			@media (min-width: $screen-lg-min) {
				width: 430px;
				height: 342px;
				padding: 68px 60px 0 20px;
			}

			.right-line {
				position: absolute;
				right: 0;
				top: 0px;
				width: 7px;
				height: 100%;
				border-radius: 4px;
				background-color: $cobalt;

				@media (min-width: $screen-lg-min) {
					width: 11px;
				}
			}

			h2 {
				font-size: 3.2rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.69;
				letter-spacing: normal;
				color: $cobalt;
			}
			.info-wrapper {
				width: 270px;
				height: 119px;
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.75;
				letter-spacing: normal;
				color: #4e5665;

				address {
					margin: 0;	
				}

				.mail-info {
					font-family: HelveticaNeue;
					font-size: 15px;
					line-height: 1.87;
					color: #0a7bb6;
				}
			}
		}
	}
}	

.contact-us-footer {
	border-top: solid 1px #dddddd;;
  	object-fit: contain;
  	padding: 67px 0 0;
  	margin: 0 46px;

  	@media (min-width: $screen-lg-min) {
		margin: 0 165px;
	}

	.footer-nav-wrapper {
		margin: 0 0 87px 0;
	}

	@media (min-width: $screen-lg-min) {
		margin: 0;
	}
}