@import "./styles/color-palette.scss";

$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$main-font: FbReforma;


html {
	direction: rtl;
 	font-family: $main-font;
 	font-size: 10px;
 	text-align: right;
}

body {
 	text-align: right;
}

ul { 	
	text-decoration: none;
	list-style: none;
	font-family: $main-font;
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

p {
	font-family: $main-font;
	text-align: right;
}

.custom-container {
	padding: 0 23px;

	@media (min-width: $screen-md-min) {
		padding: 0 18px;
	}

	@media (min-width: $screen-lg-min) {
		max-width: 1222px;
		padding: 0 20px;
	}
}

/* --header-- */

