@import "../common/common.scss";
.profile {

	.profile-top-sec {
		position: relative;
		height: 308px;
		background-color: $profile-top-sec-backround;

		.background-img-top-sec {
			background-image: url('../common/img/placeholde.svg');
			position: absolute; 
			bottom: 0;
			width: 90%;
  			height: 90%;
			object-fit: contain;
			opacity: 0.3;
			mix-blend-mode: overlay;
			background-size: contain;
			background-repeat: no-repeat;
			bottom: 0;
			left: 0;
		}

		.top-sec-container {
			max-width: 1222px; 
			width: 100%;

			.profile-breadcrumb-wrapper {
				margin-right: 34px;	
			}

			.profile-p-sec {
				margin-right: 34px;

				.profile-icon-wrapper {
					margin: 24px 0 0 39px;

					img {
						height: 98px;
					}
				}

				.profile-head {
					font-size: 6.2em;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: $main-white;
					text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
				}

				.profile-p {
					max-width: 1070px;
					font-size: 3em;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: $main-white;
					text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
				}
			}
		}
	}

	.profile-body {
		height: 567px;

		.profile-body-wrapper {
			width: 100%;
		}

		.profile-form-wrapper {
			max-width: 880px;
			width: 100%;
			margin-top: 44px;

			.form-group {
				width: 100%;
				margin-bottom: 0;
			}


			input {
				width: 100%;
				height: 50px;
				font-size: 1.5em;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 0.5px;
				color: #6a768a;
				padding-right: 25px;
			}

			.language {
				position: relative;

				.blue-arrow {
					width: 12px;
					height: 12px;
					position: absolute;
					border: solid $header-blue;
				    border-width: 0 1.5px 1.5px 0;
				    display: inline-block;
				    transform: rotate(45deg);
				    -webkit-transform: rotate(45deg);
				    pointer-events: none;
				    top: 17px;
				    left: 17px;
				}

				#language-reg {
					width: 100%;
					height: 50px;
					font-size: 1.5em;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: 0.5px;
					color: rgba(106,118,138,0.8);
					-webkit-appearance: none;
					-moz-appearance: none;
					padding-right: 25px;
				}
			}

			.name-lng-wrapper, .email-wrapper {
				margin-bottom: 25px;
			}

			.password-wrapper {
				margin-bottom: 40px;
			}

			.name, .email, .password {
				margin-left: 20px;
			} 

			.language, .email-confirm, .password-confirm {
				margin-right: 20px;
			}
		}

		.save-details-button {
			max-width: 882px;

			button {
				width: 180px;
				height: 50px;
				object-fit: contain;
				border-radius: 3px;
				background-color: $header-blue;
				box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
				font-size: 2em;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 0.5px;
				text-align: center;
				color: $main-white;
			}
		}
	}
}	

.profile-footer {
	border-top: solid 1px #dddddd;;
  	object-fit: contain;
  	max-width: 1270px;
  	padding: 30px 165px 0;
  	margin: 0 auto;
}