@import "../util/util.scss";

.profile {
	min-width: 330px;

	.profile-top-sec {
		position: relative;
		background-color: $cobalt;
		height: auto;
		padding: 0;
		min-height: 205px;
        height: auto;

		@media (min-width: $screen-lg-min) {
            min-height: 308px;
            //height: auto;
       	}

		.background-img-top-sec {
			background-image: url('../common/img/placeholde.svg');
			position: absolute; 
			bottom: 0;
			width: 100%;
  			height: 100%;
			object-fit: contain;
			opacity: 0.3;
			mix-blend-mode: overlay;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: left;
			bottom: 0;
			left: 0;
			z-index: 1;
			background-position-y: 22px;

			@media (min-width: $screen-lg-min) {

           	}

			
		}

		.top-sec-container {
			width: 100%;
			height: 100%;
			z-index: 2;

			@media (min-width: $screen-lg-min) {
                padding: 0 20px;
                max-width: 1262px; 
           	}

           	@media (min-width: $screen-xl-min) {
                //padding: 0 20px;
           	}

			.profile-breadcrumb-wrapper {
				margin: 0 8px 0 0;	
				font-size: 1.5rem;
				position: absolute;
				width: auto;
				left: 20px;
				top: 16px;

				@media (min-width: $screen-lg-min) {
                    margin: 32px 110px 29px 0;
                    font-size: 1.6rem;
                    position: static;
                    width: 100%;
               	}

               	.breadcrumb {
					margin: 0;

					span {
						top: 0;
					}
				}

               	.breadcrumb-item-1, .breadcrumb-item-2 {
               		display: none;

               		@media (min-width: $screen-lg-min) {
	                    display: block;
	               	}
               	}
			}

			.profile-p-sec {
				margin: 16px 8px 0 0;	

				@media (min-width: $screen-lg-min) {
                    margin: 0;
               	}

				.profile-icon-wrapper {
					margin: 0 0 10px 0;

					@media (min-width: $screen-lg-min) {
	                    margin: 10px 0 0 24px;
	               	}

					img {
						height: 47px;
						width: auto;

						@media (min-width: $screen-lg-min) {
		                   height: 116px;
		                   width: auto;
		               	}
					}
				}

				.profile-head {
					font-size: 3rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: $main-white;
					text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

					@media (min-width: $screen-lg-min) {
	                    font-size: 6.2rem;
	               	}
				}

				.profile-p {
					font-size: 1.6rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: $main-white;
					text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
					padding: 0 0 0 20px;
					margin:0 0 20px 0;

					@media (min-width: $screen-lg-min) {
	                    font-size: 3rem;
	                    margin:0 0 10px 0;
	                    max-width: 1070px;
	                    padding: 0 0 0 20px;
	               	}
				}
			}
		}
	}

	.profile-body {
		height: auto;
		padding: 0 0 87px 0;

		@media (min-width: $screen-lg-min) {
    		height: 567px;
    		padding: 0;
       	}

		.profile-body-wrapper {
			width: 100%;
		}

		.profile-form-wrapper {
			max-width: 880px;
			width: 100%;
			margin-top: 44px;

			.form-group {
				width: 100%;
				margin-bottom: 0;
			}


			input {
				width: 100%;
				height: 50px;
				font-size: 1.5rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 0.5px;
				color: #6a768a;
				padding:0 25px 0 0;
			}

			.first-name-wrapper {
				margin: 0 0 0 10px;
			}

			.input-bullet {
				position: absolute;
				width: 6px;
				height: 6px;
				background-color: $header-blue;
				border-radius: 50%;
				right: 11px;
				top: 50%;
				margin: -4px 0 0 0;

				@media (min-width: $screen-lg-min) {
                    margin: -3px 0 0 0;
               	}
			}

			.language {
				position: relative;

				.blue-arrow {
					width: 9px;
					height: 9px;
					position: absolute;
					border: solid $header-blue;
				    border-width: 0 1.5px 1.5px 0;
				    display: inline-block;
				    transform: rotate(45deg);
				    -webkit-transform: rotate(45deg);
				    pointer-events: none;
				    top: 18px;
				    left: 17px;
				}

				#languageReg {
					width: 100%;
					height: 50px;
					font-size: 1.5rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: 0.5px;
					color: rgba(106,118,138,0.8);
					-webkit-appearance: none;
					-moz-appearance: none;
					padding:0 25px 0 0;

					&::-ms-expand {
			           display: none;
			        }
				}

				option {
					width: 100%;
					font-size: 1.5rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: 0.5px;
					color: rgba(106,118,138,0.8);
					-webkit-appearance: none;
					-moz-appearance: none;
					padding:0 25px 0 0;
				}
			}

			.name-lng-wrapper, .email-wrapper {

				@media (min-width: $screen-lg-min) {
                    margin-bottom: 25px;
                    height: 50px;
               	}
			}

			.password-wrapper {
				margin:0 0 40px 0;

				@media (min-width: $screen-lg-min) {
                    margin:0 0 30px 0;
               	}
			}

			.name, .email, {
				margin: 0 0 40px 0;

				@media (min-width: $screen-sm-min) {
                    margin: 0 0 25px 0;
               	}

				@media (min-width: $screen-lg-min) {
                    margin:0 0 0 20px;
               	}
			} 

			#inputPasswordProfile {
				margin: 0 0 10px 0;

				@media (min-width: $screen-lg-min) {
                    margin: 0;
               	}
			}

			.password {
				margin: 0 0 30px 0;

				.hint {
					opacity: 0.51;
					font-family: FbReforma;
					font-size: 1.2rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: 0.6px;
					text-align: right;
					color: #6a768a;
					margin: -8px 25px 0 0;
					position: absolute;
					display: none;

					@media (min-width: $screen-lg-min) {
	                    margin: 3px 25px 0 0;
	               	}
				}

				@media (min-width: $screen-sm-min) {
                    margin: 0 0 25px 0;
               	}

				@media (min-width: $screen-lg-min) {
                    margin:0 0 0 20px;
               	}
			}

			.password-confirm {
				position: relative;	

				@media (min-width: $screen-lg-min) {
	                margin:0 20px 0 0;
	           	}

	           	#showPasswordConfirm {
					position: absolute;
					left: 10px;
					top: -23px;
					font-size: 1.6rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.75;
					letter-spacing: normal;
					color: #0a7bb6;
					cursor: pointer;
				}
			}

			.language, .email-confirm {
				margin: 0 0 40px 0;

				@media (min-width: $screen-sm-min) {
                    margin: 0 0 25px 0;
               	}

				@media (min-width: $screen-lg-min) {
                    margin: 0 20px 0 0;
               	}
			}

			.phone-number {
				max-width: 420px;
				margin: 0 0 40px 0;

				@media (min-width: $screen-lg-min) {
                    margin: 0;
               	}
			}

			.checkbox-active-account-wrapper {
				width: auto;
				margin: 25px 0 50px 0;
				position: relative;

				@media (min-width: $screen-lg-min) {
                    margin: 25px 0 0 0;
               	}

				input {
					width: 30px;
					height: 30px;
				}

				.checkbox-input-wrapper {
					margin: 0 0 0 12px;
				}

				.form-checkbox {
					margin: 0;
					appearance: none;
					background-image: url('../common/img/checkbox-X.svg');
					border-radius: 2.4px;
					background-color: #f6f6f6;
					box-shadow: inset 0 0 18px 0 rgba(0, 0, 0, 0.1);
					background-size: auto;
					background-repeat: no-repeat;
					background-position: center;
					//background-color: $main-white;
					display: inline-block;
					position: relative;
					width: 30px;
					height: 30px;
				    padding: 0;

					@media (min-width: $screen-lg-min) {
						
					}
				}


				.form-checkbox:checked {
					background-image: url('../common/img/selected-check.svg');
					background-size: 100%;
				}

				.form-checkbox:checked:after {
					
				}

				.input-first-label-not-active, .input-first-label-active {
					font-size: 2rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.75;
					letter-spacing: 0.6px;
					color: #6a768a;
					display: block;
					margin: 0 0 5px 0;
				}

				.input-first-label-active {
					color: $header-blue;
				}

				.input-second-label {
					font-size: 1.6rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.94;
					letter-spacing: 0.5px;
					color: #6a768a;
					display: inline-block;

				}

				// .change-color {
				// 	color: $header-blue;
				// }

				.checkbox-input-p {
					position: absolute;
					max-width: 200px;
					opacity: 0.51;
					font-family: FbReforma;
					font-size: 1.2rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.92;
					letter-spacing: 0.4px;
					color: #6a768a;
					top: 40px;
				}
			}

			input.parsley-error {
              box-shadow: none;
              border-bottom: solid 2px #d53b4a;
              padding-top: 1px;
              box-sizing: border-box;
            }

            .form-group-password {
            	position: relative;

				.parsley-errors-list {
					//bottom: -24px;

					 @media (min-width: $screen-sm-min) {
						bottom: -15px;
					 }

					@media (min-width: $screen-lg-min) {
						bottom: -30px;
					}
				}

				#showPassword {
					position: absolute;
					left: 10px;
					top: -23px;
					font-size: 1.6rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.75;
					letter-spacing: normal;
					color: #0a7bb6;
					cursor: pointer;
				}
			}
		}

		.save-details-button {
			max-width: 882px;

			button {
				width: 100%;
				height: 50px;
				object-fit: contain;
				border-radius: 3px;
				background-color: $header-blue;
				box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
				font-size: 2rem;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 0.5px;
				text-align: center;
				color: $main-white;

				@media (min-width: $screen-lg-min) {
                    width: 180px;
               	}

				&:active, &:focus {
		          background-color: #1c6897;
		          color: $header-blue;
		          border: 0;
		        }
			}
		}

		.save-details-button {
			margin: 0 0 25px 0;

			@media (min-width: $screen-lg-min) {
            	margin: 0 0 25px 0;
           	}
		}
	}

	.modal.show {
		background-color: rgba(10, 123, 182, 0.9);;

		.modal-dialog {
			margin: 156px 20px 0;

			@media (min-width: $screen-sm-min) {
				margin: 246px auto 0;
			}

			@media (min-width: $screen-lg-min) {
				
				max-width: 924px;
				min-height: 425px;
			}
		}

		.modal-content {
			width: 100%;
			height: auto;
			border-radius: 3px;
			background-color: #ffffff;
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
			margin: 0;
			position: relative;

			.close-btn {
				width: 235px;
				height: 50px;
				object-fit: contain;
				border-radius: 3px;
				background-color: $header-blue;
				box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
				font-size: 2rem;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 0.5px;
				text-align: center;
				color: $main-white;

				@media (min-width: $screen-lg-min) {
                    width: 180px;
               	}

				.close-img {
					width: 20px;
					height: 20px;

					@media (min-width: $screen-lg-min) {
						width: 25px;
						height: 25px;
					}
				}
			}

			.right-background-img {
				position: absolute;
				top: 50%;
				right: 0;
				margin: -87px 0 0 0;
			}

			.left-background-img {
				position: absolute;
				top: 50%;
				left: 0;
				margin: -95px 0 0 0;
			}
		}

		.modal-body {

			padding: 0 9px 47px;
			height: 333px;
			width: 100%;

			@media (min-width: $screen-lg-min) {
				height: auto;
				width: auto;
				padding: 0 22px 72px;
			}


			.dialog-icon {
				width: auto;
				height: 134px;
				margin: -37px 0 21px 0;

				@media (min-width: $screen-lg-min) {
					width: auto;
  					height: 192px;
  					margin: -61px 0 21px 0;
				}
			}

			h4 {
				font-size: 3rem;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
				color: $header-blue;

				@media (min-width: $screen-lg-min) {
					font-size: 6.2rem;
				}
			}

			p {
				font-size: 2rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: normal;
				text-align: center;
				color: #4e5665;
				max-width: 292px;
				margin: 0 0 55px 0;
				line-height: 1.25;
				font-size: 2rem;

				@media (min-width: $screen-lg-min) {
					max-width: 100%;
					line-height: 0.78;
					font-size: 3.2rem;
				}
			}
		}
	}
}	

// .profile-footer {
// 	border-top: solid 1px #dddddd;;
//   	object-fit: contain;
//   	padding: 30px 0 0;
// }