
.main-footer {

  margin: 0 46px;

  @media (min-width: $screen-lg-min) {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .logo-merkava-warpper {
    margin: 5px 0 0 0;

    .logo-merkava {
      width: 28px;
      height: 32px;
    }
  }

  .footer-nav-wrapper {
    padding: 69px 0 73px 0;
    border-top: solid 2px rgba(224,224,224,.3);
    width: 100%;

    @media (min-width: $screen-lg-min) {
      margin: 0;
      max-width: 1271px;
      min-height: 110px;
      padding: 0;
      height: 32px;
      //padding: 58px 0 0 0;
    }
    // max-width: 250px;
    // margin:0 0 75px 0;

    // @media (min-width: $screen-lg-min) {
    //   //margin-bottom: 155px;
    //   max-width: 100%;
    // }

    .merkava-p {
      object-fit: contain;
      font-size: 1.6rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      //line-height: 1.38;
      letter-spacing: normal;
      text-align: center;
      color: $header-blue;
      line-height: 0.9;
      margin: 10px 0 10px 8px;
    }

    /* --footer navigation-- */

    .footer-nav {
      margin: 0;
      padding: 0;
      max-width: 250px;

      @media (min-width: $screen-lg-min) {
        max-width: 100%;
      }

      a {
        height: auto;
        text-decoration: none;

        .footer-item {
          object-fit: contain;
          font-size: 1.6rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          //line-height: 1.38;
          letter-spacing: normal;
          text-align: center;
          color: $header-blue;
          line-height: 0.8;
          border-left: 1px solid $header-blue;
          padding-left: 10px;
          margin: 0 0 10px 10px;

          @media (min-width: $screen-lg-min) {
            margin: 0 0 0 10px;
          }
        }
      }

      a:last-child {

        .footer-item:last-child {
          border-left: 0;
          padding-left: 0;
          margin-left: 0;
        }
      }

      a:nth-child(even) {

        .footer-item {
          border-left: 0;
          padding-left: 0;
          margin-left: 0;

          @media (min-width: $screen-lg-min) {
            border-left: 1px solid $header-blue;
            padding-left: 10px;
            margin: 0 0 0 10px;
          }
        }
      }
    }
  }

  .logo-merkava-lg {
    opacity: 0.8;
    height: 44px;
    width: 39px;
    object-fit: contain;
    opacity: 0.7;
    margin-right: 8px;
  }
}