@import "./styles/color-palette.scss";

$screen-md-min: 768px;
$screen-xl-min: 1200px;
$main-font: FbReforma;

@font-face {
	font-family: "FbReforma";
	src: url("/fonts/FbReforma-Medium.otf") format("OpenType"),
	     url("/fonts/FbReforma-Regular.otf") format("OpenType");
}

body {
 	direction: rtl;
 	font-family: $main-font;
 	font-size: 10px;
 }

ul { 	
	text-decoration: none;
	list-style: none;
}

a {
	text-decoration: none;
}

.custom-container {
	padding: 0 23px;

	@media (min-width: $screen-md-min) {
		padding: 0 18px;
	}

	@media (min-width: $screen-xl-min) {
		max-width: 1222px;
		padding: 0 20px;
	}
}

/* --header-- */

header {
	object-fit: contain;
	background-color: $header-blue;
	padding-bottom: 37px;
	position: relative;

	@media (min-width: $screen-md-min) {
		padding-bottom: 22px;
	}

	.gery-line { 
		position: absolute;
		top: 75px;
		height: 2px;
		width: 100%;
		object-fit: contain;
		border: solid 1px #1c6897;
	}

	.main-container {
		margin-bottom: 43px;

		@media (min-width: $screen-md-min) {
			margin-bottom: 22px;
		}

		@media (min-width: $screen-xl-min) {
			margin: 0 auto 22px;
			padding: 0 20px;
		}

		.top-sec {
			margin: 19px 0;

			@media (min-width: $screen-md-min) {
				margin: 17px 11px 0 0;
			}

			@media (min-width: $screen-xl-min) {
				margin: 22px 0 0 0;
			}

			.top-sec-container {
				width: 100%;

				.logo {

					@media (min-width: $screen-md-min) {
						
					}		

					img {
						height: 44px;

						@media (min-width: $screen-xl-min) {
							height: 32px;
						}	
					}

					.logo-head-container {
						margin-right: 8px;

						.first-head {
							font-family: $main-font;
							font-size: 1.2em;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.33;
							letter-spacing: 1.3px;
							text-align: right;
							color: $main-white;

							@media (min-width: $screen-md-min) {
								font-size: 1.4em;
								line-height: 1.14;
								letter-spacing: 1.5px;
							}

							@media (min-width: $screen-xl-min) {
								font-size: 1.6em;
								line-height: 1;
								letter-spacing: 1.5px;
							}

						}

						.second-head {
							font-family: OpenSans;
							font-size: 1em;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.6;
							letter-spacing: 1.3px;
							text-align: right;
							color: $main-white;

							@media (min-width: $screen-md-min) {
								font-size: 1.2em;
								line-height: 1.33;
								letter-spacing: 1.5px;
							}

							@media (min-width: $screen-xl-min) {
								font-size: 1.4em;
								line-height: 1.14;
								letter-spacing: 1.5px;
							}
						}
					}
				}

				.nav-button {
					padding: 0;
					margin: 0;
					border: 0;
					background-color: transparent;
					@media (min-width: $screen-md-min) {
						margin-right: 4px;
					}
				}

				.dropdown-menu {
					background-color: $header-blue;
					font-size: 1em;
					width: 170px;

					.main-nav {
						margin: 0px 20px;
						padding: 0;

						li {
							margin: 10px 0;
						}

						.first {

						}

						.last {

						}
					}
				}
			}
		}
	}

	/* --middle section header-- */

	.middle-sec {
		padding: 18px 0 0;

		@media (min-width: $screen-md-min) {
			margin-left: 3px;
			width: 209px;
		}

		@media (min-width: $screen-xl-min) {
			margin-left: 0;
			width: fit-content;
		}

		.font-size-container {
			margin-right: 5px;
			margin-left: auto;
			height: fit-content;
			text-decoration: none;

			@media (min-width: $screen-md-min) {
				margin: 38px auto 0 5px;
				order: 1;
			}

			@media (min-width: $screen-xl-min) {
				margin: 0 0 0 38px;
			}


			.Abig {
				object-fit: contain;
				font-family: FbReforma;
				font-size: 2.6em;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 0.62;
				letter-spacing: normal;
				text-align: right;
				color: $main-white;
				margin-left: 8px;
			}

			.Asmall{
				object-fit: contain;
				font-family: FbReforma;
				font-size: 2em;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1;
				letter-spacing: normal;
				text-align: right;
				color: $main-white;
			}
		}

		.middle-sec-container {
			width: 100%;

			 @media (min-width: $screen-md-min) {
	
			 }

			 @media (min-width: $screen-xl-min) {
				margin: 0;
			 }


			.dropdown {
				width: fit-content;

				@media (min-width: $screen-xl-min) {
					
				}

				.lng-btn {
					padding: 0;
  					height: 16px;
					background-color: transparent;
					border: none;
					margin-left: 25px;
					object-fit: contain;
					font-family: FbReforma;
					font-size: 2em;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.8;
					letter-spacing: normal;
					text-align: right;
					color: $main-white;

					@media (min-width: $screen-md-min) {
						margin-left: 31px;
					}

					@media (min-width: $screen-xl-min) {
						height: fit-content;
					}
				}

				.lng-btn::after {
					margin: 1px 23px 0 0;
					border-top: .5em solid;
					border-right: .25em solid transparent;
					border-bottom: 0;
					border-left: .25em solid transparent;

					@media (min-width: $screen-md-min) {
						margin-left: 31px;
					}

					@media (min-width: $screen-xl-min) {
						border: solid $main-white;
					    border-width: 0 1.5px 1.5px 0;
					    display: inline-block;
					    transform: rotate(45deg);
   						-webkit-transform: rotate(45deg);
   						margin: 0;
   						margin: 0 13px 8px 0;
					    height: 10px;
					    width: 10px;
					}
				}
			}

			.ent-btn {
				color: #fff;
				width: 107px;
				height: 40px;
				object-fit: contain;
				border-radius: 3px;
				background-color: #f5891b;
				box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
				border: solid 1px #ecba88;
				box-sizing: border-box;
				padding: 0;
				@media (min-width: $screen-xl-min) {
					order: 1;
					width: 107px;
					height: 40px;
					border-radius: 4px;
					background-color: #ffffff;
					box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
					font-size: 2em;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.8;
					letter-spacing: normal;
					text-align: center;
					color: $ent-bnt-font-color;
				}
			}
		}
	}

	/* --input section-- */

	.input-sec {
		height: 60px;
   		width: 100%;

   		@media (min-width: $screen-xl-min) {
			margin: 42px auto 0;
		}


		.input-container {
			background-color: #fff;
			width: 100%;

			.dropdown {

				.input-toggle {
					object-fit: contain;
					font-family: FbReforma;
					font-size: 2em;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.8;
					letter-spacing: normal;
					text-align: right;
					color: #666666;
					background-color: #fff;
					border: none;
					border-left: rgba(102,102,102,0.3) solid 1px; 
					border-radius: 0;
					margin-right: 26px;
					padding-left: 20px;

					@media (min-width: $screen-md-min) {
						font-size: 2.4em;
						line-height: 0.67;
					}
				}	

				.input-toggle::after {
					margin: 3px 17px 0 1px; 
					color: $header-blue;
					border-top: .5em solid;
					border-right: .25em solid transparent;
					border-bottom: 0;
					border-left: .25em solid transparent;

					@media (min-width: $screen-md-min) {
						margin: 0 30px 5px 0;
						border: solid $header-blue;
					    border-width: 0 1.5px 1.5px 0;
					    display: inline-block;
					    padding: 3px;
					    transform: rotate(45deg);
   						-webkit-transform: rotate(45deg);
   						height: 12px;
    					width: 12;
					}
				}
			}

			.main-input {
				font-size: 2em;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 0.8;
				letter-spacing: normal;
				text-align: right;
				color: #999999;
				border: 0;
				padding-right: 20px;
				flex: 1;
				width: 139px;

				@media (min-width: $screen-md-min) {
					width: 100%;
				}

				// @media (min-width: $screen-md-min) {
				// 	object-fit: contain;
				// 	font-size: 3em;
				// 	line-height: 0.53;
				// }

				@media (min-width: $screen-xl-min) {
					object-fit: contain;
					font-size: 2.4em;
					line-height: 0.67;
				}
			}

			

			.search-input {
				height: 100%;
				background-color: transparent;
				padding: 0;
				border: 0;
				padding: 0 22px;

				@media (min-width: $screen-md-min) {
					padding: 0 22px;
				}

				img {
					
				}
			}
		} 
	}

	/* --main navigation-- */

	.main-nav {
		margin: 0 auto;
		padding: 20px 20px 0;

		ul {
			width: 100%;
			padding: 0;

			li {
				#navLink {
      				font-size: 2em;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.8;
					letter-spacing: normal;
					text-align: right;
					color: $main-white;
					text-decoration: none;
					padding: 0;
				}
			}
		}
	}
}

/* --body-- */

section {
	margin: 37 35px 30px;
	padding-bottom: 52px;
	object-fit: contain;
  	border-bottom: solid 1px #e0e0e0;

	@media (min-width: $screen-md-min) {
		margin: 0 18px;
		padding-bottom: 76px;
	}


	@media (min-width: $screen-xl-min) {
		max-width: 1260px;
		margin: 20px auto 35px;
		padding-bottom: 71px;
		//padding: 0 18px;
	}

	.top-sec-wrapper {

		@media (min-width: $screen-md-min) {
    		padding: 20px 0 0;
		}

		@media (min-width: $screen-xl-min) {
			padding: 0;
			height: 340px;
		}

        /* --main gallery-- */

		.main-gallery {
			width: 100%;
			

			@media (min-width: $screen-md-min) {
				padding: 0;
			}

			@media (min-width: $screen-xl-min) { 
				//width: 621px;
				padding: 0;
				margin-left: 10px;
				width: 50%;
				position: relative;
			}

			.swiper-container {
				width: 100%;

				.swiper-wrapper {
					height: 460px;

					@media (min-width: $screen-xl-min) {
						height: 100%;
					}

					.swiper-slide-1 {

						 @media (min-width: $screen-xl-min) {
	  						// background-color: rgba(0, 0, 0, 0.4);
	  						width: 100%;
						}
					 	.main-gallery-wrapper-s-1 {
					 		height: 100%;
					 		background-image: url("img/mainimg-gallery.jpg");
						 	background-repeat: no-repeat;
							object-fit: contain;
							background-size: cover;

							@media (min-width: $screen-xl-min) {
								background-image: url("img/main-gallery.png");
							}
					 		

					 		.main-gallery-container-p-s-1 {
							    max-width: 241px;
							    margin: 0 23px 56px;

							    @media (min-width: $screen-md-min) {
								    margin: 0 49px 87px;
	    							max-width: 340px;
								}

							    @media (min-width: $screen-xl-min) {
			  						// background-color: rgba(0, 0, 0, 0.4);
			  						height: 161px;
			  						max-width: 100%;
			  						width: 100%;
			  						margin: 0;
								}

								.main-gallery-wrapper-p-s-1 {

									@media (min-width: $screen-xl-min) {
										//max-width: 370px;
										padding: 18px 48px 0px;
									    height: 170px;
									    background-color: rgba(0, 0, 0, 0.4); 
									}

							 		.main-gallery-sp-1 {
							 			object-fit: contain;
										font-family: FbReforma;
										font-size: 2em;
										font-weight: 500;
										font-style: normal;
										font-stretch: normal;
										line-height: 0.9;
										letter-spacing: normal;
										text-align: right;
										color: $main-white;
										margin-bottom: 12px;

										@media (min-width: $screen-md-min) {
											object-fit: contain;
											font-size: 3em;
											line-height: 0.93;
										}

										@media (min-width: $screen-xl-min) {
											//margin: 18px 48px 5px;
											width: 100%;
											max-width: 400px;
										}
							 		}

							 		.main-gallery-sp-2 {
							 			margin-right: 2px;
							 			object-fit: contain;
										font-family: FbReforma;
										font-size: 1.8em;
										font-weight: normal;
										font-style: normal;
										font-stretch: normal;
										line-height: 1;
										letter-spacing: normal;
										text-align: right;
										color: $main-white;
										margin-bottom: 5px;
							 		}

							 		.main-gallery-sp-3 {
							 			margin: 0;
							 			margin-right: 2px;
							 			object-fit: contain;
										font-family: FbReforma;
										font-size: 1.4em;
										font-weight: normal;
										font-style: normal;
										font-stretch: normal;
										line-height: 1.29;
										letter-spacing: normal;
										text-align: right;
										color: $main-white;
							 		}
						 		}
					 		}
					 	}
					}

					.swiper-slide-2 {
						background-image: url("img/mainimg-gallery-copy.png");
					 	background-repeat: no-repeat;
						object-fit: contain;
						background-size: cover;

						@media (min-width: $screen-xl-min) {
							background-image: url("img/banner-big.png");
						}

						.main-gallery-wrapper-s-2 {
							height: 100%;


							@media (min-width: $screen-xl-min) {
								//max-width: 370px;
								padding: 18px 48px 0px;
							    height: 161px;
							    background-color: rgba(0, 0, 0, 0.4); 
							}

							.main-gallery-container-p-s-2 {
								max-width: 241px;
    							margin: 0 23px 56px;

    							@media (min-width: $screen-xl-min) {
									max-width: 100%;
									margin: 0
								}
							}

						
							.main-gallery-sp-1 {
					 			object-fit: contain;
								font-family: FbReforma;
								font-size: 2em;
								font-weight: 500;
								font-style: normal;
								font-stretch: normal;
								line-height: 0.9;
								letter-spacing: normal;
								text-align: right;
								color: $main-white;
								margin-bottom: 12px;

								@media (min-width: $screen-md-min) {
									object-fit: contain;
									font-size: 3em;
									line-height: 0.93;
								}

								@media (min-width: $screen-xl-min) {
									//margin: 18px 48px 5px;
									width: 100%;
									max-width: 400px;
								}
					 		}

					 		.main-gallery-sp-2 {
					 			margin-right: 2px;
					 			object-fit: contain;
								font-family: FbReforma;
								font-size: 1.8em;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: 1;
								letter-spacing: normal;
								text-align: right;
								color: $main-white;
								margin-bottom: 5px;
					 		}

					 		.main-gallery-sp-3 {
								margin: 0;
								margin-right: 2px;
					 			object-fit: contain;
								font-family: FbReforma;
								font-size: 1.4em;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: 1.29;
								letter-spacing: normal;
								text-align: right;
								color: $main-white;
					 		}
						}
					}		

					.swiper-slide-3 {
						background-image: url("img/mainimg-gallery-copy.png");
					 	background-repeat: no-repeat;
						object-fit: contain;
						background-size: cover;

						@media (min-width: $screen-xl-min) {
							background-image: url("img/main-gallery.png");
						}

						.main-gallery-wrapper-s-3 {
							height: 100%;


							@media (min-width: $screen-xl-min) {
								//max-width: 370px;
								padding: 18px 48px 0px;
							    height: 161px;
							    background-color: rgba(0, 0, 0, 0.4); 
							}

							.main-gallery-container-p-s-3 {
								max-width: 241px;
    							margin: 0 23px 56px;

    							@media (min-width: $screen-xl-min) {
									max-width: 100%;
									margin: 0
								}
							}

						
							.main-gallery-sp-1 {
					 			object-fit: contain;
								font-family: FbReforma;
								font-size: 2em;
								font-weight: 500;
								font-style: normal;
								font-stretch: normal;
								line-height: 0.9;
								letter-spacing: normal;
								text-align: right;
								color: $main-white;
								margin-bottom: 12px;

								@media (min-width: $screen-md-min) {
									object-fit: contain;
									font-size: 3em;
									line-height: 0.93;
								}

								@media (min-width: $screen-xl-min) {
									//margin: 18px 48px 5px;
									width: 100%;
									max-width: 400px;
								}
					 		}

					 		.main-gallery-sp-2 {
					 			margin-right: 2px;
					 			object-fit: contain;
								font-family: FbReforma;
								font-size: 1.8em;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: 1;
								letter-spacing: normal;
								text-align: right;
								color: $main-white;
								margin-bottom: 5px;
					 		}

					 		.main-gallery-sp-3 {
								margin: 0;
								margin-right: 2px;
					 			object-fit: contain;
								font-family: FbReforma;
								font-size: 1.4em;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: 1.29;
								letter-spacing: normal;
								text-align: right;
								color: $main-white;
					 		}
						}
					}

					.swiper-slide-4 {
						background-image: url("img/mainimg-gallery-copy.png");
					 	background-repeat: no-repeat;
						object-fit: contain;
						background-size: cover;

						@media (min-width: $screen-xl-min) {
							background-image: url("img/main-gallery.png");
						}

						.main-gallery-wrapper-s-4 {
							height: 100%;


							@media (min-width: $screen-xl-min) {
								//max-width: 370px;
								padding: 18px 48px 0px;
							    height: 161px;
							    background-color: rgba(0, 0, 0, 0.4); 
							}

							.main-gallery-container-p-s-4 {
								max-width: 241px;
    							margin: 0 23px 56px;

    							@media (min-width: $screen-xl-min) {
									max-width: 100%;
									margin: 0
								}
							}

						
							.main-gallery-sp-1 {
					 			object-fit: contain;
								font-family: FbReforma;
								font-size: 2em;
								font-weight: 500;
								font-style: normal;
								font-stretch: normal;
								line-height: 0.9;
								letter-spacing: normal;
								text-align: right;
								color: $main-white;
								margin-bottom: 12px;

								@media (min-width: $screen-md-min) {
									object-fit: contain;
									font-size: 3em;
									line-height: 0.93;
								}

								@media (min-width: $screen-xl-min) {
									//margin: 18px 48px 5px;
									width: 100%;
									max-width: 400px;
								}
					 		}

					 		.main-gallery-sp-2 {
					 			margin-right: 2px;
					 			object-fit: contain;
								font-family: FbReforma;
								font-size: 1.8em;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: 1;
								letter-spacing: normal;
								text-align: right;
								color: $main-white;
								margin-bottom: 5px;
					 		}

					 		.main-gallery-sp-3 {
					 			margin: 0;
					 			margin-right: 2px;					 			
					 			object-fit: contain;
								font-family: FbReforma;
								font-size: 1.4em;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: 1.29;
								letter-spacing: normal;
								text-align: right;
								color: $main-white;
					 		}
						}
					}

					.swiper-slide-5 {
						background-image: url("img/mainimg-gallery-copy.png");
					 	background-repeat: no-repeat;
						object-fit: contain;
						background-size: cover;

						@media (min-width: $screen-xl-min) {
							background-image: url("img/main-gallery.png");
						}

						.main-gallery-wrapper-s-5 {
							height: 100%;


							@media (min-width: $screen-xl-min) {
								//max-width: 370px;
								padding: 18px 48px 0px;
							    height: 161px;
							    background-color: rgba(0, 0, 0, 0.4); 
							}

							.main-gallery-container-p-s-5 {
								max-width: 241px;
    							margin: 0 23px 56px;

    							@media (min-width: $screen-xl-min) {
									max-width: 100%;
									margin: 0
								}
							}

						
							.main-gallery-sp-1 {
					 			object-fit: contain;
								font-family: FbReforma;
								font-size: 2em;
								font-weight: 500;
								font-style: normal;
								font-stretch: normal;
								line-height: 0.9;
								letter-spacing: normal;
								text-align: right;
								color: $main-white;
								margin-bottom: 12px;

								@media (min-width: $screen-md-min) {
									object-fit: contain;
									font-size: 3em;
									line-height: 0.93;
								}

								@media (min-width: $screen-xl-min) {
									//margin: 18px 48px 5px;
									width: 100%;
									max-width: 400px;
								}
					 		}

					 		.main-gallery-sp-2 {
					 			margin-right: 2px;
					 			object-fit: contain;
								font-family: FbReforma;
								font-size: 1.8em;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: 1;
								letter-spacing: normal;
								text-align: right;
								color: $main-white;
								margin-bottom: 5px;
					 		}

					 		.main-gallery-sp-3 {
					 			margin: 0;
					 			margin-right: 2px;
					 			object-fit: contain;
								font-family: FbReforma;
								font-size: 1.4em;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: 1.29;
								letter-spacing: normal;
								text-align: right;
								color: $main-white;
					 		}
						}
					}
				}

				.swiper-pagination {
					position: absolute;
					right: 29px;
					bottom: 28px;
					width: fit-content;
					direction: ltr;

					@media (min-width: $screen-xl-min) { 
						right: 50px;
						bottom: 17px;
					}

					.swiper-pagination-bullet {
						width: 10px;
						height: 10px;
						object-fit: contain;
						background-color: $swiper-bullet;
						margin: 0;
						margin-left: 3px;
					}

					.swiper-pagination-bullet-active {
						background-color: $main-white;
					}
				}	
			}
		}

		.top-sec-left {
			width: 100%;

			@media (min-width: $screen-md-min){
				padding: 0;
				
			}

			@media (min-width: $screen-xl-min){ 
				//width: 621px;
				padding: 0;
				margin-right: 10px;
				width: 50%;
			}

			.top-sec-left-img {
				background-image: url("img/banner-big.png");
				background-repeat: no-repeat;
				width: 100%;
				height: 460px;
				margin: 31px 0 0;
				background-size: cover;

				@media (min-width: $screen-md-min) {
					margin: 20px 0 0;
				}

				@media (min-width: $screen-xl-min) {
					margin: 0;
					height: 100%;
				}

				.topSecP-container {

					max-width: 241px;
					margin: 0 23px 56px;

					@media (min-width: $screen-md-min) {
						margin: 0 49px 87px;
						max-width: 340px;
					}

					@media (min-width: $screen-xl-min) {
  						background-color: rgba(0, 0, 0, 0.4);
  						height: 161px;
  						max-width: 100%;
  						width: 100%;
  						margin: 0;
					}

					.topSecP-wrapper {

						@media (min-width: $screen-xl-min) {
							margin: 18px 48px 5px;
							max-width: 370px;
						}

						.topSecP-1 {
							object-fit: contain;
							font-family: FbReforma;
							font-size: 2em;
							font-weight: 500;
							font-style: normal;
							font-stretch: normal;
							line-height: 0.9;
							letter-spacing: normal;
							text-align: right;
							color: $main-white;
							margin-bottom: 12px;

							@media (min-width: $screen-md-min) {
								object-fit: contain;
								font-size: 3em;
								line-height: 0.93;
							}

							
						}

						.topSecP-2 {
							object-fit: contain;
							font-family: FbReforma;
							font-size: 1.8em;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 1;
							letter-spacing: normal;
							text-align: right;
							color: $main-white;
							margin-bottom: 5px;
							margin-right: 2px;
						}

						.topSecP-3 {
							object-fit: contain;
							font-family: FbReforma;
							font-size: 1.4em;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.29;
							letter-spacing: normal;
							text-align: right;
							color: $main-white;
							margin: 0;
							margin-right: 2px;
						}
					}
				}
			}
		}
	}

	.top-sec-bottom-wrapper {
		// max-width: 1222px;

		@media (min-width: $screen-md-min) {
			padding: 0;
			margin-top: 20px;
		}

		@media (min-width: $screen-xl-min) {
			padding: 0;
			margin: 20px 0;
		}

		.sign-up-wrapper {
			width: 100%;

			@media (min-width: $screen-xl-min) {

			}

			.sign-up-container {
				width: 100%;
				margin: 29px 0;
				background-image: url("img/sign-up.png");
				background-repeat: no-repeat;
				background-size: cover;
		
				@media (min-width: $screen-md-min) {
					margin:  0 0 20px 0;
				}

				@media (min-width: $screen-xl-min) {
					padding: 0;
					margin: 0 0 0 10px;
				}

				.sign-up {
					width: 100%;
					height: 212px;

					@media (min-width: $screen-md-min) {
						height: 280px;
					}

					@media (min-width: $screen-xl-min) {
						
					}

					.sign-up-p-sec {

						margin: 45px 23px 20px;

						@media (min-width: $screen-md-min) {
							margin: 76px 84px 0;
						}

						@media (min-width: $screen-xl-min) {
							margin: 0;
							height: 118px;
							background-color: rgba(0, 0, 0, 0.4);
							width: 100%;
						}

						.sign-up-p-wrapper {

							@media (min-width: $screen-xl-min) {
								height: 100%;
								padding: 2px 30px 0 23px;
							}

							.sign-up-p-1 {
								object-fit: contain;
								font-size: 2.4em;
								font-weight: 500;
								font-style: normal;
								font-stretch: normal;
								line-height: 1.67;
								letter-spacing: normal;
								text-align: right;
								color: $main-white;
								margin-bottom: 0;

								@media (min-width: $screen-md-min) {
									margin-bottom: 23px;
									font-size: 3em;
									font-weight: 500;
									line-height: 0.93;
								}

								@media (min-width: $screen-xl-min) {
									margin-bottom: 0;
									font-size: 2.4em;
									font-weight: 500;
									line-height: 1.67;
								}
							}

							.sign-up-p-2 {
								object-fit: contain;
								font-size: 1.8em;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: 0.89;
								letter-spacing: normal;
								text-align: right;
								color: $main-white;
								margin-bottom: 18px;

								@media (min-width: $screen-xl-min) {
									margin-bottom: 0;
									//max-width: 365px;
								}
							}

							.sign-up-button {
								width: 107px;
								height: 40px;
								object-fit: contain;
								border-radius: 3px;
								background-color: #f8a12e;
								box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
								border: solid 1px #f3cd9b;
								font-size: 2em;
								font-weight: 500;
								font-style: normal;
								font-stretch: normal;
								line-height: 0.8;
								letter-spacing: normal;
								color: $main-white;

								@media (min-width: $screen-md-min) {
									width: 150px;
									height: 56px;
									margin-bottom: 23px;
									font-size: 4em;
									line-height: 0.4;
								}

								@media (min-width: $screen-xl-min) {
									width: 69px;
									height: 40px;
									font-size: 2em;
									font-weight: 500;
									line-height: 2;
									text-align: right;
									color: #d57b07;
									background-color: transparent;
									border: 0;
									box-shadow: none;
									padding: 0;
									margin: 0;
								}
							}
						}
					}
				}
			}

			.second-img-container {
				width: 100%;
				background-image: url("img/rectangle-2-copy-6.png");
				background-repeat: no-repeat;
				background-size: cover;
				height: 212px;

				@media (min-width: $screen-md-min) {
					margin: 0 0 20px 0;
					height: 280px;
				}

				@media (min-width: $screen-xl-min) {
					padding: 0;
					margin: 0 10px;
				}

				.second-img-wrapper {
					width: 100%;
					height: 100%;
					margin: 0;
					padding: 45px 23px 27px;

					@media (min-width: $screen-md-min) {
						height: 280px;
						padding: 0 40px 40px 0;
					}

					@media (min-width: $screen-xl-min) {
						padding:0;
					}


					.second-img-p-wrapper {
						max-width: 355px;

						@media (min-width: $screen-xl-min) {
							margin: 0;
							height: 118px;
							background-color: rgba(0, 0, 0, 0.4);
							max-width: 100%;
							width: 100%;
							padding: 3px 30px 10px;
						}

						.second-img-p-1 {
							object-fit: contain;
							font-size: 2.4em;
							font-weight: 500;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.67;
							letter-spacing: normal;
							text-align: right;
							color: $main-white;	
							margin: 0;

						}

						.second-img-p-2 {
							object-fit: contain;
							font-size: 1.8em;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 0.89;
							letter-spacing: normal;
							text-align: right;
							color: $main-white;
							margin-bottom: 0;

							@media (min-width: $screen-xl-min) {
								max-width: 305px;
							}
						}
					}
				}
			}
			.third-img-container {
				width: 100%;
				margin: 29px 0;
				background-image: url("img/rectangle-2-copy-7.png");
				background-repeat: no-repeat;
				background-size: cover;

				@media (min-width: $screen-md-min) {
					margin:0 0 29px 0;
				}

				@media (min-width: $screen-xl-min) {
					padding: 0;
					margin-right: 10px;
					margin-bottom: 0;
				}

				.third-img-wrapper  {					
					width: 100%;					
					height: 212px;
					padding: 45px 23px 27px;

					@media (min-width: $screen-md-min) {
						height: 280px;
						padding: 0 40px 40px 0;
					}

					@media (min-width: $screen-xl-min) {
						padding: 0;
					}

					.third-img-p-wrapper {
						max-width: 355px;

						@media (min-width: $screen-xl-min) {
							height: 100%;
							margin: 0;
							height: 118px;
							background-color: rgba(0, 0, 0, 0.4);
							max-width: 100%;
							width: 100%;
							padding: 3px 30px 10px;
						}

						.third-img-p-1 {
							object-fit: contain;
							font-size: 2.4em;
							font-weight: 500;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.67;
							letter-spacing: normal;
							text-align: right;
							color: $main-white;	
							margin-bottom: 0;
						}

						.third-img-p-2 {
							object-fit: contain;
							font-size: 1.8em;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 0.89;
							letter-spacing: normal;
							text-align: right;
							color: $main-white;
							margin-bottom: 0;
							@media (min-width: $screen-xl-min) {
								max-width: 305px;
							}
						}
					}
				}
			}
		}
	}	

	.bottom-sec-p {
		border-top: solid 1px #dddddd;
		border-bottom: solid 1px #dddddd;

		p {
			padding: 24px 0;
			margin: 0;
			object-fit: contain;
			font-size: 1.6em;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.25;
			letter-spacing: normal;
			text-align: right;
			color: #666666;

			@media (min-width: $screen-md-min) {
				font-size: 1.8em;
				line-height: 1.33;
				color: #333333;
			}

			@media (min-width: $screen-xl-min) {
				color: #4e5665;
				text-align: center;
			}
		}
	}

	.bottom-sec {
		margin-top: 29px;

		// @media (min-width: $screen-md-min) {
		// 	margin-top: 29px;
		// }

		@media (min-width: $screen-xl-min) {
			margin-top: 20px;
		}

		.p-head-1, .p-head-2, .p-head-3 {
			object-fit: contain;
			font-family: FbReforma;
			font-size: 2em;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.2;
			letter-spacing: normal;
			text-align: right;
			color: #0477af;
			margin: 8px 0 2px;

			@media (min-width: $screen-md-min) {
				margin: 11px 0 4px;
			}
		}

		.bottom-sec-p-1, .bottom-sec-p-2, .bottom-sec-p-3 {
			object-fit: contain;
			font-family: FbReforma;
			font-size: 1.6em;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.13;
			letter-spacing: normal;
			text-align: right;
			color: #595959;
			margin: 0 0 20px;
		}

		.bottom-sec-wrapper-1 {

			@media (min-width: $screen-xl-min) {
				margin-left: 10px;
			}

			.bottom-sec-img-1 {
				background-image: url("img/sign-up.png");
				background-repeat: no-repeat;
				width: 100%;
				background-size: cover;
				height: 212px;

				@media (min-width: $screen-md-min) {
					height: 280px;
				}

			}

			.bottom-sec-p-wrapper-1 {
					height: fit-content;

			}
		}

		.bottom-sec-wrapper-2 {

			@media (min-width: $screen-xl-min) {
				margin: 0 10px;
			}

			.bottom-sec-img-2 {
				background-image: url("img/rectangle-2-copy-6.png");
				background-repeat: no-repeat;
				width: 100%;
				background-size: cover;
				height: 212px;

				@media (min-width: $screen-md-min) {
					height: 280px;
				}

				.p-wrapper-2 {
					margin: 0;
				}
			}
		}
		.bottom-sec-wrapper-3 {

			@media (min-width: $screen-xl-min) {
				margin-right: 10px;
			}

			.bottom-sec-img-3 {
				background-image: url("img/rectangle-2-copy-7.png");
				background-repeat: no-repeat;
				width: 100%;
				background-size: cover;
				height: 212px;

				@media (min-width: $screen-md-min) {
					height: 280px;
				}

				.p-wrapper-3 {

				}
			}
		}
	}
}

/* --footer-- */

footer {


	.LogoMerkavaWarpper {
		margin: 30px 0;

		@media (min-width: $screen-md-min) {
			margin: 30px 0 20px;
		}

		.LogoMerkava {
			height: 115px;
			object-fit: contain;
			mix-blend-mode: multiply;
		}
	}

	.footerNavWrapper {

		max-width: 225px;
		margin-bottom: 73px;

		@media (min-width: $screen-md-min) {
			max-width: 100%;
			margin-bottom: 51px;
		}	

		@media (min-width: $screen-xl-min) {
			margin-bottom: 155px;
		}		

		/* --footer navigation-- */

		.footerNav {
			margin: 0 0 0 8px;
			padding: 0;

			a {
				height: fit-content;
				text-decoration: none;

				li {
					object-fit: contain;
					font-family: FbReforma;
					font-size: 1.6em;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					//line-height: 1.38;
					letter-spacing: normal;
					text-align: center;
					color: #0477af;
					line-height: 12px;
				}
			}

			.first {
				border-left: 1px solid #0477af;
				padding-left: 10px;
				margin:0 0 10px 10px;

				@media (min-width: $screen-xl-min) {
					margin: 0 0 0 10px;
				}		
			}

			.second {
				margin-bottom: 10px;

				@media (min-width: $screen-md-min) {
					border-left: 1px solid #0477af;
					padding-left: 10px;
					margin-left: 10px;
				}	

				@media (min-width: $screen-xl-min) {
					margin: 0 0 0 10px;
				}			
			}

			.third {
				padding-left: 10px;

			}

			.last {
				border-right: 1px solid #0477af;
				padding-right: 10px;

				@media (min-width: $screen-xl-min) {
					border-left: 1px solid #0477af;
					padding-left: 10px;
					margin-left: 10px;
				}		
			}

			.lastXl {
				color: #4e5665;
				opacity: 0.8;
			}
		}
	}

	.LogoMerkavaXl {
		opacity: 0.8;
		height: 44px;
	}
}

