@import "./styles/color-palette.scss";
$screen-md-min: 768px;


body {
 	direction: rtl;
 }

.custom-container {
	padding: 0 23px;
	@media screen and (min-width: 768px) {
		padding: 0 18px;
	}

	@media screen and (min-width: 1280px) {
		max-width: 1222px;
	}
}

header {
	object-fit: contain;
	background-color: #0077bf;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
	padding-bottom: 37px;
	position: relative;

	@media screen and (min-width: 768px) {
		padding-bottom: 22px
	}

		@media screen and (min-width: 768px) {
		padding: 0px
	}

	.gery-line {
		position: absolute; 
		top: 75px;
		height: 2px;
		width: 100%;
		object-fit: contain;
		border: solid 1px #1c6897; 
		@media screen and (min-width: 768px) {
			display: block!important;
		}
	}

	.main-container {
		margin-bottom: 43px;

		@media screen and (min-width: 768px) {
			margin-bottom: 22px;
		}

		@media screen and (min-width: 1280px) {
			margin: 0 auto 22px;
			padding: 0;
		}

		.top-sec {
			margin: 19px 0;

			@media screen and (min-width: 768px) {
				margin: 17px 11px 0 0;
			}

			@media screen and (min-width: 1280px) {
				margin: 22px 0 0 0;
			}

			.top-sec-container {
				// margin: 19px 7.5px 19px 9.5px;
				width: 100%;

				.logo {
					@media screen and (min-width: 768px) {
						
					}		

					img {
						height: 44px;
						@media screen and (min-width: 768px) {
							height: 32px;
						}	
					}

					.logo-head-container {
						margin-right: 8px;

						.first-head {
							font-family: FbReforma;
							font-size: 12px;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.33;
							letter-spacing: 1.3px;
							text-align: right;
							color: #ffffff;

							@media screen and (min-width: 768px) {
								font-family: FbReforma;
								font-size: 16px;
								line-height: 1;
								letter-spacing: 1.5px;
							}
						}

						.second-head {
							font-family: OpenSans;
							font-size: 10px;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.6;
							letter-spacing: 1.3px;
							text-align: right;
							color: #ffffff;
							@media screen and (min-width: 768px) {
								font-family: OpenSans;
								font-size: 14px;
								line-height: 1.14;
								letter-spacing: 1.5px;
							}
						}
					}
				}

				.nav-button {
					padding: 0;
					margin: 0;
					border: 0;
					background-color: transparent;
					@media screen and (min-width: 768px) {
						margin-right: 4px;
					}
				}
			}
		}
	}

	.middle-sec {
		padding: 18px 0 0;

		@media screen and (min-width: 768px) {
			margin-left: 3px;
			width: 209px;
		}

		@media screen and (min-width: 992px) {
			margin-left: 0;
			width: fit-content;
		}

		.font-size-container {
			margin-right: 5px;
			margin-left: auto;
			height: fit-content;

			@media screen and (min-width: 768px) {
				margin: 38px auto 0 5px;
				order: 1;
			}

			@media screen and (min-width: 992px) {
				margin: 0 0 0 38px;
			}


			.Abig {
				object-fit: contain;
				font-family: FbReforma;
				font-size: 26px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 0.62;
				letter-spacing: normal;
				text-align: right;
				color: #ffffff;
				margin-left: 8px;
			}

			.Asmall {
				object-fit: contain;
				font-family: FbReforma;
				font-size: 20px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1;
				letter-spacing: normal;
				text-align: right;
				color: #ffffff;
			}
		}

		.middle-sec-container {
			width: 100%;

			 @media screen and (min-width: 768px) {
	
			 }

			 @media screen and (min-width: 992px) {
				margin: 0;
			 }


			.dropdown {
				.lng-btn {
					padding: 0;
					width: 71px;
  					height: 16px;
					background-color: transparent;
					border: none;
					margin-left: 13px;
					object-fit: contain;
					font-family: FbReforma;
					font-size: 20px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.8;
					letter-spacing: normal;
					text-align: right;
					color: #ffffff;
					@media screen and (min-width: 768px) {
						margin-left: 31px;
					}
				}

				.lng-btn::after {
					margin: 3px 13px 0 0;
				}
			}

			.ent-btn {
				color: #fff;
				width: 107px;
				height: 40px;
				object-fit: contain;
				border-radius: 3px;
				background-color: #f5891b;
				box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
				border: solid 1px #ecba88;
				box-sizing: border-box;
				padding: 0;
				@media screen and (min-width: 992px) {
					order: 1;
				}
			}
		}
	}
	.input-sec {
		width: fit-content;
		height: 60px;
   		width: 100%;

   		@media screen and (min-width: 992px) {
			margin: 42px auto 0;
			padding: 0 23px;
		}

		@media screen and (min-width: 1280px) {
			padding: 0;
		}

		.input-container {
			background-color: #fff;
			width: 100%;

			.dropdown {

				.input-toggle {
					object-fit: contain;
					font-family: FbReforma;
					font-size: 20px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.8;
					letter-spacing: normal;
					text-align: right;
					color: #666666;
					background-color: #fff;
					border: none;
					border-left: rgba(102,102,102,0.3) solid 1px; 
					border-radius: 0;
					margin-right: 26px;
					padding-left: 20px;
				}

				.input-toggle::after {
					margin:0 11px 0 1px; 
				}
			}

			// .font-size-container-lg {

			// 	@media screen and (min-width: 992px) {
			// 		display: block;
			// 	}
			// }

			.main-input {
				border: 0;
				padding-right: 20px;
				flex: 1;
				width: 139px;

				@media screen and (min-width: 768px) {
					width: 100%;
				}
			}

			.search-input {
				height: 100%;
				background-color: transparent;
				padding: 0;
				border: 0;
				padding: 0 22px;

				@media screen and (min-width: 576px) {
					padding: 0 22px;
				}

				img {
					
				}
			}
		} 
	}

	.main-nav {
		margin: 0 auto;
		padding: 30px 0;
		@media screen and (min-width: 1280px) {
			display: block;
		}

		ul {
			width: 100%;
			padding: 0;

			li {
				.nav-link {
					font-family: FbReforma;
					font-size: 20px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.8;
					letter-spacing: normal;
					text-align: right;
					color: #ffffff;
					text-decoration: none;
					padding: 0;
				}
			}
		}
	}
}

section {
	@media screen and (min-width: 1280px){
		margin: 20px 0;
	}
	.main-gallery-wrapper {
		padding-top: 37px;

		@media screen and (min-width: 768px) {
			padding-top:20px;
		}

		@media screen and (min-width: 1280px){
			padding: 0;
		}

		.main-gallery {
			width: 100%;
			padding: 0 27.2px;
			max-width: 750px;
			@media screen and (min-width: 768px){
				padding: 0 18px;
			}

			@media screen and (min-width: 1280px){ 
				width: 621px;
				padding: 0;
				margin-left: 20px;
			}

			.swiper-container {


				.swiper-wrapper {
					height: 460px;

					@media screen and (min-width: 992px) {
						height: 320px;
					}

					.swiper-slide-1 {
					 	background-image: url("img/mainimg-gallery.jpg");
					 	background-repeat: no-repeat;
						object-fit: contain;
						// background-size: 100%;
						background-size: cover;
					}
				}	
			}
		}

		.main-gallery-2 {
			width: 100%;
			padding: 0 27.2px;
			max-width: 750px;

			@media screen and (min-width: 768px){
				padding: 0 18px;
			}

			@media screen and (min-width: 1280px){ 
				width: 621px;
				padding: 0;
			}

			.main-gallery-2-img {
				background-image: url("img/mainimg-gallery-copy.png");
				background-repeat: no-repeat;
				width: 100%;
				height: 460px;
				margin: 31px 0 0;
				background-size: cover;
				@media screen and (min-width: 992px) {
					margin: 0;
					height: 320px;
				}
			}
		}
	}

	.reg-section {
		padding: 0 27.2px;
		// max-width: 1222px;

		@media screen and (min-width: 768px) {
			padding: 0 18px;
		}

		@media screen and (min-width: 1280px) {
			max-width: 1260px;
    		margin: 0 auto;
			padding: 0;
		}

		.reg-section-container {
			width: 100%;

			.sign-up-container {
				width: 100%;
				max-width: 750px;
				margin: 29px 0;
				@media screen and (min-width: 768px) {
					padding: 0 18px;
					margin: 20px 0;
				}

				@media screen and (min-width: 992px) {
					padding: 0;
				}

				

				.sign-up {
					background-image: url("img/sign-up.png");
					background-repeat: no-repeat;
					width: 100%;
					background-size: cover;
					height: 212px;
					@media screen and (min-width: 992px) {
						height: 280px;
						margin-left: 19px;
					}
				}
			}
			.second-img-container {
				width: 100%;
				max-width: 750px;

				@media screen and (min-width: 768px) {
					padding: 0 18px;
				}

				@media screen and (min-width: 992px) {
					padding: 0;
					margin-left: 19px;
				}

				.second-img {
					background-image: url("img/rectangle-2-copy-6.png");
					background-repeat: no-repeat;
					width: 100%;
					background-size: cover;
					height: 212px;
					margin: 0;

					@media screen and (min-width: 992px) {
						height: 280px;
					}
				}
			}
			.third-img-container {
				width: 100%;
				max-width: 750px;
				margin: 29px 0;

				@media screen and (min-width: 768px) {
					padding: 0 18px;
					margin: 20px 0;
				}

				@media screen and (min-width: 992px) {
					padding: 0;
				}

				.third-img {
					background-image: url("img/rectangle-2-copy-7.png");
					background-repeat: no-repeat;
					width: 100%;
					background-size: cover;
					height: 212px;

					@media screen and (min-width: 992px) {
						height: 280px;
					}
				}
			}
		}
	}	
}

