@import "./styles/color-palette.scss";

$screen-md-min: 768px;
$screen-xl-min: 1200px;
$main-font: FbReforma;

@font-face {
	font-family: "FbReforma";
	src: url("/fonts/FbReforma-Medium.otf") format("OpenType"),
	     url("/fonts/FbReforma-Regular.otf") format("OpenType");
}

body {
 	direction: rtl;
 	font-family: $main-font;
 }

.custom-container {
	padding: 0 23px;

	@media (min-width: $screen-md-min) {
		padding: 0 18px;
	}

	@media (min-width: $screen-xl-min) {
		max-width: 1222px;
		padding: 0 20px;
	}
}

header {
	object-fit: contain;
	background-color: #0077bf;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
	padding-bottom: 37px;
	position: relative;

	@media (min-width: $screen-md-min) {
		padding-bottom: 22px
	}

	.gery-line { 
		position: absolute;
		top: 75px;
		height: 2px;
		width: 100%;
		object-fit: contain;
		border: solid 1px #1c6897;
	}

	.main-container {
		margin-bottom: 43px;

		@media (min-width: $screen-md-min) {
			margin-bottom: 22px;
		}

		@media (min-width: $screen-xl-min) {
			margin: 0 auto 22px;
			padding: 0 20px;
		}

		.top-sec {
			margin: 19px 0;

			@media (min-width: $screen-md-min) {
				margin: 17px 11px 0 0;
			}

			@media (min-width: $screen-xl-min) {
				margin: 22px 0 0 0;
			}

			.top-sec-container {
				// margin: 19px 7.5px 19px 9.5px;
				width: 100%;

				.logo {

					@media (min-width: $screen-md-min) {
						
					}		

					img {
						height: 44px;

						@media (min-width: $screen-xl-min) {
							height: 32px;
						}	
					}

					.logo-head-container {
						margin-right: 8px;

						.first-head {
							font-family: $main-font;
							font-size: 12px;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.33;
							letter-spacing: 1.3px;
							text-align: right;
							color: $main-white;

							@media (min-width: $screen-md-min) {
								font-size: 14px;
								line-height: 1.14;
								letter-spacing: 1.5px;
							}

							@media (min-width: $screen-xl-min) {
								font-size: 16px;
								line-height: 1;
								letter-spacing: 1.5px;
							}

						}

						.second-head {
							font-family: OpenSans;
							font-size: 10px;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.6;
							letter-spacing: 1.3px;
							text-align: right;
							color: $main-white;

							@media (min-width: $screen-md-min) {
								font-size: 12px;
								line-height: 1.33;
								letter-spacing: 1.5px;
							}

							@media (min-width: $screen-xl-min) {
								font-size: 14px;
								line-height: 1.14;
								letter-spacing: 1.5px;
							}
						}
					}
				}

				.nav-button {
					padding: 0;
					margin: 0;
					border: 0;
					background-color: transparent;
					@media (min-width: $screen-md-min) {
						margin-right: 4px;
					}
				}
			}
		}
	}

	.middle-sec {
		padding: 18px 0 0;

		@media (min-width: $screen-md-min) {
			margin-left: 3px;
			width: 209px;
		}

		@media (min-width: $screen-xl-min) {
			margin-left: 0;
			width: fit-content;
		}

		.font-size-container {
			margin-right: 5px;
			margin-left: auto;
			height: fit-content;
			text-decoration: none;

			@media (min-width: $screen-md-min) {
				margin: 38px auto 0 5px;
				order: 1;
			}

			@media (min-width: $screen-xl-min) {
				margin: 0 0 0 38px;
			}


			.Abig {
				object-fit: contain;
				font-family: FbReforma;
				font-size: 26px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 0.62;
				letter-spacing: normal;
				text-align: right;
				color: $main-white;
				margin-left: 8px;
			}

			.Asmall{
				object-fit: contain;
				font-family: FbReforma;
				font-size: 20px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1;
				letter-spacing: normal;
				text-align: right;
				color: $main-white;
			}
		}

		.middle-sec-container {
			width: 100%;

			 @media (min-width: $screen-md-min) {
	
			 }

			 @media (min-width: $screen-xl-min) {
				margin: 0;
			 }


			.dropdown {
				.lng-btn {
					padding: 0;
					width: 71px;
  					height: 16px;
					background-color: transparent;
					border: none;
					margin-left: 13px;
					object-fit: contain;
					font-family: FbReforma;
					font-size: 20px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.8;
					letter-spacing: normal;
					text-align: right;
					color: $main-white;
					@media (min-width: $screen-md-min) {
						margin-left: 31px;
					}
				}

				.lng-btn::after {
					margin: 3px 13px 0 0;
				}
			}

			.ent-btn {
				color: #fff;
				width: 107px;
				height: 40px;
				object-fit: contain;
				border-radius: 3px;
				background-color: #f5891b;
				box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
				border: solid 1px #ecba88;
				box-sizing: border-box;
				padding: 0;
				@media (min-width: $screen-xl-min) {
					order: 1;
					width: 107px;
					height: 40px;
					border-radius: 4px;
					background-color: #ffffff;
					box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
					font-size: 20px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.8;
					letter-spacing: normal;
					text-align: center;
					color: $ent-bnt-font-color;
				}
			}
		}
	}
	.input-sec {
		width: fit-content;
		height: 60px;
   		width: 100%;

   		@media (min-width: $screen-xl-min) {
			margin: 42px auto 0;
		}

		@media (min-width: $screen-xl-min) {
		}

		.input-container {
			background-color: #fff;
			width: 100%;

			.dropdown {

				.input-toggle {
					object-fit: contain;
					font-family: FbReforma;
					font-size: 20px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.8;
					letter-spacing: normal;
					text-align: right;
					color: #666666;
					background-color: #fff;
					border: none;
					border-left: rgba(102,102,102,0.3) solid 1px; 
					border-radius: 0;
					margin-right: 26px;
					padding-left: 20px;
				}

				.input-toggle::after {
					margin:0 11px 0 1px; 
				}
			}

			// .font-size-container-xl {

			// 	@media (min-width: $screen-xl-min) {
			// 		display: block;
			// 	}
			// }

			.main-input {
				border: 0;
				padding-right: 20px;
				flex: 1;
				width: 139px;

				@media (min-width: $screen-md-min) {
					width: 100%;
				}
			}

			.search-input {
				height: 100%;
				background-color: transparent;
				padding: 0;
				border: 0;
				padding: 0 22px;

				@media (min-width: $screen-md-min) {
					padding: 0 22px;
				}

				img {
					
				}
			}
		} 
	}

	.main-nav {
		margin: 0 auto;
		padding: 20px 20px 0;

		ul {
			width: 100%;
			padding: 0;

			li {
				#navLink {
					font-family: FbReforma;
					font-size: 20px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.8;
					letter-spacing: normal;
					text-align: right;
					color: $main-white;
					text-decoration: none;
					padding: 0;
				}
			}
		}
	}
}

section {

	padding: 0 35px;

	@media (min-width: $screen-md-min) {
		padding: 0 18px;
	}

	@media (min-width: $screen-xl-min) {
		max-width: 1260px;
		margin: 20px auto 0;
		padding: 0 18px;
	}
	.top-sec-wrapper {
		padding-top: 37px;

		@media (min-width: $screen-md-min) {
    		padding: 20px 0 0;
		}

		@media (min-width: $screen-xl-min) {
			padding: 0;
			height: 320px;
		}

		.main-gallery {
			width: 100%;

			@media (min-width: $screen-md-min) {
				padding: 0;
			}

			@media (min-width: $screen-xl-min) { 
				//width: 621px;
				padding: 0;
				padding-left: 10px;
				width: 50%;
			}

			.swiper-container {


				.swiper-wrapper {
					height: 460px;

					@media (min-width: $screen-xl-min) {
						height: 100%;
					}

					.swiper-slide-1 {
					 	background-image: url("img/mainimg-gallery.jpg");
					 	background-repeat: no-repeat;
						object-fit: contain;
						// background-size: 100%;
						background-size: cover;
					}
				}	
			}
		}

		.top-sec-left {
			width: 100%;

			@media (min-width: $screen-md-min){
				padding: 0;
				
			}

			@media (min-width: $screen-xl-min){ 
				width: 621px;
				padding: 0;
				padding-right: 10px;
				width: 50%;
			}

			.top-sec-left-img {
				background-image: url("img/mainimg-gallery-copy.png");
				background-repeat: no-repeat;
				width: 100%;
				height: 460px;
				margin: 31px 0 0;
				background-size: cover;

				@media (min-width: $screen-md-min) {
					margin: 20px 0 0;
				}

				@media (min-width: $screen-xl-min) {
					margin: 0;
					height: 100%;
				}
			}
		}
	}

	.top-sec-bottom-wrapper {
		// max-width: 1222px;

		@media (min-width: $screen-md-min) {
			padding: 0;
			margin-top: 20px;
		}

		@media (min-width: $screen-xl-min) {
			padding: 0;
		}

		.sign-up-wrapper {
			width: 100%;

			@media (min-width: $screen-xl-min) {
				margin-bottom: 20px;
			}

			.sign-up-container {
				width: 100%;
				margin: 29px 0;
				@media (min-width: $screen-md-min) {
					margin:  0 0 20px 0;
				}

				@media (min-width: $screen-xl-min) {
					padding: 0;
					margin: 0;
				}

				

				.sign-up {
					background-image: url("img/sign-up.png");
					background-repeat: no-repeat;
					width: 100%;
					background-size: cover;
					height: 212px;

					@media (min-width: $screen-md-min) {
						height: 280px;
					}

					@media (min-width: $screen-xl-min) {
						margin-left: 10px;
					}
				}
			}
			.second-img-container {
				width: 100%;

				@media (min-width: $screen-md-min) {
					margin: 0 0 20px 0;
				}

				@media (min-width: $screen-xl-min) {
					padding: 0;
					margin: 0 10px;
				}

				.second-img {
					background-image: url("img/rectangle-2-copy-6.png");
					background-repeat: no-repeat;
					width: 100%;
					background-size: cover;
					height: 212px;
					margin: 0;

					@media (min-width: $screen-md-min) {
						height: 280px;
					}
				}
			}
			.third-img-container {
				width: 100%;
				margin: 29px 0;

				@media (min-width: $screen-md-min) {
					margin:0 0 29px 0;
				}

				@media (min-width: $screen-xl-min) {
					padding: 0;
					margin-right: 10px;
					margin-bottom: 0;

				}

				.third-img {
					background-image: url("img/rectangle-2-copy-7.png");
					background-repeat: no-repeat;
					width: 100%;
					background-size: cover;
					height: 212px;

					@media (min-width: $screen-md-min) {
						height: 280px;
					}
				}
			}
		}
	}	

	.bottom-sec-p {
		border-top: solid 1px #dddddd;
		border-bottom: solid 1px #dddddd;

		p {
			padding: 24px 0;
			margin: 0;
			object-fit: contain;
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.25;
			letter-spacing: normal;
			text-align: right;
			color: #666666;

			@media (min-width: $screen-md-min) {
				font-size: 18px;
				line-height: 1.33;
				text-align: right;
				color: #333333;
			}

			@media (min-width: $screen-xl-min) {
				color: #4e5665;
			}
		}
	}

	.bottom-sec {
		margin-top: 36px;

		@media (min-width: $screen-md-min) {
			margin-top: 29px;
		}

		@media (min-width: $screen-xl-min) {
			margin-top: 20px;
		}

		.p-head-1, .p-head-2, .p-head-3 {
			object-fit: contain;
			font-family: FbReforma;
			font-size: 20px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.2;
			letter-spacing: normal;
			text-align: right;
			color: #0477af;
			margin: 8px 0 2px;

			@media (min-width: $screen-md-min) {
				margin: 11px 0 4px;
			}
		}

		.bottom-sec-p-1, .bottom-sec-p-2, .bottom-sec-p-3 {
			object-fit: contain;
			font-family: FbReforma;
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.13;
			letter-spacing: normal;
			text-align: right;
			color: #595959;
			margin: 0 0 20px;
		}

		.bottom-sec-wrapper-1 {

			@media (min-width: $screen-xl-min) {
				margin-left: 10px;
			}

			.bottom-sec-img-1 {
				background-image: url("img/sign-up.png");
				background-repeat: no-repeat;
				width: 100%;
				background-size: cover;
				height: 212px;

				@media (min-width: $screen-md-min) {
					height: 280px;
				}

			}

			.bottom-sec-p-wrapper-1 {
					height: fit-content;

			}
		}

		.bottom-sec-wrapper-2 {

			@media (min-width: $screen-xl-min) {
				margin: 0 10px;
			}

			.bottom-sec-img-2 {
				background-image: url("img/rectangle-2-copy-6.png");
				background-repeat: no-repeat;
				width: 100%;
				background-size: cover;
				height: 212px;

				@media (min-width: $screen-md-min) {
					height: 280px;
				}

				.p-wrapper-2 {
					margin: 0;
				}
			}
		}
		.bottom-sec-wrapper-3 {

			@media (min-width: $screen-xl-min) {
				margin-right: 10px;
			}

			.bottom-sec-img-3 {
				background-image: url("img/rectangle-2-copy-7.png");
				background-repeat: no-repeat;
				width: 100%;
				background-size: cover;
				height: 212px;

				@media (min-width: $screen-md-min) {
					height: 280px;
				}

				.p-wrapper-3 {

				}
			}
		}
		
	}
}

