@import "../util/util";
@import "/header/header";
@import "/top-navigation/top-navigation";
@import "/breadcrumb/breadcrumb";
@import "/footer/footer";
//@import "/fonts";

html {
  direction: rtl;
  font-size: 10px;
  text-align: right;
  font-family: $main-font;
}

body {
  text-align: right;
  font-family: $main-font;
  height: 100%;
}

.custom-container {
  padding: 0 20px;

  @media (min-width: $screen-lg-min) {
    max-width: 1262px;
  }
}


ul {
  text-decoration: none;
  list-style: none;
  font-family: $main-font;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: $main-font;
  text-align: right;
}

button {
	cursor: pointer;
  font-family: $main-font;
}

.form-group {
  position: relative;

  .parsley-errors-list {
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #d53b4a;
    position: absolute;
    //bottom: -15px;
    right: 25px;
    left: auto;
    padding: 0 0 0 5px;
    top:100%;

    @media (min-width: $screen-lg-min) {
      font-size: 1.2rem;
    }
  }
}

.parsley-errors-list.filled {
  margin: 2px 0 0 0;
  z-index: 100;

  ~.help-block{
    display:none;
  }
}

.password-wrapper .parsley-custom-error-message {
  background-color: $main-white;
}

.mobile-menu-open .main-content-wrapper {
  height: 100%;
  overflow: hidden;
}


@keyframes myCartArrowAction {
    0% {
      top: 15px;
      opacity: 1;
    }
    49% {
      top: 50px;
      opacity: 0;
    }
    50% {
      top: -50px;
      opacity: 0;
    }
    100% {
      top: 15px;
      opacity: 1;
    }
  }

  @keyframes fadeOutUpBig {
    from {
      height: 30px;
      width: 30px;
      opacity: 0.7;
      border-radius: 50%
    }

    to {
      //-webkit-transform: translate3d(0, -2000px, 0);
      transform: translate3d(-5500px, -700px, 0);
    }
  }

  .embed-responsive.embed-responsive-16by9 {
    height: 0;
    padding-bottom: 56.25%;
  }


.form-group-password {
  position: relative;

  .parsley-errors-list {
    bottom: -27px;

    @media (min-width: $screen-sm-min) {
      bottom: -15px;
    }

    @media (min-width: $screen-lg-min) {
      bottom: -30px;
    }
  }

  #showPasswordEye, #showPasswordEyeShow, #showPasswordEyeConfirm, #showPasswordEyeConfirmShow {
    position: absolute;
    left: 11px;
    top: 50%;
    right: auto;
    margin: -8px 0 0 0;
    cursor: pointer;
    z-index: 1;

    img {
      height: 17px;
      width: auto;
    }
  }
}

.password-confirm {
  position: relative;
  margin-bottom: 0;

  #showPasswordConfirm {
    position: absolute;
    left: 10px;
    right: auto;
    top: -23px;
    font-size: 1.6rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #0a7bb6;
    cursor: pointer;
  }
}

.hint {
  opacity: 0.51;
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: right;
  color: #6a768a;
  margin: -8px 25px 0 0;
  position: absolute;
  display: none;
  color: #4e5665;
  bottom: -16px;

  @media (min-width: $screen-lg-min) {
      margin: 3px 25px 0 0;
  }
}

input.parsley-error, .has-error input {
  box-shadow: none;
  border-bottom: solid 2px #d53b4a;
}

.parsley-errors-list.filled {
  margin: 2px 0 0 0;
  background-color: $main-white;
  z-index: 100;

  ~.help-block{
    display:none;
  }
}
  


