$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$main-font: FbReforma;

@import "/styles/color-palette";
@import "/header/header";
@import "/top-navigation/top-navigation";
@import "/breadcrumb/breadcrumb";

@font-face {
  font-family: "FbReforma";
  src: url("../fonts/FbReforma-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "FbReforma";
  src: url("../fonts/FbReforma-Medium.otf") format("opentype");
  font-weight: 500;
}

html {
  direction: rtl;
  font-size: 10px;
  text-align: right;
  height: 100%;
}

body {
  text-align: right;
  font-family: $main-font;
  height: 100%;
}

.custom-container {
  padding: 0 18px;

  @media (min-width: $screen-lg-min) {
    max-width: 1222px;
    padding: 0 20px;
  }
}



ul {
  text-decoration: none;
  list-style: none;
  font-family: $main-font;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: $main-font;
  text-align: right;
}

button {
	cursor: pointer;
}


/* --footer-- */

footer {

  .logo-merkava-warpper {

    .logo-merkava {
      height: 35px;
      object-fit: contain;
    }
  }

  .footer-nav-wrapper {

    max-width: 285px;
    margin-bottom: 75px;

    @media (min-width: $screen-lg-min) {
      //margin-bottom: 155px;
      max-width: 100%;
    }

    .merkava-p {
      object-fit: contain;
      font-size: 1.6em;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      //line-height: 1.38;
      letter-spacing: normal;
      text-align: center;
      color: $header-blue;
      line-height: 0.8;
      margin-top: 10px;
    }

    /* --footer navigation-- */

    .footer-nav {
      margin: 0;
      padding: 0;

      a {
        height: fit-content;
        text-decoration: none;

        li {
          object-fit: contain;
          font-size: 1.6em;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          //line-height: 1.38;
          letter-spacing: normal;
          text-align: center;
          color: $header-blue;
          line-height: 0.8;
        }
      }

      .first {
        border-left: 1px solid $header-blue;
        padding-left: 10px;
        margin: 0 0 10px 10px;

        @media (min-width: $screen-lg-min) {
          margin: 0 0 0 10px;
        }
      }

      .second {
        margin-bottom: 10px;

        @media (min-width: $screen-lg-min) {
          margin: 0 0 0 10px;
          border-left: 1px solid $header-blue;
          padding-left: 10px;
        }
      }

      .third {
        padding-left: 10px;

      }

      .last {
        border-right: 1px solid $header-blue;
        padding-right: 10px;

        @media (min-width: $screen-lg-min) {
          border-left: 1px solid $header-blue;
          padding-left: 10px;
          margin-left: 10px;
        }
      }

      .last-xl {

      }
    }
  }

  .logo-merkava-lg {
    opacity: 0.8;
    height: 44px;
    object-fit: contain;
    opacity: 0.7;
    margin-right: 8px;
  }
}


