@import "../util/util";
@import "/header/header";
@import "/top-navigation/top-navigation";
@import "/breadcrumb/breadcrumb";
@import "/footer/footer";

@font-face {
  font-family: 'FbReforma';
  src: url("../fonts/FbReforma-Regular.otf") format("opentype");
  //url('../fonts/FbReforma-Regular.woff2') format('woff2'),
  //url('../fonts/FbReforma-Regular.woff') format('woff');
  font-weight: 400;
}


@font-face {
  font-family: "FbReforma";
  src: url("../fonts/FbReforma-Medium.otf") format("opentype");
  font-weight: 500;
}


html {
  direction: rtl;
  font-size: 10px;
  text-align: right;
}

body {
  text-align: right;
  font-family: $main-font;
  height: 100%;
}

.custom-container {
  padding: 0 20px;

  @media (min-width: $screen-lg-min) {
    max-width: 1262px;
  }
}


ul {
  text-decoration: none;
  list-style: none;
  font-family: $main-font;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: $main-font;
  text-align: right;
}

button {
	cursor: pointer;
}

.form-group {
  position: relative;

  .parsley-errors-list {
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #d53b4a;
    position: absolute;
    bottom: -15px;
    right: 25px;
    padding: 0 0 0 5px;

    @media (min-width: $screen-lg-min) {
      font-size: 1.2rem;
    }
  }
}

.mobile-menu-open .main-content-wrapper {
  height: 100%;
  overflow: hidden;
}


@keyframes myCartArrowAction {
    0% {
      top: 15px;
      opacity: 1;
    }
    49% {
      top: 50px;
      opacity: 0;
    }
    50% {
      top: -50px;
      opacity: 0;
    }
    100% {
      top: 15px;
      opacity: 1;
    }
  }

  @keyframes fadeOutUpBig {
    from {
      height: 30px;
      width: 30px;
      opacity: 0.7;
      border-radius: 50%
    }

    to {
      //-webkit-transform: translate3d(0, -2000px, 0);
      transform: translate3d(-5500px, -700px, 0);
    }
  }

  


