

@font-face {
  font-family: 'FbReforma';
  src: url("../fonts/fbreformaen-regular-webfont.woff") format("woff");
  font-weight: 400;
  unicode-range: U+590–5FF, U+00-3F;
}

// @font-face {
//   font-family: 'FbReforma';
//   src: url("../fonts/fbreformaen-medium-webfont.woff") format("woff");
//   font-weight: 500;
// }

@font-face {
  font-family: 'FbReforma';
  src: url("../fonts/fbreformaen-bold-webfont.woff") format("woff");
  font-weight: 800;
  unicode-range: U+590–5FF, U+00-3F;
}

@font-face {
  font-family: 'fbagol';
  src: url("../fonts/fbagol-lightwebfont.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: 'fbagol';
  src: url("../fonts/fbagol-regularwebfont.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'fbagol';
  src: url("../fonts/fbagol-boldwebfont.woff") format("woff");
  font-weight: 800;
}