@import "../common/common.scss";

.sapakim {
	min-width: 330px;

	#searchInput {
		 padding: 0 0 0 22px;
	}

	.custom-container {
		padding: 0 20px;
	}

	.nav-item-text-6 {
      background-color: rgba(255, 255, 255, 0.19);

		@media (min-width: $screen-lg-min) {
			border-bottom: solid 1px #1c6897; 
		 } 
	}

	.sapakim-top-sec {
		position: relative;
		background-color: $main-white;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
		background-image: url('../common/img/q-and-a-background-pic.png');
		background-repeat: no-repeat;
		background-size: contain;
		margin: 0 0 5px 0;
		padding:0 0 28px 0;

		@media (min-width: $screen-lg-min) {
			height: auto;
			margin: 0 0 53px 0;
			padding:0 100px 0 0;
		}

		.right-line {
			position: absolute;
			right: 0;
			top: 0;
			width: 5px;
			height: 100%;
			//border-radius: 4px;
			background-color: $main-purple;

			@media (min-width: $screen-lg-min) {
				width: 11px;
			}
		}

		.top-sec-container {
			max-width: 1302px; 
			width: 100%;
			padding: 0;
			height: auto;
			position: relative;

			@media (min-width: $screen-lg-min) {
				padding: 31px 111px 81px 30px;
			}

			.sapakim-breadcrumb-wrapper {

				@media (min-width: $screen-lg-min) {
					margin: 0 0 29px 0;
				}

				.breadcrumb {
					margin: 0;	
				}

				.breadcrumb-item  {
					color: $main-purple;
					font-size: 1.6rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.75;
					letter-spacing: normal;
				}
			}

			.sapakim-p-sec {
				margin: 20px 0 0 23px;
				padding: 0 20px;

				@media (min-width: $screen-lg-min) {
					margin: 0 0 23px 0;
					padding: 0;
				}	

				.sapakim-p-container {

					@media (min-width: $screen-lg-min) {
						position: relative;
					}	
				}

				.sapakim-p-wrapper {
					order: 2;
					margin: 0;


					@media (min-width: $screen-lg-min) {
						
					}
				}

				.sapakim-top-icon {
					order: 1;
					width: 47px;
					height: 47px;
					margin: 0 1px 6px 0;

					@media (min-width: $screen-lg-min) {
						width: 116px;
  						height: 116px;
						margin: 0;
						position: absolute;
						top: 0;  
					    right: -150px;
					    top: 10px;
					}
				}	

				.sapakim-head {
					font-size: 3rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 0.83;
					letter-spacing: normal;
					color: $main-purple;

					@media (min-width: $screen-lg-min) {
						font-size: 6.2rem;
						font-weight: 500;
						line-height: normal;
						margin: 0 0 3px 0;
					}	
				}

				.sapakim-top-p {
					font-size: 1.6rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.25;
					letter-spacing: normal;
					color: #4e5665;
					margin: 0 0 0 40px;

					@media (min-width: $screen-lg-min) {
						font-size: 3rem;
						line-height: normal;
						letter-spacing: normal;
						padding: 0 0 0 30px;
						margin: 0;
					}	

					@media (min-width: $screen-xl-min) {
						padding: 0 0 0 165px;
						max-width: 1262px;
					}	
				}
			}
		}
	}

	.sapakim-body {
		margin: 0 0 70px 0;
		padding: 0;
		position: relative;
		

		@media (min-width: $screen-lg-min) {
			padding: 0 10px 100px;
			margin: 0px auto 0;
			max-width: 1262px;
		}

		.sapakim-body-top-sec {
			margin: 21px 0 40px 0;

			@media (min-width: $screen-lg-min) {
				margin: 0 0 61px 0;
			}

			h2 {
				font-size: 2rem;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: 1;
				letter-spacing: normal;
				color: #4e5665;

				@media (min-width: $screen-lg-min) {
					line-height: 2.7;
				}
			}

			p {
				font-size: 1.6rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.25;
				letter-spacing: normal;
				color: #4e5665;
				margin: 0;

				@media (min-width: $screen-lg-min) {
					line-height: 1.75;
				}
			}

			.contact-us-button {
				border-radius: 3px;
				background-color: #0a7bb6;
				box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
				height: 50px;
				width: 100%;
				margin: 38px 0 0 0;
				font-size: 2rem;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 0.5px;
				text-align: center;
				color: $main-white;

				@media (min-width: $screen-lg-min) {
					width: 180px;
					margin: 21px 0 0 0;
				}
			}
		}
		

		.cards-wrapper {
			width: 100%;

			@media (min-width: $screen-lg-min) {
				padding: 0 20px 0 8px;
			}
		}

		.card {
			border: 0;
			width: 100%;
			padding: 0;

			@media (min-width: $screen-lg-min) {

			}
		}

		.card-1 {
			border-top: solid 1px $bottom-border-question; 

			@media (min-width: $screen-lg-min) {
				border-top: 0;
			}
		}

		.supplier {

			.card-header {
				background-color: $main-white;
				padding: 0 20px;
				height: 59px;
				border-bottom: solid 1px $main-purple;
		
			    @media (min-width: $screen-lg-min) {
					padding: 0 17px 0 0;
				    margin: 0;
				    border: 0;
				    height: 65px;
				    border-bottom: solid 3px $main-purple;
				}

				.collapse-arrow {
					width: 14px;
  					height: 8px;
  					margin: 0;
				}
			}

			.closed {
				display: none;
			}

			.supplier-wrapper {
				width: 100%;

				@media (min-width: $screen-lg-min) {
					padding: 0 12px 0 0;
				}

				.supplier-h4 {
	   				font-size: 1.6rem;
					line-height: normal;
					letter-spacing: normal;
					color: #4e5666;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					letter-spacing: normal;
					padding: 0 0 0 15px;
					margin: 0;
					

	   				@media (min-width: $screen-lg-min) {
						padding: 0;
						line-height: 1.25;
						color: #4e5665;
						font-size: 2rem;
					}
	 			}
			}
		}

		.suppliers-list {
			background-color: $main-white;
			font-size: 1.6rem;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #4e5666;
			border-bottom: solid 1px $bottom-border-question;
			padding: 0;

			@media (min-width: $screen-lg-min) {
				font-size: 1.6rem;
				line-height: 1.75;
				border-bottom: solid 3px $main-purple;
				padding: 0;
			}

			.supplier-link-wrapper {
				height: 59px;
				border-bottom: solid 1px $bottom-border-question;
				padding: 0 23px;

				@media (min-width: $screen-lg-min) {
					padding: 0 45px 0 0;
					height: 65px;
				}

				.supplier-link {
					font-size: 1.6rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: $ent-bnt-font-color;
				}
			}

			&:last-child {
				border-bottom: 0;
			}
		}

		.collapsed {

		   .card-header {
		   		width: 100%;
				border-bottom: solid 1px $bottom-border-question;
			}	

			.open {
				display: none;
			}

			.closed {
				display: none;

				@media (min-width: $screen-lg-min) {
					display: block;
				}
			}

			.supplier-p {
				padding: 0;

				@media (min-width: $screen-lg-min) {
					padding: 0!important;
				}
			}

			.collapse-arrow {
				transform: rotate(180deg);
				margin: 0;
			}
		}

		.closed  {
			font-size: 2.1rem;
			height: 24px;
			width: auto;
			line-height: 0;
			padding: 11px 0 0 0;
			font-family:  Serif;
			color: #0a7bb6;
		}

		.open {
			display: none;
			
			@media (min-width: $screen-lg-min) {
				display: block;
				width: 12px;
				height: 2px;
				background-color: #0a7bb6;
			}
		}
	}


	.sapakim-footer {
		padding: 0;
		margin: 0 46px 0;
		border-top: 0;

		@media (min-width: $screen-lg-min) {
			margin: 0 auto 0;
			padding: 38px 0 0 0;
			border-top: solid 1px #dddddd;
			max-width: 1311px;
		}

		.footer-nav-wrapper	{
			margin:0 0 44px 0;
		}
	}
}