@import "../util/util.scss";

.forgot-password-c {
	min-width: 330px;

	.nav-item-text-8 {
      background-color: rgba(255, 255, 255, 0.19);

		@media (min-width: $screen-lg-min) {
			border-bottom: solid 1px #1c6897; 
		 } 
	}
	
	section {
		background-image: url('../common/images/forms-background.png');
		//margin-bottom: 73px;
		position: relative;
		background-size: cover;
		//box-shadow: inset 0 0 0 1000px rgba(1, 46, 92, 0.6);

		@media (min-width: $screen-lg-min) {
			margin: 0;
		}

		.forgot-password-c-container {
			width: 100%;
			margin: 38px 0 62px 0;

			@media (min-width: $screen-lg-min) {
				margin: 108px 0 165px 0;
			}

			@media (min-width: $screen-xl-min) {
				margin: 135px 0 206px 0;
			}

			.forgot-password-c-wrapper {
				height: auto;
				border-radius:3px;
				background-color: #fff;
				width: 100%;
				padding: 24px 18px 30px; 

				@media (min-width: $screen-lg-min) {
					min-height: 570px;
					border-radius:8px;
					padding: 53px 18px 0;
				}

				@media (min-width: $screen-xl-min) {
					min-height: 601px;
				}

				.forgot-password-c-p-wrapper {
					width: auto;
					margin: 0 0 27px 0;

					@media (min-width: $screen-lg-min) {
						margin: 0 0 60px 0;
					}

					.forgot-password-c-head {
						font-size: 3rem;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						color: #4e5665;
						text-align: center;

						@media (min-width: $screen-lg-min) {
							font-size: 6.2rem;
							margin: 0 0 3px 0;
						}
					}
				}


				.forgot-password-c-form-wrapper {
					width: 100%;
					//margin-top: 18px;

					@media (min-width: $screen-lg-min) {
						max-width: 880px;
						margin: 0 0 32px 0;
					}

					.form-group {
						width: 100%;
						margin-bottom: 0;
					}


					input {
						width: 100%;
						height: 43px;
						font-size: 1.5rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: 0.5px;
						color: #6a768a;
						padding: 0px 25px 0 0;

						@media (min-width: $screen-lg-min) {
							height: 50px;
						}
					}

					input.parsley-error,.has-error input {
		              box-shadow: none;
		              border-bottom: solid 2px #d53b4a;
		            }

					.parsley-errors-list.filled {
						margin: 2px 0 0 0;
						background-color: $main-white;
						z-index: 100;

						~.help-block{
							display:none;
						}
					}

					.password-wrapper {
						margin: 0 0 84px 0;
						position: relative;
						max-width: 420px;

						@media (min-width: $screen-lg-min) {
							margin: 0 0 67px 0;
						}

						@media (min-width: $screen-xl-min) {
							margin: 0 0 84px 0;
						}

						input {
							font-size: 1.5rem;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: normal;
							letter-spacing: 0.5px;
							color: #6a768a;
							padding: 0 25px 0 0;

							&::placeholder {
								//color: $main-white;
								color: transparent;
							}
						}


						input[type=password] {
						    font-size: 3rem;
						    letter-spacing: 10px;
							color: $header-blue;
							padding: 6px 25px 0 0;
							line-height: 0;

							&:focus {
								padding: 6px 25px 0 0;
							}
						}

						input:-ms-input-placeholder {
						    color: transparent;
						}

						label {
							position: absolute;
							font-size: 1.6rem;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.56;
							letter-spacing: normal;
							color: #6a768a;
							margin: 0;
							right: 0;
							left: auto;
							top: -23px;
						}

						.form-group-password {
							margin: 0;
						}

						.password-confirm {
							position: relative;
						}

						#showPasswordEye, #showPasswordEyeShow, #showPasswordConfirmEye, #showPasswordConfirmEyeShow {
							position: absolute;
							left: 11px;
							top: 50%;
							right: auto;
							margin: -8px 0 0 0;
							cursor: pointer;

							img {
								height: 17px;
								width: auto;
							}
						}
					}

					.forgot-password-wrapper, .forgot-password-confirm-wrapper {
						position: relative;

						.password-placeholder, .password-confirm-placeholder {
							position: absolute;
							font-size: 1.5rem;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: normal;
							letter-spacing: 0.5px;
							color: #6a768a;
							pointer-events: none;
							opacity: 0.85;
							top: 50%;
							margin: -7px 25px 0 0;
						}

						small {
							position: absolute;
							font-size: 1.6rem;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.56;
							letter-spacing: normal;
							color: #6a768a;
							top: -24px;
						}
					}

					.forgot-password-wrapper {
						margin: 0 0 27px 0;

						@media (min-width: $screen-lg-min) {
							margin: 0 0 58px 0;
						}

						@media (min-width: $screen-xl-min) {
							margin: 0 0 73px 0;
						}
					}

					.forgot-password-c-button {
						width: 100%;
						//margin: 15px 0 45px 0;
						max-width: 330px;

						@media (min-width: $screen-lg-min) {
							width: auto;
						}

						button {
							width: 100%;
	  						height: 50px;
							border-radius: 3px;
							background-color: #0a7bb6;
							box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
							font-size: 2rem;
							font-weight: 500;
							font-style: normal;
							font-stretch: normal;
							line-height: normal;
							letter-spacing: 0.5px;
							text-align: center;
							color: $main-white;

							&:active, &:focus {
					          background-color: #1c6897;
					          color: $header-blue;
					          border: 0;
					        }

							@media (min-width: $screen-lg-min) {
								width: 330px;
							}
						}
					}
				}
			}
		}
	}

	footer {
		margin: 0;
		border: 0;

		.footer-nav-wrapper {
			margin: 70px 0;
			padding: 0;
			border: 0;

			@media (min-width: $screen-lg-min) {
				margin: 31px 0 81px 0;
				min-height: auto;
			}
		}
	}
}