@import "../common/common.scss";

.bids {
	min-width: 330px;

	.main-content-wrapper {
		overflow: hidden;
	}
	
	.custom-container {
		padding: 0 20px;
	}

	.nav-item-text-3 {
		background-color: rgba(255, 255, 255, 0.19);

		@media (min-width: $screen-lg-min) {
			border-bottom: solid 1px #1c6897; 
		}
	}

	.bids-top-sec {
		position: relative;
		height: 205px;
		background-color: $main-white;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
		background-image: url('../common/img/group-13.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position-y: -4px;

		@media (min-width: $screen-lg-min) {
			background-image: url('../common/img/q-and-a-background-pic.png');
			background-size: contain;
			height: 300px;
		}


		.right-line {
			position: absolute;
			right: 0;
			width: 5px;
			height: 100%;
			background-color: $bids-dark-blue;

			@media (min-width: $screen-lg-min) {
				width: 11px;
			}
		}

		.top-sec-container {
			max-width: 1520px; 
			width: 100%;
			padding: 0 20px;

			@media (min-width: $screen-lg-min) {
				//padding: 0 20px;
			}

			.bids-breadcrumb-wrapper {

				margin: 34px 0 47px 0;
				max-width: 1222px;
				padding: 0 130px 0 0;

				
				.breadcrumb {
					margin: 0;	
				}

				.breadcrumb-item  {
					color: $bids-dark-blue;
					font-size: 1.6rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.75;
					letter-spacing: normal;
				}
			}

			.bids-head-wrapper {
				margin: 74px 0 0 0;
				//padding: 0 20px;

				@media (min-width: $screen-lg-min) {
					margin:0;
					padding: 0;
				}

				img {
					height: 92px;
					width: 92px;
					margin: -13px 0 0 0;
				}

				.bids-h-wrapper {
					max-width: 260px;

					@media (min-width: $screen-lg-min) {
						max-width: 570px;
						margin: 0 38px 0 0;
					}

					h1 {
						font-size: 2.5rem;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: 1;
						letter-spacing: normal;
						color: $bids-dark-blue;

						@media (min-width: $screen-lg-min) {
							font-size: 4rem;
							line-height: 0.75;
						}

		

						@media (min-width: $screen-lg-min) {
							font-size: 4rem;
							font-weight: 500;
							font-style: normal;
							font-stretch: normal;
							line-height: normal;
							letter-spacing: normal;
							color: $bids-dark-blue;
						}
					}

					h2 {
						font-size: 1.6rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.25;
						letter-spacing: normal;
						text-align: right;
						color: $text-dark-grey;
						margin: 0;

						@media (min-width: $screen-lg-min) {
							margin: 0 0 3px 0;
							font-size: 3.5rem;
							line-height: normal;
						}
					}
				}
			}
		}
	}

	.bids-body {

		.bids-body-wrapper {
			width: 100%;
			margin:0 0 77px 0;

			@media (min-width: $screen-lg-min) {
				margin:0 0 54px 0;
				border-bottom: solid 1px rgb(224, 224, 224);
			}
		}

		.bids-body-top-sec {
			padding: 20px 0 0 0;

			@media (min-width: $screen-lg-min) {
				padding: 46px 0 51px 20px;
				
			}

			.bid-details-wrapper {
				margin: 0 0 29px 0;

				@media (min-width: $screen-lg-min) {
					width: 100%;
					margin: 0;
				}

				#sub-head-details {

					@media (min-width: $screen-lg-min) {
						margin: 0 0 5px 0;
					}
				}

				h2 {
					font-size: 2.5rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1;
					letter-spacing: normal;
					color: $bids-dark-blue;

					@media (min-width: $screen-lg-min) {
						font-size: 4rem;
						line-height: 0.75;
					}
				}

				span {
					font-size: 1.6rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.56;
					letter-spacing: normal;
					color: $text-dark-grey;

					@media (min-width: $screen-lg-min) {
						font-size: 2rem;
					}
				}
			}

			.details-body {
				margin: 0 0 12px 0;

				@media (min-width: $screen-lg-min) {
					margin: 0 0 35px 0;
				}
			}

			.details-head {
				margin: 0 0 14px 0;

				@media (min-width: $screen-lg-min) {
					margin: 0 0 38px 0;
				}
			}

			.sub-head {
				font-size: 1.6rem;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.25;
				letter-spacing: normal;
				color: $text-dark-grey;
				margin: 0;

				@media (min-width: $screen-lg-min) {
					font-size: 2rem;
				}
			}

			.details-item-wrapper {
				margin: 0 0 7px 0;

				@media (min-width: $screen-lg-min) {
					margin: 0 0 0 93px;
				}
			}

			// .update-date {
			// 	@media (min-width: $screen-lg-min) {
			// 		margin: 0;
			// 	}
			// }

			.right-side-wrapper {
				margin: 0 0 0 60px;

				@media (min-width: $screen-lg-min) {
					margin: 0;
				}
			}

			#status-output {
				color: $status-green;
			}
		}

		#lastDate {
			font-size: 2.5rem;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
			color: $bids-dark-blue;

			@media (min-width: $screen-lg-min) {
				font-size: 4rem;
				line-height: 1.35;
			}
		}

		.bid-contact-wrapper {
			width: 100%;
			height: 216px;
			border-radius: 3px;
			background-color: #ffffff;
			box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
			position: relative;
			padding: 21px 25px 0 0;

			@media (min-width: $screen-lg-min) {
				width: 301px;
				height: 254px;
				border-radius: 2.1px;
				padding: 26px 34px 0 0;
			}

			.right-line {
				position: absolute;
				right: 0;
				top: 0;
				width: 7px;
				height: 100%;
				background-color: $bids-dark-blue;
			}

			.logo-wrapper {
				height: 78px;
				width: 78px;
				margin: 0 0 13px 0;

				@media (min-width: $screen-lg-min) {
					width: 88px;
					height: 88px;
				}

				img {
					width: 100%;
					height: 100%;
				}
			}

			h3 {
				font-size: 3rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 0.93;
				letter-spacing: normal;
				color: $text-dark-grey;
				width: 100%;
				max-width: 210px;

				@media (min-width: $screen-lg-min) {
					font-size: 3.2rem;
				}
			}

			.bid-contact-mail {
				font-size: 1.5rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.87;
				letter-spacing: normal;
				color: $text-dark-grey;
				margin: 0 0 5px 0;

				a {
					color: #1f86bc;
				}
			}
		}
	}

	.related-documents-container-close, .winning-bidders-container-close, .subjects-container-close, .related-bids-container-close {
		min-height: 64px;
		width: 100%;
		border-bottom: solid 1px $bids-border;
		font-size: 3.2rem;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: $text-dark-grey;
		padding: 0 20px;
		cursor: pointer;

		@media (min-width: $screen-lg-min) {
			border: 0;
			margin: 0 auto 20px;
			min-height: auto;

		}
	}

	.border-none {
		border-bottom: 0;
	}

	.grey-arrow {
		width: 12px;
		height: 12px;
		border: solid 1px $text-dark-grey;
	    border-width: 0 2px 2px 0;
	    display: inline-block;
	    transform: rotate(135deg);
	    pointer-events: none;
	}

	.rotate {
		transform: rotate(45deg);
	}

	.related-documents-container {
		padding: 20px 0 40px 0;
		height: 100%;
		margin: 0;
		width: 293px;

		#relatedDocumentsSwiper {
			width: 100%;
		}

		#swiperSlideRelated {
			//width: 293px!important;
		}
	}

	.related-documents-wrapper-desktop {
		margin: 0 auto;
		flex-wrap: wrap;

		@media (min-width: $screen-lg-min) {
			border-bottom: solid 1px $bids-border;
			padding-bottom: 50px;
			margin: 0 auto 53px;
		}
	}
	// .hide {
	// 	display: none;
	// }

	.winning-bidders-main-container {
		//display: none;
		border-bottom: solid 1px $bids-border;
		padding: 0 0 42px 0;
		margin: 10px 0 0 0;
		flex-wrap: wrap;

		@media (min-width: $screen-lg-min) {
			margin: 0 auto 52px;
			padding: 0 20px 50px;
		}

		.swiper-button-next, .swiper-button-prev {
			margin: -6px 0 0 0;
			background-image: none;
			width: 12px;
			height: 12px;
			border: solid 1px $bids-dark-blue;
		    border-width: 0 2px 2px 0;
		    display: inline-block;
		    //pointer-events: none;
		}

		.swiper-button-next {
			right: -17px;
			transform: rotate(-45deg);
		}

		.swiper-button-prev {
			left: -19px;
		    transform: rotate(135deg);
		}
	}

	.bids.custom-container {
		max-width: 1275px;
		margin: 0 auto;
		//padding: 0 15px;
	}

	.hidden {
		visibility: hidden;
		height: 1px;
		margin: 0;
		padding: 0;

		@media (min-width: $screen-lg-min) {
			visibility: visible;
			height: auto;
			margin: 0 auto;
			padding: 0 20px;
		}
	}

	.winning-bidder-container {
		height: 552px;
	    //position: relative;
	    background-color: $bids-purple;
	    // display: none;
	    padding: 26px 0 0 0;
	    margin: 0 20px;
	    border-radius: 3px;

	    @media (min-width: $screen-lg-min) {
			max-width: 597px;
			width: 100%;
			height: 556px;
			border-radius: 8px;
			margin: 0 0 0 10px;
			//margin: 0 10px 0 0;
		}

	    .winning-bidders-content-wrapper {
	    	padding: 0 24px 0 20px;

	    	 @media (min-width: $screen-lg-min) {
				padding: 0 30px 25px;
			}
	    }

	    .winning-bidders-content-head {
	    	margin: 0 0 13px 0;

	    	@media (min-width: $screen-lg-min) {
	    		margin: 0 0 17px 0;
	    	}
	    }

	    .winning-bidders-content-sub-head {
	    	margin: 0 0 4px 0;

	    	@media (min-width: $screen-lg-min) {
	    		margin: 0 0 18px 0;
	    	}
	    }

	    .winning-bidders-content-date-head {
	    	margin: 0 0 14px 0;

	    	@media (min-width: $screen-lg-min) {
	    		margin: 0 0 19px 0;
	    	}
	    }

	    h3 {
			font-size: 2.5rem;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
			color: $text-dark-grey;

			 @media (min-width: $screen-lg-min) {
				font-size: 3.2rem;
				line-height: 0.94;
			}
	    }

	    p {
	    	font-size: 1.6rem;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.13;
			letter-spacing: normal;
			color: $text-dark-grey;	

			 @media (min-width: $screen-lg-min) {
				font-size: 2rem;
				line-height: 1;
			}
	    }
	}


	.a {
    	font-size: 1.6rem;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.13;
		letter-spacing: normal;
		color: $bids-links!important;

		@media (min-width: $screen-lg-min) {
			font-size: 2rem;
			line-height: 1;
		}
    }

    .winning-bidder-container-2 {
		background-color: rgba(223, 110, 17, 0.15);

		 @media (min-width: $screen-lg-min) {
			margin: 0 0 0 0;
		}
	}

	.winning-bidder-container-3 {
		background-color: rgba(51,163,141,.15);
	}

    .hour-link {
		text-decoration: underline!important;
    }


	.winning-bidder {
		position: relative;
	}

	.winning-bidder-1, .winning-bidder-2 {
		margin: 0 0 20px 0;

		@media (min-width: $screen-lg-min) {
			margin: 0 0 10px 0;
		}
	}

	.single-slide-warpper {
		padding: 0 20px;

		@media (min-width: $screen-lg-min) {
			padding: 0 30px;
		}
	}

	.winning-bidders-swiper-wrapper, .single-slide {
		position: absolute;
		bottom: 120px;
		height: 140px;
		width: 100%;

		@media (min-width: $screen-lg-min) {
			bottom: 129px;
		}

		.swiper-slide {
			width: 293px!important;

			@media (min-width: $screen-lg-min) {
				right: 45px;
				//right: 165px;
				//transform: translate3d(193px, 0px, 0px);
			}
		}

		.swiper-slide.swiper-slide-active {
			//margin: 0 40px;
			//right: -7px;

			@media (min-width: $screen-lg-min) {
				//right: 0;
				//margin: 0 15px;
				//right: 165px;
				//margin: 0 0 0 15px;
			}
		}
	}

	.winning-bidders-swiper-wrapper {

		margin: 0 43px 0 0;

		@media (min-width: $screen-lg-min) {
			width: 536px;
			right: 30px;
			margin: 0;
			//position: relative;
			// right: 20px;
		}
	}	

	.single-slide {
		position: static;
		margin: 24px 0 0 0;
		background-color: $main-white;
		width: 293px;

		@media (min-width: $screen-lg-min) {
			margin: 0;
		}
	}

	.winning-bidder-wrapper {
		padding: 22px 15px 0;

	}

	#winningBiddersPagination, #winningBiddersPagination2 {
		margin: 10px -43px 0 0;

		@media (min-width: $screen-lg-min) {
			margin: 10px -10px 0 0;
		}
	}

	.winning-bidders-links {
		position: absolute;
		bottom: 12px;
		padding: 0 24px 5px 55px;
		margin: 20px 0 0 0;

		@media (min-width: $screen-lg-min) {
			padding: 0 30px 0 40px;
			bottom: 18px;
		}	

		a {
			line-height: 1.15;
		}

		span {
			font-size: 1.6rem;
			line-height: 0;
			color: $bids-links;
		}
	}

	.winning-bidders-links-right-side, .winning-bidders-links-left-side {
		display: inline;
	}

	.winning-bidders-links-left-side {
		min-width: 235px;
	}

	.swiper-container {
		//width: 293px;
		height: 140px;
		max-width: 100%;
		//padding: 0 0 0 65px;

		@media (min-width: $screen-lg-min) {
			width: 100%;
			//right: 30px;
		}
	
		.swiper-wrapper {
			width: 100%;
		}

		.swiper-slide {
			border-radius: 2.1px;
			background-color: $main-white;
			box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
			text-align: right;
			//max-width: 293px;
			//width: 100%!important;

			@media (min-width: $screen-lg-min) {
				width: 293px!important;
			}
		}

		.swiper-slide-active {
			//margin: 0 22px;

			@media (min-width: $screen-lg-min) {
				//margin: 0 15px;
			}
		}
	}

	.winning-bidders-swiper {

		@media (min-width: $screen-lg-min) {
			margin: 0;
			//right: 30px;
			width: 536px;
			position: relative;
		}

		.gradient-overlay {
			height: 100%;
			width: 100px;
			left: 0;
			background: linear-gradient(to right, white , transperent);
			position: absolute;
			z-index: 1000;
		}
	}

	.winning-bidders-swiper-2, .winning-bidders-swiper {

		.gradient-overlay {
			height: 100%;
			width: 70px;
			left: 0;
			background: linear-gradient(to right, white , rgba(255,255,255,.2));
			position: absolute;
			z-index: 1000;
		}
	}

	.swiper-pagination {
        position: absolute;
        width: auto;
        z-index: 10;
        margin: 10px 0 0 0;

        .swiper-pagination-bullet {
        	height: 8px;
        	width: 8px;
        	margin: 0 5px 0 0;
        }

        .swiper-pagination-bullet-active {
        	background-color: $bids-dark-blue;
        }
    }

	
	.related-document-wrapper {
		padding: 21px 15px 0;
	}

	.related-documents-swiper {
		padding:0 20px 5px 0;

		@media (min-width: $screen-lg-min) {
			padding: 0;
		}

		.swiper-slide-prev {
			right: -10px;
		}
	}
	


	.download-wrapper {
		margin: 0 0 10px 10px;
	}

	.document-date {
		font-size: 1.4rem;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.43;
		letter-spacing: normal;
		color: $text-dark-grey;
	}

	.document-head {
		//margin: 0 0 23px 0;

		h3 {
			font-size: 2rem;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.15;
			letter-spacing: normal;
			color: $bids-dark-blue;
			//max-width: 253px;
		}
	}

	.download-arrow {
		height: 19px;
		width: 15px;
	}

	.printer-icon {
		height: 19px;
		width: 19px;
		margin: 0 15px 0 0;
	}

	.subjects-container {
		padding: 18px 0 34px 0;
		border-bottom: solid 1px $bids-border;

		@media (min-width: $screen-lg-min) {
			margin: 0 auto 62px;
			padding: 0 14px;
			border-bottom: 0;
		}
	}

	.subjects-wrapper-right {
		margin: 0 0 0 5px;
	}

	.subjects-wrapper-left {

	}

	.subject-wrapper {
		width: 165px;
		height: 37px;
		border-radius: 2px;
		background-color: rgba(233, 235, 240, 0.5);
		margin: 0 0 5px 0;
		font-size: 1.6rem;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1;
		letter-spacing: normal;
		text-align: center;
		color: $text-dark-grey!important;

		@media (min-width: $screen-lg-min) {
			width: 190px;
			height: 57px;
			margin: 6px;
		}
	}

	.related-bids-container {
		//height: 253px;
		position: relative;
		margin: 12px 0 0 0;

		@media (min-width: $screen-lg-min) {
			height: auto;
		}

		.related-bids-swiper {
			//width: 294px;
		}

		.swiper-slide {
			height: 100%;
			width: 293px!important;
			box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);

			@media (min-width: $screen-lg-min) {
				//width: 293px;
				border-radius: 2.1px;
				background-color: #ffffff;
			}
		}

		.right-line {
			position: absolute;
			right: 0;
			width: 6px;
			height: 100%;
			background-color: $bids-dark-blue;
		}

		.related-bid-wrapper {
			padding: 23px 21px 25px 37px;

			h3 {
				font-size: 2rem;
				line-height: 1;
				color: $bids-dark-blue;
				font-weight: normal;
				margin: 0;
			}

			p {
				font-size: 1.6rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.25;
				letter-spacing: normal;
				margin: 0;
			}

			.middle-p {
				line-height: 1.23;
				margin: 15px 0 0 0;

				@media (min-width: $screen-lg-min) {
					margin: 25px 0 0 0;
				}
			}
		}

		.last-date {
			font-size: 20px;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
			margin: 15px 0 0 0;

			h3 {
				color: $text-dark-grey;
				font-weight: 500;
			}

			span {
				font-weight: normal;
			}
		}
	}

	.desktop-slide {
		border-radius: 2.1px;
		background-color: $main-white;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
		text-align: right;
		width: 293px;
		height: 160px;
		margin: 0 0 10px 10px;
	}

	.bids-footer {
		padding: 72px 0 0 0;
		margin: 0 46px 0;

		@media (min-width: $screen-lg-min) {
			margin: 0 165px 0;
			padding: 58px 0 0 0;
			border-top: solid 2px rgba(224,224,224,.3);
		}	
	}

	.footer-border {
		border-top: solid 2px rgba(224,224,224,.3);
	}

	.related-bids-main-container {

		@media (min-width: $screen-lg-min) {
			min-height: 447px;
			background-color: #f4f5f7;
			padding: 54px 0 0 0;
		}	
	}

	.margin-open {
		margin: 0 0 65px 0;
	}

	.related-bids-desktop-container	{

		.related-bid-wrapper {
			padding: 23px 34px 11px 16px;
		}

		.slide {
			width: 293px;
			height: 239px;
			border-radius: 2.1px;
			background-color: $main-white;
			box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
			position: relative;
		}
	}

	.swiper-slide-related {
		width: 293px!important;
	}

	.border {
		@media (min-width: $screen-lg-min) {
			border-bottom: 0!important;
		}
	}
}