@import "../util/util.scss";

.bids {
	min-width: 330px;

	.main-content-wrapper {
		overflow: hidden;
	}
	
	.custom-container {
		padding: 0 20px;
	}

	.nav-item-text-3 {
		background-color: rgba(255, 255, 255, 0.19);

		@media (min-width: $screen-lg-min) {
			border-bottom: solid 1px #1c6897; 
		}
	}

	.bids-top-sec {
		position: relative;
		min-height: 205px;
		background-color: $main-white;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
		

		@media (min-width: $screen-lg-min) {
			background-image: url('../common/img/bids-header-visuals.png');
			min-height: 308px;
			background-repeat: no-repeat;
			background-size: auto;
			background-position: left;
		}


		.right-line {
			position: absolute;
			right: 0;
			width: 5px;
			height: 100%;
			border-radius: 4px 0 0 4px;
			background-color: $bids-dark-blue;

			@media (min-width: $screen-lg-min) {
				width: 11px;
			}
		}

		.top-sec-container {
			max-width: 1262px;
			width: 100%;
			padding: 0 20px;

			@media (min-width: $screen-lg-min) {

			}

			.bids-breadcrumb-wrapper {

				margin: 30px 0 44px 0;
				max-width: 1222px;

				.breadcrumb {
					margin: 0;	
				}

				.breadcrumb-item  {
					color: $bids-dark-blue;
					font-size: 1.6rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.75;
					letter-spacing: normal;
					display: flex;
				}
			}

			.bids-head-wrapper {
				margin: 73px 0 0 0;

				@media (min-width: $screen-lg-min) {
					margin:0;
					padding: 0;
				}

				img {
					height: 92px;
					width: 92px;
				}

				.bids-h-wrapper {
					max-width: 260px;

					@media (min-width: $screen-lg-min) {
						max-width: 740px;
						margin: 0 24px 0 0;
					}

					h1 {
						font-size: 2.5rem;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: 1;
						letter-spacing: normal;
						color: $bids-dark-blue;

						@media (min-width: $screen-lg-min) {
							font-size: 4rem;
							line-height: 0.75;
						}

		

						@media (min-width: $screen-lg-min) {
							font-size: 4rem;
							font-weight: 500;
							font-style: normal;
							font-stretch: normal;
							line-height: normal;
							letter-spacing: normal;
							color: $bids-dark-blue;
						}
					}

					h2 {
						font-size: 1.6rem;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.25;
						letter-spacing: normal;
						text-align: right;
						color: $text-dark-grey;
						margin: 0;

						@media (min-width: $screen-lg-min) {
							margin: 0 0 3px 0;
							font-size: 3.5rem;
							line-height: normal;
						}
					}
				}
			}
		}
	}

	.bids-body {
		width: 100%;

		.body-wrapper {

			@media (min-width: $screen-lg-min) {
				padding: 0 20px;
				max-width: 1262px;
			}
		}

		.bids-top-sec-wrapper {
			width: 100%;
			margin:0 0 77px 0;

			@media (min-width: $screen-lg-min) {
				margin:0 0 54px 0;
				border-bottom: solid 1px rgb(224, 224, 224);
				padding: 0;
				max-width: 1222px;
			}
		}

		.bids-body-top-sec {
			padding: 20px 0 0 0;

			@media (min-width: $screen-lg-min) {
				padding: 46px 0 51px 20px;
				
			}

			.bid-details-wrapper {
				margin: 0 0 29px 0;

				@media (min-width: $screen-lg-min) {
					width: 100%;
					margin: 0;
				}

				#sub-head-details {

					@media (min-width: $screen-lg-min) {
						margin: 0 0 5px 0;
					}
				}

				h2 {
					font-size: 2.5rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1;
					letter-spacing: normal;
					color: $bids-dark-blue;

					@media (min-width: $screen-lg-min) {
						font-size: 4rem;
						line-height: 0.75;
					}
				}

				span {
					font-size: 1.6rem;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.56;
					letter-spacing: normal;
					color: $text-dark-grey;

					@media (min-width: $screen-lg-min) {
						font-size: 2rem;
					}
				}
			}

			.details-body {
				margin: 0 0 12px 0;

				@media (min-width: $screen-lg-min) {
					margin: 0 0 35px 0;
				}
			}

			.details-head {
				margin: 0 0 14px 0;

				@media (min-width: $screen-lg-min) {
					margin: 0 0 38px 0;
				}
			}

			.sub-head {
				font-size: 1.6rem;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.25;
				letter-spacing: normal;
				color: $text-dark-grey;
				margin: 0;
				white-space: nowrap;

				@media (min-width: $screen-lg-min) {
					font-size: 2rem;
				}
			}

			.details-item-wrapper {
				margin: 0 0 7px 0;

				@media (min-width: $screen-lg-min) {
					//margin: 0 0 0 84px;
				}
			}

			.right-side-wrapper {
				margin: 0 0 0 60px;

				@media (min-width: $screen-lg-min) {
					//margin: 0 0 0 70px;
					width: 100%;
				}

				@media (min-width: $screen-xl-min) {
					margin: 0 0 0 80px;
					//width: 100%;
				}
			}

			.left-side-wrapper {
				@media (min-width: $screen-lg-min) {
					width: 100%;
				}
			}

			.date, .update-date {
				margin: 0;

				@media (min-width: $screen-lg-min) {
					margin: 0 0 0 auto;
				}
			}
		}

		#lastDate {
			font-size: 2.5rem;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
			color: $bids-dark-blue;

			@media (min-width: $screen-lg-min) {
				font-size: 4rem;
				line-height: 1.35;
			}
		}

		.bid-contact-wrapper {
			width: 100%;
			min-height: 216px;
			border-radius: 3px;
			background-color: #ffffff;
			box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
			position: relative;
			padding: 21px 25px;

			@media (min-width: $screen-lg-min) {
				width: auto;
				min-width: 301px;
				min-height: 254px;
				height: 100%;
				border-radius: 2.1px;
				padding: 17px 40px 20px 0;
			}

			.right-line {
				position: absolute;
				right: 0;
				left: auto;
				top: 0;
				width: 7px;
				height: 100%;
				background-color: $bids-dark-blue;
			}

			.logo-wrapper {
				height: 78px;
				width: 78px;
				margin: 0 0 13px 0;

				@media (min-width: $screen-lg-min) {
					width: 88px;
					height: 88px;
				}

				img {
					width: 100%;
					height: 100%;
				}
			}

			h3 {
				font-size: 3rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 0.93;
				letter-spacing: normal;
				color: $text-dark-grey;
				width: 100%;
				max-width: 210px;
				margin-bottom: 10px;

				@media (min-width: $screen-lg-min) {
					font-size: 3.2rem;
				}
			}

			.bid-contact-mail, .bid-contact-name {
				font-size: 1.5rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.87;
				letter-spacing: normal;
				color: $text-dark-grey;
				//margin: 0 0 5px 0;

				a {
					color: #1f86bc;
				}
			}

			.bid-contact-name {
				line-height: normal;
			}

			.bid-contact-button {
				margin-top: 5px;

				button {
					width: 180px;
					height: 50px;
					object-fit: contain;
					border-radius: 3px;
					background-color: $header-blue;
					box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
					font-size: 2rem;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: 0.5px;
					text-align: center;
					color: $main-white;


					@media (min-width: $screen-lg-min) {
		                
		           	}

					&:active, &:focus {
			          background-color: #1c6897;
			          color: $header-blue;
			          border: 0;
			        }
				}
			}
		}
	}

	.related-documents-container-close, .winning-bidders-container-close, .subjects-container-close, .related-bids-container-close {
		min-height: 64px;
		width: 100%;
		border-bottom: solid 1px $bids-border;
		font-size: 3.2rem;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: $text-dark-grey;
		padding: 0 20px;
		cursor: pointer;

		@media (min-width: $screen-lg-min) {
			border: 0;
			margin: 0 0 20px;
			min-height: auto;
			pointer-events: none;
			padding: 0;
			max-width: 1222px;
		}
	}

	.related-bids-container-close {
		margin: 0 auto 20px;
		max-width: 1262px;
		padding: 0 20px;
	}

	.border-none {
		border-bottom: 0;
	}

	.grey-arrow {
		width: 12px;
		height: 12px;
		border: solid 1px $text-dark-grey;
	    border-width: 0 2px 2px 0;
	    display: inline-block;
	    transform: rotate(135deg);
	    pointer-events: none;
	}

	.rotate {
		transform: rotate(45deg);
	}

	.related-documents-container {
		padding: 20px 0 40px 0;
		height: 100%;
		margin: 0;
		width: 293px;

		#relatedDocumentsSwiper {
			width: 100%;
		}
	}

	.related-documents-wrapper-desktop {
		margin: 0 auto;
		flex-wrap: wrap;

		@media (min-width: $screen-lg-min) {
			border-bottom: solid 1px $bids-border;
			margin: 0 0 53px;
			padding: 0 0 50px;
			max-width: 1222px;
		}
	}

	.winning-bidders-main-container {
		//display: none;
		border-bottom: solid 1px $bids-border;
		padding: 0 0 42px 0;
		margin: 10px 0 0 0;
		flex-wrap: wrap;

		@media (min-width: $screen-lg-min) {
			margin: 0 0 52px;
			padding: 0 0 50px;
			max-width: 1222px;
		}

		.winning-bidder-main-wrppaer {

			@media (min-width: $screen-lg-min) {
				width: 50%;
				min-width: 601px;
			}
		}

		.swiper-button-next, .swiper-button-prev {
			margin: -6px 0 0 0;
			background-image: none;
			width: 12px;
			height: 12px;
			border: solid 1px $bids-dark-blue;
		    border-width: 0 2px 2px 0;
		    display: inline-block;
		}

		.swiper-button-next {
			right: -17px;
			left: auto;
			transform: rotate(-45deg);
		}

		.swiper-button-prev {
			left: -19px;
			right: auto;
		    transform: rotate(135deg);
		}
	}

	#winningBiddersMainContainer {
		@media (min-width: $screen-lg-min) {
			padding-bottom: 60px;
			margin-bottom: 52px;
		}
	}

	.bids.custom-container {
		max-width: 1275px;
		margin: 0 auto;
	}

	.hidden {
		visibility: hidden;
		height: 1px;
		margin: 0;
		padding: 0;

		@media (min-width: $screen-lg-min) {
			visibility: visible;
			height: auto;
			//margin: 0 auto;
			//padding: 0 20px;
		}
	}

	.hidden.related-documents-container {
		padding: 0;
		
	}

	.winning-bidder-container {
		height: 552px;
	    background-color: $bids-purple;
	    padding: 26px 0 0 0;
	    margin: 0 20px;
	    border-radius: 3px;

	    @media (min-width: $screen-lg-min) {
			max-width: 601px;
			height: 556px;
			border-radius: 8px;
			margin: 0;
		}

	    .winning-bidders-content-wrapper {
	    	padding: 0 24px 0 20px;

	    	 @media (min-width: $screen-lg-min) {
				padding: 0 30px 25px;
			}
	    }

	    .winning-bidders-content-head {
	    	margin: 0 0 13px 0;

	    	@media (min-width: $screen-lg-min) {
	    		margin: 0 0 17px 0;
	    	}
	    }

	    .winning-bidders-content-sub-head {
	    	margin: 0 0 4px 0;

	    	@media (min-width: $screen-lg-min) {
	    		margin: 0 0 18px 0;
	    	}
	    }

	    .winning-bidders-content-date-head {
	    	margin: 0 0 14px 0;

	    	@media (min-width: $screen-lg-min) {
	    		margin: 0 0 19px 0;
	    	}
	    }

	    h3 {
			font-size: 2.5rem;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
			color: $text-dark-grey;

			 @media (min-width: $screen-lg-min) {
				font-size: 3.2rem;
				line-height: 0.94;
			}
	    }

	    p {
	    	font-size: 1.6rem;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.13;
			letter-spacing: normal;
			color: $text-dark-grey;	

			 @media (min-width: $screen-lg-min) {
				font-size: 2rem;
				line-height: 1;
			}
	    }
	}


	.a {
    	font-size: 1.6rem;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.13;
		letter-spacing: normal;
		color: $bids-links!important;

		@media (min-width: $screen-lg-min) {
			font-size: 2rem;
			line-height: 1;
		}
    }

    .winning-bidder-container-2 {
		background-color: rgba(223, 110, 17, 0.15);

		 @media (min-width: $screen-lg-min) {
			margin: 0 0 0 0;
		}
	}

	.winning-bidder-container-3 {
		background-color: rgba(51,163,141,.15);
	}

    .hour-link {
		text-decoration: underline!important;
    }


	.winning-bidder {
		position: relative;
	}

	.winning-bidder-1, .winning-bidder-2 {
		margin: 0 0 20px 0;

		@media (min-width: $screen-lg-min) {
			margin: 0 0 10px 0;
		}
	}

	.single-slide-warpper {
		padding: 0 20px;

		@media (min-width: $screen-lg-min) {
			padding: 0 30px;
		}
	}

	.winning-bidders-swiper-wrapper, .single-slide {
		position: absolute;
		bottom: 120px;
		height: 140px;
		width: 100%;

		@media (min-width: $screen-lg-min) {
			bottom: 129px;
		}

		.swiper-slide {
			width: 293px!important;

			@media (min-width: $screen-lg-min) {
				right: 45px;
				left: auto;
			}
		}
	}

	.winning-bidders-swiper-wrapper {

		margin: 0 43px 0 0;

		@media (min-width: $screen-lg-min) {
			width: 536px;
			right: 30px;
			left: auto;
			margin: 0;
		}
	}	

	.single-slide {
		position: static;
		margin: 24px 0 0 0;
		background-color: $main-white;
		width: 293px;

		@media (min-width: $screen-lg-min) {
			margin: 0;
		}
	}

	.winning-bidder-wrapper {
		padding: 22px 15px 0;

	}

	#winningBiddersPagination, #winningBiddersPagination2 {
		margin: 10px -43px 0 0;

		@media (min-width: $screen-lg-min) {
			margin: 10px -10px 0 0;
		}
	}

	.winning-bidders-links {
		position: absolute;
		bottom: 12px;
		padding: 0 24px 5px 55px;
		margin: 20px 0 0 0;

		@media (min-width: $screen-lg-min) {
			padding: 0 30px 0 40px;
			bottom: 18px;
		}	

		a {
			line-height: 1.15;
		}

		span {
			font-size: 1.6rem;
			line-height: 0;
			color: $bids-links;
		}
	}

	.winning-bidders-links-right-side, .winning-bidders-links-left-side {
		display: inline;
	}

	.winning-bidders-links-left-side {
		min-width: 235px;
	}

	.swiper-container {
		height: 140px;
		max-width: 100%;

		@media (min-width: $screen-lg-min) {
			width: 100%;
		}
	
		.swiper-wrapper {
			width: 100%;
		}

		.swiper-slide {
			border-radius: 2.1px;
			background-color: $main-white;
			box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
			text-align: right;

			@media (min-width: $screen-lg-min) {
				width: 293px!important;
			}
		}
	}

	.winning-bidders-swiper {

		@media (min-width: $screen-lg-min) {
			margin: 0 0 0 30px;
			//width: 536px;
			position: relative;
		}
	}

	.gradient-overlay {
			height: 100%;
			width: 70px;
			left: 0;
			right: auto;
			background: linear-gradient(to right, white , rgba(255,255,255,.2));
			position: absolute;
			z-index: 1000;
		}

	.swiper-pagination {
        position: absolute;
        width: auto;
        z-index: 10;
        margin: 10px 0 0 0;

        .swiper-pagination-bullet {
        	height: 8px;
        	width: 8px;
        	margin: 0 5px 0 0;
        }

        .swiper-pagination-bullet-active {
        	background-color: $bids-dark-blue;
        }
    }

	
	.related-document-wrapper {
		padding: 21px 15px 0;
	}

	.related-documents-swiper {
		padding: 4px 20px 5px 0;

		@media (min-width: $screen-lg-min) {
			padding: 0;
		}

		.swiper-slide-prev {
			right: -10px;
			left: auto;
		}
	}
	


	.download-wrapper {
		margin: 0 0 10px 10px;
	}

	.document-date {
		font-size: 1.4rem;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.43;
		letter-spacing: normal;
		color: $text-dark-grey;
	}

	.document-head {

		h3 {
			font-size: 2rem;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.15;
			letter-spacing: normal;
			color: $bids-dark-blue;
		}
	}

	.download-arrow {
		height: 19px;
		width: 15px;
	}

	.subjects-container {
		padding: 18px 0 34px 0;
		border-bottom: solid 1px $bids-border;

		@media (min-width: $screen-lg-min) {
			margin: 0 auto 62px;
			padding: 0;
			border-bottom: 0;
		}
	}

	.subjects-wrapper-right {
		margin: 0 0 0 5px;
	}

	.subject-wrapper {
		width: 165px;
		height: 37px;
		border-radius: 2px;
		background-color: rgba(233, 235, 240, 0.5);
		margin: 0 0 5px 0;
		font-size: 1.6rem;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1;
		letter-spacing: normal;
		text-align: center;
		color: $text-dark-grey!important;

		@media (min-width: $screen-lg-min) {
			width: 190px;
			height: 57px;
			margin: 0 0 12px 12px;
		}

		&:last-child {
			margin: 0 0 12px 0; 
		}
	}

	.related-bids-container {
		position: relative;
		margin: 8px 0 0 0;

		@media (min-width: $screen-lg-min) {
			height: auto;
		}

		.related-bids-swiper {
			padding: 4px 0;

			@media (min-width: $screen-lg-min) {
				padding: 0;
			}
		}

		.swiper-slide {
			height: 100%;
			width: 293px!important;
			box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);

			@media (min-width: $screen-lg-min) {
				border-radius: 2.1px;
				background-color: #ffffff;
			}
		}

		.swiper-slide-prev {
			right: -20px;
			left: auto;
		}

		.right-line {
			position: absolute;
			right: 0;
			left: auto;
			width: 6px;
			height: 100%;
			background-color: $bids-dark-blue;
		}

		.related-bid-wrapper {
			padding: 23px 21px 25px 37px;

			h3 {
				font-size: 2rem;
				line-height: 1;
				color: $bids-dark-blue;
				font-weight: normal;
				margin: 0;
			}

			p {
				font-size: 1.6rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.25;
				letter-spacing: normal;
				margin: 0;
			}

			.middle-p {
				line-height: 1.23;
				margin: 15px 0 0 0;

				@media (min-width: $screen-lg-min) {
					margin: 25px 0 0 0;
				}
			}
		}

		.last-date {
			font-size: 20px;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
			margin: 15px 0 0 0;

			h3 {
				color: $text-dark-grey;
				font-weight: 500;
			}

			span {
				font-weight: normal;
			}
		}
	}

	.hidden.related-bids-container {
		@media (min-width: $screen-lg-min) {
			padding: 0;
		}
	}

	.desktop-slide {
		border-radius: 2.1px;
		background-color: $main-white;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
		text-align: right;
		width: 293px;
		height: 160px;
		margin: 0 0 10px 10px;
	}

	.bids-footer {
	 	padding: 72px 0 0 0;
	}


	.related-bids-main-container {

		@media (min-width: $screen-lg-min) {
			min-height: 447px;
			background-color: #f4f5f7;
			padding: 54px 0 0 0;
			width: 100%;
		}	
	}

	.margin-open {
		margin: 0 0 65px 0;
	}

	.related-bids-desktop-container	{

		.related-bid-wrapper {
			padding: 23px 34px 11px 16px;
		}

		.slide {
			width: 293px;
			min-height: 239px;
			border-radius: 2.1px;
			background-color: $main-white;
			box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
			position: relative;
			margin: 0 0 0 10px;

			&:last-child {
				margin: 0;
			}
		}
	}

	.swiper-slide-related {
		width: 293px!important;
	}

	.border {
		@media (min-width: $screen-lg-min) {
			border-bottom: 0!important;
		}
	}

	// tender status colors
	.new {
		color: $new !important;
	}

	.updated {
		color: $updated !important;
	}

	.closed {
		color: $closed !important;
	}

	.pre-committees-decision {
		color: $pre-committees-decision !important;
	}

	.cancelled {
		color: $cancelled !important;
	}
}